<div class="container">


		<h1 class="page-header">ROI Calculator Downloads <span class="pluralize-style">&nbsp;( <%= pluralize(@calculators.count, "total ROI downloads") %> )</span></h1>
	
	
	
<hr />

<%= will_paginate(@calculators, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, class: "justify-content-center") %>
<br />
	
<div class="row bold">
	<div class="col-md-2">Name</div>
	<div class="col-md-4">Company</div>
	<div class="col-md-4">Email</div>
	<div class="col-md-2">Date</div>
</div>

<% if @calculators.any? %>
	<% @calculators.each do |download| %>
		<div class="well-sm">
		<div class="row">
			<div class="col-md-2"><%= link_to download.user.firstname + ' ' + download.user.lastname, user_path(download.user) %></div>
			<div class="col-md-4"><%= download.user.company %></div> 
			<div class="col-md-4"><%= download.user.email %></div>
			<div class="col-md-2"><%= download.created_at.strftime("%b %d, %Y") %></div>
		</div>
		</div>
	<% end %>
<% end %>
<br /><br />
<%= will_paginate(@calculators, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, class: "justify-content-center") %>
<br /><br />
</div>