<div class="container" style="padding-bottom: 150px;">

<div class="row">
	<div class="col-11">
		<h1>Licenses</h1>
	</div>
	<div class="col-1">
		<div class="add_currency_btn"><%= link_to "Users", users_path, class: "btn btn-primary" %></div>
	</div>
</div>
<hr />

<div class="row">

<div class="col-lg-12">	

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" id="requested" aria-current="page">Requested</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="approved">Approved</a>
  </li>
</ul>



<div class="main-stage" style="padding: 35px;">
	
	<div class="requested-licenses">
		<% if @requested.any? %>
			<div class="row license-list-header" style="margin-bottom:5px;">
				<div class="col-md-3"><b>User Name</b></div>
				<div class="col-md-3"><b>Type</b></div>
				<div class="col-md-2"><b>Activation</b></div>
				<div class="col-md-4"><div class="float-right"><b>Actions</b></div></div>
			</div>
			<% @requested.each do |license| %>
				<% @user = User.find(license.user_id) %>
				<div class="row">
					<div class="col-md-3"><%= @user.firstname %> <%= @user.lastname %> 
						<%= link_to image_tag("icon-profile.png"), user_path(@user) %>
					</div>
					<div class="col-md-3"><%= license.license_type %></div>
					<div class="col-md-2"><%= license.activation_type %></div>
					<div class="col-md-4">
						<div class="float-right">
							<%= link_to "View", license_path(license), style: "color: limegreen" %> | 
							<%= link_to "Edit", edit_license_path(license) %> | 
							<%= link_to "Delete", license_path(license), method: :delete, data: {confirm: "Are you sure you want to delete this license?"}, style: "color:red;" %>
						</div>
					</div>
				</div>
			<% end %>
		<% else %>
			There are no licenses currently requested
		<% end %>
	</div>
	

	<div class="approved-licenses" >
		<% if @approved.any? %>
			<div class="row license-list-header" style="margin-bottom:5px;">
				<div class="col-md-3"><b>User Name</b></div>
				<div class="col-md-3"><b>Type</b></div>
				<div class="col-md-2"><b>Activation</b></div>
				<div class="col-md-4"><div class="float-right"><b>Actions</b></div></div>
			</div>
			<% @approved.each do |license| %>
				<% @user = User.find(license.user_id) %>
				<div class="row">
					<div class="col-md-3"><%= @user.firstname %> <%= @user.lastname %>
						<%= link_to image_tag("icon-profile.png"), user_path(@user) %>
					</div>
					<div class="col-md-3"><%= license.license_type %></div>
					<div class="col-md-2"><%= license.activation_type %></div>
					<div class="col-md-4">
						<div class="float-right">
							<%= link_to "View", license_path(license), style: "color: limegreen" %> | 
							<%= link_to "Edit", edit_license_path(license) %> | 
							<%= link_to "Delete", license_path(license), method: :delete, data: {confirm: "Are you sure you want to delete this license?"}, style: "color:red;" %>
						</div>
					</div>
				</div>
			<% end %>
		<% else %>
			There are no licenses approved
		<% end %>
	</div>

</div>








</div>

</div>

</div>

<script>
	$(document).on('ready turbolinks:load', function() {
		$("#requested-licenses").css('display', 'inline');
	});
	$(document).on('ready turbolinks:load', function() {
		$('#requested').on('click', function() {
			$('#approved').removeClass('active');
			$('#requested').addClass('active');
			$("#requested").attr("aria-current", "page");
			$("#approved").removeAttr("aria-current", "page");
			$('.approved-licenses').hide();
			$('.requested-licenses').show();
		});
		$('#approved').on("click", function() {
			$("#approved").addClass("active");
			$("#requested").removeClass("active");
			$("#approved").attr("aria-current", "page");
			$("#requested").removeAttr("aria-current", "page");
			$('.approved-licenses').show();
			$('.requested-licenses').hide();
		});
	})();
</script>

