<p>Paragraph about resetting your password.</p>

<h1>Reset password</h1>

<%= render 'shared/errors', obj: @user %>

<div class="row">
  <div class="col-md-4">
    <%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>

      <%= hidden_field_tag :email, @user.email %>

      <%= f.label "New Password" %>
      <%= f.password_field :password, class: 'form-control', placeholder: "Enter New Password" %>

    <br />      
      <%= f.submit "Update password", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>