<div class="container">

<%= render 'shared/errors', obj: @demokit %>



<%= form_for(@demokit, :html => {class: "form-horizontal demokit-form", role: "form"}) do |f| %>

        <% if @demokit.new_record? %>
            <%= f.hidden_field :user_id, value: params[:user_id] %>
        <% else %>
            <%= f.hidden_field :user_id, value: @demokit.user_id %>
        <% end %>
         
        <div class="form-group">
            <div class="row">
                <div class="col-md-5">
                	<div class="form-label"><%= f.label :serial_number %></div>
                    <%= f.text_field :serial_number, class: "form-control", placeholder: "Enter Serial Number", autofocus: true %>
                </div>
                <div class="col-md-4 maker-dropdown">
                    <div class="form-label"><%= f.label "Current Use" %></div>
                    <%= f.select :reason, options_for_select([
                          ["RAOTM","RAOTM"],
                          ["Automation Fair","Automation Fair"], 
                          ["ROK Live","ROK Live"],
                          ["Distributor User", "Distributor Use"],
                          ["Internal Use","Internal Use"],
                          ["Other", "Other"]
                        ], @demokit.reason), { :include_blank=>true}, class: "form-control" %>
                </div>
                <div class="col-md-3">
                    <div class="form-label"><%= f.label "Date of Change" %></div>
                    <%= f.date_field :change_date, class: "form-control" %>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-label"><%= f.label "Region" %></div>
                    <%= f.select :region, options_for_select([
                          ["NA","NA"],
                          ["EMEA","EMEA"], 
                          ["APAC","APAC"],
                          ["LA", "LA"]
                        ], @demokit.region), { :include_blank=>true}, class: "form-control" %>
                </div>
                <div class="col-md-3">
                    <div class="form-label"><label>TM Version</label></div>
                    <%= f.text_field :tmversion, class: "form-control", placeholder: "TM Version" %>
                </div>
                <div class="col-md-3">
                    <div class="form-label"><label>ESXi Version</label></div>
                    <%= f.text_field :esxiversion, class: "form-control", placeholder: "ESXi Version" %>
                </div>
                <div class="col-md-3">
                    <div class="form-label"><%= f.label "Status" %></div>
                    <%= f.select :status, options_for_select([
                          ["In ThinManager Office","In ThinManager Office"],
                          ["Events Team"],
                          ["Mars"],
                          ["Checked Out","Checked Out"], 
                          ["Broken","Broken"],
                          ["Unaccounted For", "Unaccounted For"]
                        ], @demokit.status), { :include_blank=>true}, class: "form-control" %>
                </div>
            </div>
        </div>
<br />
        <hr />

            <h4 style="margin-top:30px; margin-bottom:35px;" align="center">Contact Information</h4>

                <div class="row">
                    <div class="col-md-5 offset-md-1">
                        <% if (@demokit.new_record? && :user_id != nil) && (@demokit.new_record? && @user != nil) %>
                            <span style="font-weight: bold;"><%= @user.firstname %> <%= @user.lastname %></span><br />
                            <%= @user.company %><br />
                            <%= @user.email %><br />
                            <%= @user.cell %>
                        <% elsif (!@demokit.new_record? && :user_id != nil) && (!@demokit.new_record? && @user != nil) %>
                            <span style="font-weight: bold;"><%= @demokit.user.firstname %> <%= @demokit.user.lastname %></span><br />
                            <%= @demokit.user.company %><br />
                            <%= @demokit.user.email %><br />
                            <%= @demokit.user.cell %>
                        <% else %>
                            <p>No User Associated yet.</p>
                        <% end %>
                    </div>
                    <div class="col-md-5">
                        <div class="float-right-to-left">
                        <% if (@demokit.new_record? && :user_id != nil) && (@demokit.new_record? && @user != nil) %>
                            <%= @user.street %><% if @user.street2 != nil && @user.street2 != "" %>, <%= @user.street2 %><% end %><br />
                            <%= @user.city %>, <%= @user.state %> <%= @user.zip %>
                        <% elsif (!@demokit.new_record? && :user_id != nil) && (!@demokit.new_record? && @user != nil) %>
                            <%= @demokit.user.street %><% if @demokit.user.street2 != nil && @demokit.user.street2 != "" %>, <%= @demokit.user.street2 %><% end %><br />
                            <%= @demokit.user.city %>, <%= @demokit.user.state %> <%= @demokit.user.zip %>
                        <% else %>
                            
                        <% end %>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-5 offset-md-1">
                        <h6 style="">Change Associated User</h6>
                        <p>To change or set the user associated to this Demo Kit, insert or change the user ID and save the kit.</p>
                    </div>
                    <div class="col-md-2 offset-md-3">
                        <h6 align="center">User ID</h6>
                        <%= f.text_field :user_id, class: "form-control", style: "text-align:center;" %>
                    </div>
                </div>

        <br /><br />

        <div class="form-group">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="form-label"><%= f.label :notes %></div>
                    <%= f.text_area :notes, class: "form-control", rows: "8", placeholder: "Enter Demo Kit Notes Here" %>
                </div>
            </div>
        </div>
        
        

        <br /><br />
        
        <div class="form-group">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <%= f.submit(@demokit.new_record? ? "Register Kit" : "Update Kit", class: "btn btn-primary btn-lg") %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "Cancel", :back %>
                </div>
            </div>            
        </div>


<% end %>



</div>