<div class="container" style="padding-bottom: 100px;">

<div class="row">
	<div class="col-md-9">
		<h1>Demo Kit <%= @demokit.serial_number %></h1>	
	</div>
	<div class="col-md-3">
		<div class="float-right" style="margin-top:7px;">
			<% if current_user.admin? %>
				<%= link_to "Edit", edit_demokit_path(@demokit), class: "btn btn-warning" %>
			<% end %>
		</div>
	</div>
</div>

<hr style="margin-bottom:5px;" />
<div style="margin-bottom:25px;"><%= link_to "« Back", :back %></div>


<div class="card demo-show-card">
	
	<h5>Contact:</h5>
	<div class="row">
		
		<div class="col-md-6">
			<% if @demokit.user != nil %>
				<%= @demokit.user.firstname %> <%= @demokit.user.lastname %><br />
				<%= @demokit.user.company %><br />
				<%= link_to "#{@demokit.user.email}", "mailto:#{@demokit.user.email}" %><br />
				<%= @demokit.user.cell %>
			<% else %>
				No Assigned Contact for this Demo Kit
			<% end %>
		</div>

		<div class="col-md-6">
			<div class="float-right-to-left">
				<% if @demokit.user != nil %>
					<%= @demokit.user.street %> <% if @demokit.user.street2 != nil && @demokit.user.street2 != '' %>, <%= @demokit.user.street2 %><% end %><br />
					<%= @demokit.user.city %>, <%= @demokit.user.state %> <%= @demokit.user.zip %>
				<% else %>

				<% end %>
			</div>
		</div>

	</div>

	<hr style="margin-top: 35px; margin-bottom: 35px; " />

	<h5>Details:</h5>
	<div class="row">
		<div class="col-md-6">
			Serial Number:&nbsp;&nbsp;&nbsp;<%= @demokit.serial_number %><br />
			ThinManager Version:&nbsp;&nbsp;&nbsp;<%= @demokit.tmversion %><br />
			ESXi Version:&nbsp;&nbsp;&nbsp;<%= @demokit.esxiversion %><br />
		</div>
		<div class="col-md-6">
			<div class="float-right-to-left">
				Status:&nbsp;&nbsp;&nbsp;<%= @demokit.status %><br />
				Purpose:&nbsp;&nbsp;&nbsp;<%= @demokit.reason %><br />
				Region:&nbsp;&nbsp;&nbsp;<%= @demokit.region %><br />
				<% if @demokit.change_date != nil && @demokit.change_date != "" %>
					Date of Action:&nbsp;&nbsp;&nbsp;<%= @demokit.change_date.strftime("%m/%d/%Y") %><br />
				<% end %>
			</div>
		</div>
	</div>
	<br />
	<h5>Notes:</h5>
	<% if @demokit.notes != nil && @demokit.notes != "" %>
		<%= simple_format(@demokit.notes) %>
	<% else %>
		<p style="color:darkorange; font-style: italic;">There are no saved notes</p>
	<% end %>
</div>

</div>