<% if @listings.any? %>
          
      <p align="center"><%= pluralize(@listings.count, "found listing") %></p>
      <% @listings.each do |l| %>
      

      <div class="card listings-card" style="margin-bottom:15px;">
        <div class="card-header">
          <div class="row">
            <div class="col-md-4">
              <b><%= link_to "#{l.firstname} #{l.lastname}", listing_path(l), style: "color:inherit;" %></b>
            </div>
            <div class="col-md-5">
              <b><%= link_to "#{l.company.name}", company_path(l.company) %></b>
              <% if l.company.story_path != nil && l.company.story_path != "" %>
                &nbsp;&nbsp;<span style="font-size:.75em;">[<%= link_to "Read Success Story", "#{l.company.story_path}", target: "_blank", style: "color: #333333;" %>]<span>
              <% end %> 
            </div>
            <div class="col-md-3">
              <div class="float-right-to-left">
                <%= l.list_type %>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-9">
              <%= l.city %><% if l.state != "" && l.state != nil %>, <%= l.state %><% end %>
            </div>
            <div class="col-md-3">
              <div class="float-right-to-left">
                <%= l.email %>
              </div>
            </div>
          </div>
        </div>
      </div>
        
        




      <% end %>
      

      <% if @listings.count > 20 %>
        <div class="paginate" style="margin-top:20px;">
          <%= will_paginate(@listings, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
        </div>
      <% end %>


<% else %>

  <p align="center" style="color:darkorange; margin-top:45px;">There are no listings or results to your query</p>

<% end %>


