<div class="container" style="padding-bottom:100px;">

	<div class="row">
		<div class="col-md-9">
			<h1>Partner Web Listings</h1>
		</div>
		<div class="col-md-3">
			<% if logged_in? && current_user.admin? %>
			<div class="float-right">
				<%= link_to "Add Listing", users_path, class: "btn btn-sm btn-primary", style: "margin-top:14px;" %>
			</div>
			<% end %>
		</div>
	</div>
	<hr />

	

<%= form_for_filterrific(@filterrific, :html => {class: "form-horizontal", role: "form"}) do |f| %>


	<div class="container listings-filters">			  
			<div class="form-group">
				
				<div class="row">
			  	
					  <div class="col-md-6" style="margin-bottom:10px;">
					    <div class="form-label">Search</div>
					    <%= f.text_field(
					      :listing_search,
					      class: 'filterrific-periodically-observed form-control'
					    ) %>
					  </div>

					  <div class="col-md-6" style="margin-bottom:10px;">
					  	<div class="form-label">Status</div>
					  	<%= f.select(
					      :with_listing_status,
					      @filterrific.select_options[:with_listing_status],
					      { include_blank: '- All -' }, class: "form-control"
					    ) %>
					  </div>

				</div>
				<div class="row" style="margin-top:10px;">
					<div class="col-sm-3 offset-sm-9">
					    <%= link_to 'Reset filters', reset_filterrific_url, class: "float-right" %>
					</div>
				</div>
			
			</div>

			<hr style="margin-top:25px; margin-bottom: 25px; border-color: #818181;" />

	</div>

	<div class="form-group" >
		<div class="row" style="margin-bottom: 35px;">
			<div class="col-md-8"><h4 style="padding-top:22px; margin-bottom: 0px;">Results</h4></div>	
			  <div class="col-md-4 sort-options">
			    <div class="form-label">Sorted by</div>
			    <%= f.select(:listing_sort, @filterrific.select_options[:listing_sort], class: "form-control") %>
		   </div>
		</div>
	</div>

<% end %>


<div class="hw-loader"><%= render_filterrific_spinner %></div>


<div class="col-12">

	<%= render(
		partial: 'listings/list',
		locals: { listings: @listings }
	) %>

</div>

</div>