<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <div style="width:100%; max-width: 750px; margin:auto; margin-top: 0px !important; padding-top:0px !important; font-family: 'Helvetica', san-serif;">
      <img src="https://thinmanager.com/images/email_headers/EventRegisterNoticeHeader.jpg" width="100%" alt="Thank you for registering" />


      <div style="margin-top: 45px; padding-left:25px; padding-right: 25px;">
        
        <p>Dear <%= @user.firstname %>,</p>
        
        <p>This message is confirmation of your registration for an upcoming ThinManager event. Please check the details below.</p>

        <h3 style="margin-top:35px;">Event Details</h3>

        <p style="line-height:18pt;">
          <b>Name:</b> <%= @event.name %><br />
          <b>Description:</b> <%= simple_format(@event.description) %><br />
          <b>Date:</b> <%= @event.starttime.strftime("%m/%d/%Y") %>
        </p>
        <p>You can add the event to your calendar by visiting the <%= link_to "event page", event_url(@event), target: "_blank" %> and clicking the "Add to Calendar" link located towards the bottom of the page.</p>
        <br />
        <% if @event.virtual? %>
          <p>If additional information is needed for the "day of event" details, it will be emailed to you before the event.</p>
        <% end %>
        
        <p>You can check your registration status and find additional event information by logging into your ThinManager Partner Portal account <%= link_to "here", "https://partners.thinmanager.com" %>. If you need additional assistance, please contact the events team at <%= link_to "events@thinmanager.com", "mailto:events@thinmanager.com" %>.</p>
        <br />
        <p>Thank you,</p>

        <p>The ThinManager Team</p>

      </div>

    </div>
    
    

  </body>
  </html>