<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div style="font-family: 'Helvetica', san-serif; width:100%; max-width:560px; margin:auto; text-align: center;">
        
        <div style="margin: auto;">
          <img src="https://thinmanager.com/images/email_headers/PortalNotification-Header.jpg" width="100%" />
        <br /><br />
          <div style="text-align: center;">
            <h2 style="margin-bottom: 35px;">Event Registration <span style="color:red;">Cancellation</span></h2>
          </div>
        </div>

        <p>Event Registration in the ThinManager Portal</p>
        
        <p style="font-weight:bold; margin-top: 35px;">User Information</p>
        <p>
          <%= @user.firstname %> <%= @user.lastname %><br />
          <%= @user.company %><br />
          <%= @user.email %>
        </p>
        

        <p style="font-weight:bold; margin-top: 55px;">Event Details</p>

        <p>
          <%= @event.name %><br />
          <% if @event.evtcategories.any? %>
            <%= @event.evtcategories.first.name %><br />
          <% end %>
          <%= @event.starttime.strftime("%m/%d/%Y") %>
        </p>

        <p align="center" style="margin-top:45px;">Cancellation on: <%= Date.today.strftime("%m/%d/%Y") %></p>
    
    </div>
  </body>
</html>