<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div style="font-family: 'Helvetica', san-serif; width:560px; padding: 20px; margin:auto; text-align: center;">
        
        <div style="margin: auto;">
        <img src="https://thinmanager.com/images/email_headers/PortalNotification-Header.jpg" width="560px" />
        <br /><br />
        </div>

        <h2>Event User moved<br />from WAITLIST Automatically</h2>

        <p>A user was moved from an event waitlist automatically to the event registrants automatically in the Portal</p>
        
        <p style="font-weight:bold; margin-top: 35px;">User Information</p>
        <p>
          <%= @user.firstname %> <%= @user.lastname %><br />
          <%= @user.company %><br />
          <%= @user.email %>
        </p>
        
        

        <p style="font-weight:bold; margin-top: 55px;">Event Details</p>

        <p>
          <%= @event.name %><br />
          <%= @event.evtcategories.first.name %><br />
          <%= @event.starttime.strftime("%m/%d/%Y") %>
        </p>

        <p align="center" style="margin-top:45px;">Registration change occurred: <%= Date.today.strftime("%m/%d/%Y") %></p>
    
    </div>
  </body>
</html>