<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div style="font-family: 'Helvetica', san-serif; width:100%; max-width:560px; margin:auto; text-align: center;">
        
        <div style="margin: auto;">
          <img src="https://thinmanager.com/images/email_headers/PortalNotification-Header.jpg" width="100%" />
        <br /><br />
          <div style="text-align: center;">
            <h2 style="margin-bottom: 35px;">Web Listing Request</h2>
          </div>
        </div>

        <p>Web Listing requested<br />from the ThinManager Portal</p>
        
        <p style="font-weight:bold; margin-top: 35px;">User Submitting Request</p>
        <p>
          <%= @user.firstname %> <%= @user.lastname %><br />
          <%= @user.company %>
        </p>
        <br />
        <h4>Web Listing Information</h4>

        <p>
          <%= @listing.firstname %> <%= @listing.lastname %><br />
          <%= @listing.list_type %><br />
          <%= @listing.country %>
        </p>
        
        <br />
        <p>Date Requested: <%= @listing.created_at.strftime("%m/%d/%Y") %>
        
    </div>
  </body>
</html>