<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div style="font-family: 'Helvetica', san-serif; width:100%; max-width:560px; margin:auto; text-align: center;">
        
        <div style="margin: auto;">
        <img src="https://thinmanager.com/images/email_headers/PortalNotification-Header.jpg" width="100%" />
        <br /><br />
        </div>

        <h2>ROI Portal Account</h2>

        <p>An account has been created in the Portal related to the ROI Calculator</p>
        
        <p style="font-weight:bold; margin-top: 35px;">User Information</p>
        <p>
          <%= @user.firstname %> <%= @user.lastname %><br />
          <%= @user.company %><br />
          <%= @user.email %>
        </p>
        
        <p>Self Identified as:&nbsp;
          <% if @user.distributor %>
              Distributor
            <% elsif @user.integrator %>
              Integrator
            <% elsif @user.end_user %>
              End User
            <% elsif @user.oem %>
              OEM
            <% else %> 
              &nbsp;
          <% end %>
        </p>

        
        <p align="center" style="margin-top:45px;">Created on: <%= @user.created_at.strftime("%m/%d/%Y") %></p>
    
    </div>
  </body>
</html>