<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div style="font-family: 'Helvetica', san-serif; width:100%; max-width:560px; margin:auto; text-align: center;">
    <img src="https://thinmanager.com/images/email_headers/PortalNotification-Header.jpg" width="100%" />
    <br /><br />
    
    <h2 >ThinManager Download Alert</h2>
  
    <p><span style="font-weight:bold;">Notice of Download</span> in the Portal</p>
    <br />
    <p style="font-weight:bold;">User Information</p>
    <p>
      <%= @user.firstname %> <%= @user.lastname %><br />
      <%= @user.company %><br />
      <%= @user.email %>
    </p>
    
    <p>Self Identified as:&nbsp;
      <% if @user.distributor %>
          Distributor
        <% elsif @user.integrator %>
          Integrator
        <% elsif @user.end_user %>
          End User
        <% elsif @user.oem %>
          OEM
        <% else %> 
          &nbsp;
      <% end %>
    </p>
<br />
    <p>User Account originally<br />created on: <%= @user.created_at.strftime("%m/%d/%Y") %></p>
    
    </div>
  </body>
</html>