<div class="container">

<div class="row">
	<div class="col-md-9">
		<h1>Available Currencies</h1>
	</div>
	<div class="col-md-3">
		<div class="add_currency_btn"><%= link_to "Add Currency", new_currency_path, class: "btn btn-primary" %></div>
	</div>
</div>
<hr />
<div class="well" style="background-color: transparent; padding-bottom: 3px;">
<div class="row">
	<div class="col-sm-5">
		<span style="font-weight: bold;">Name:</span>
	</div>
	<div class="col-sm-2">
		<span style="font-weight: bold;">Symbol:</span>
	</div>
	<div class="col-sm-2">
		<span style="font-weight: bold;">Rate:</span>
	</div>
</div>
</div>
<% @currencies.each do |c| %>
	
	<div class="well" style="margin-bottom: 5px;">
		<div class="row">
			<div class="col-sm-5">
				<%= c.name %>
			</div>
			<div class="col-sm-2">
				<%= c.symbol %>
			</div>
			<div class="col-sm-2">
				<%= c.rate %>
			</div>
			
			<div class="col-sm-3">
				<%= link_to "Edit", edit_currency_path(c), style: "float:right;" %>
			</div>
		</div>
	</div>
	

<% end %>

</div>