<%= render 'shared/errors', obj: @user %>


<div class="row">
    <div class="col">
    <%= form_for(@user, :url => {action: :signup_evt}, :html => {class: "form-horizontal", role: "form"}) do |f| %>

        
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <div class="control-label col-sm-12">
                            <%= f.label :firstname %>
                        </div>
                        <div class="col-sm-12">
                            <%= f.text_field :firstname, class: "form-control", placeholder: "Enter First Name" %>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="control-label col-sm-12">
                            <%= f.label :lastname %>
                        </div>
                        <div class="col-sm-12">
                            <%= f.text_field :lastname, class: "form-control",  placeholder: "Enter Last Name" %>
                        </div>
                    </div>
                </div>
            
                <div class="row">
                    <div class="col-md-6">
                        <div class="control-label col-md-12">
                            <%= f.label :email %>
                        </div>
                        <div class="col-md-12">
                            <%= f.email_field :email, class: "form-control",  placeholder: "Enter Email Address" %>
                        </div>
                       
                    </div>
                     <% if @user.new_record? %>
                        <div class="col-md-6">
                            
                            <div class="control-label col-sm-12">
                                <%= f.label :email_confirmation %>
                            </div>
                            <div class="col-sm-12">
                                <%= f.email_field :email_confirmation, class: "form-control",  placeholder: "Re-enter Email Address" %>
                            </div>
                        </div>
                        <% end %>
                </div>
            </div>

            <br />
            <hr />
            <br />

            <div class="form-group">
                <div class="row">
                    <div class="col-md-7" style="margin-bottom: 10px;">
                        
                            <div class="control-label col-sm-12">
                                <%= f.label :company %>
                            </div>    
                            <div class="control-label col-sm-12">
                                <%= f.text_field :company, class: "form-control",  placeholder: "Enter Company Name" %>
                            </div>
                        
                    </div>

                    <div class="col-md-5">
                        <div class="control-label col-sm-12">
                            <%= f.label "Channel Affiliation if any?" %>
                        </div>
                        <div class="col-md-12 state-dropdown" style="margin-bottom: 10px;">
                            <%= f.select :channel, options_for_select([
                                  [""],
                                  ["Rockwell Automation"], 
                                  ["Wonderware"],
                                  ["GE"]
                            ], @user.channel), class: "form-control", style: "" %>
                        </div>
                    </div>
                </div>

                
                <div class="col-md-12" style="margin-bottom: 10px;">
                    <div class="row">
                        <div class="control-label col-md-12">
                            <%= f.label "Address" %>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 5px;">
                        <div class="col-md-8" style="margin-bottom: 5px;">
                            <%= f.email_field :street, class: "form-control",  placeholder: "Enter Street Address" %>
                        </div>
                        <div class="col-md-4">
                            <%= f.email_field :street2, class: "form-control",  placeholder: "Suite/Apt/#" %>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 10px;">
                        <div class="col-md-5" style="margin-bottom: 5px;">
                            <%= f.text_field :city, class: "form-control",  placeholder: "City" %>
                        </div>
                        <div class="col-md-3 state-dropdown" style="margin-bottom: 5px;">
                            <%= f.select :state, options_for_select([
                              
                              ["Not in US"],
                              ["AL"], 
                              ["AK"], 
                              ["AZ"], 
                              ["AR"], 
                              ["CA"],
                              ["CO"],
                              ["CT"],
                              ["DE"],
                              ["FL"],
                              ["GA"],
                              ["HI"],
                              ["ID"],
                              ["IL"],
                              ["IN"],
                              ["IA"],
                              ["KS"],
                              ["KY"],
                              ["LA"],
                              ["ME"],
                              ["MD"],
                              ["MA"],
                              ["MI"],
                              ["MN"],
                              ["MS"],
                              ["MO"],
                              ["MT"],
                              ["NE"],
                              ["NV"],
                              ["NH"],
                              ["NJ"],
                              ["NM"],
                              ["NY"],
                              ["NC"],
                              ["ND"],
                              ["OH"],
                              ["OK"],
                              ["OR"],
                              ["PA"],
                              ["RI"],
                              ["SC"],
                              ["SD"],
                              ["TN"],
                              ["TX"],
                              ["UT"],
                              ["VT"],
                              ["VA"],
                              ["WA"],
                              ["WV"],
                              ["WI"],
                              ["WY"]
                              ], @user.state), {:prompt => '-- Select State --'}, class: "form-control" %>
                        </div>
                        <div class="col-md-4">
                            <%= f.text_field :zip, class: "form-control",  placeholder: "Zip/Postal Code" %>
                        </div>
                    </div>
                </div>
                     
                
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-7">
                        <div class="control-label col-sm-12">
                            <%= f.label "Mobile Number" %>
                        </div>
                        <div class="col-sm-12">
                            <%= f.text_field :cell, class: "form-control",  placeholder: "Cell/Mobile Number" %>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="control-label col-sm-12">
                            <%= f.label :carrier %>
                        </div>
                        <div class="col-sm-12 carrier-dropdown">
                            <%= f.select :carrier, options_for_select([
                              [ ],
                              ["AT&T", "at&t"], 
                              ["Verizon", "verizon"], 
                              ["Sprint", "sprint"],
                              ["T-Mobile", "t-mobile"], 
                              ["Boost", "boost"],
                              ["Cricket Wireless", "cricket"],
                              ["Metro PCS", "metropcs"]
                              ], @user.carrier), class: "form-control" %>
                        </div>
                    </div>
                </div>
            </div>


            <hr style="margin-top:50px;" />
            

                <br />
                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="row" style="margin-bottom: 15px;">
                            <div class="control-label col-md-12" style="font-weight: bold;">
                                <%= simple_format(@tm) %>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <%= f.label "Distributor?" %>&nbsp;&nbsp;&nbsp;<%= f.check_box :distributor %>
                            </div>
                            <div class="col-md-3">
                                <%= f.label "Integrator?" %>&nbsp;&nbsp;&nbsp;<%= f.check_box :integrator %>
                            </div>
                            <div class="col-md-3">
                                <%= f.label "End User?" %>&nbsp;&nbsp;&nbsp;<%= f.check_box :end_user %>
                            </div>
                            <div class="col-md-3">
                                <%= f.label "OEM?" %>&nbsp;&nbsp;&nbsp;<%= f.check_box :oem %>
                            </div>
                        </div>
                    </div>
                </div>
           
            
            
            
            
            <%= hidden_field_tag "id", "#{@event.id}" %>
            
            <hr style="margin-top:35px; margin-bottom: 35px;" />



             <div class="form-group">
                <div class="row">
                    <div class="col-md-6" style="margin-bottom: 20px;">
                        <div class="control-label col-sm-12">
                            <%= f.label "account Password" %>
                        </div>
                        <div class="col-sm-12 password-field">
                            <%= f.password_field :password, class: "form-control",  placeholder: (@user.new_record? ? "Enter Password" : "New Password") %>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="control-label col-sm-12">
                            <%= f.label :password_confirmation %>
                        </div>
                        <div class="col-sm-12 password-conf-field">
                            <%= f.password_field :password_confirmation, class: "form-control",  placeholder: (@user.new_record? ? "Re-Enter Password" : "Re-Enter new password") %>
                        </div>
                    </div>
                </div>
            </div>
        
        <br /><br />
        

        <div class="form-group">
            <div class="col-sm-12">
                <%= f.submit "Create Account", class: "btn btn-primary btn-lg" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "Cancel", event_path(@event) %>
            </div>
            
            
        </div>
    <% end %>
    </div>
</div>