<%= render 'shared/errors', obj: @user %>


<div class="row">
    <div class="col-sm-10 offset-sm-1">
    <%= form_for(@user, :html => {class: "form-horizontal", role: "form"}) do |f| %>

        <% if @current_user.admin? %>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-12" style="text-align: right; font-weight:bold;">
                        <%= f.label "Base User" %>&nbsp;&nbsp;&nbsp;<%= f.check_box :needs_review %>
                    </div>
                </div>
            </div>
        <% end %>


            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <div class="control-label col-sm-12">
                            <%= f.label :firstname %>
                        </div>
                        <div class="col-sm-12">
                            <%= f.text_field :firstname, class: "form-control", placeholder: "Enter First Name" %>
                        </div>
                    </div>
                    <div class="col">
                        <div class="control-label col-sm-12">
                            <%= f.label :lastname %>
                        </div>
                        <div class="col-sm-12">
                            <%= f.text_field :lastname, class: "form-control",  placeholder: "Enter Last Name" %>
                        </div>
                    </div>
                </div>
            </div>
       

            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <div class="control-label col-md-12">
                            <%= f.label :email %>
                        </div>
                        <div class="col-md-12">
                            <%= f.email_field :email, class: "form-control",  placeholder: "Enter Email Address" %>
                        </div>
                       
                    </div>
                     <% if @user.new_record? %>
                        <div class="col">
                            
                            <div class="control-label col-sm-12">
                                <%= f.label :email_confirmation %>
                            </div>
                            <div class="col-sm-12">
                                <%= f.email_field :email_confirmation, class: "form-control",  placeholder: "Re-enter Email Address" %>
                            </div>
                        </div>
                        <% end %>
                </div>
                
            </div>
            <% if current_user.admin %>
                <div class="form-group">
                    <div class="col-sm-11 offset-sm-1">
                        <div class="row">
                                <div class="col-md-12">
                                    <h5 style="margin-top: 20px;">Account Status</h5>
                                </div>
                                <div class="col-md-4">
                                    <%= f.label "Active?" %>&nbsp;&nbsp;&nbsp;<%= f.check_box :active %>
                                </div>
                                <div class="col-md-4">
                                    <%= f.label "Hardware Admin?" %>&nbsp;&nbsp;&nbsp;<%= f.check_box :hw_admin %>
                                </div>
                                <div class="col-md-4">
                                    <%= f.label "Event Admin?" %>&nbsp;&nbsp;&nbsp;<%= f.check_box :evt_admin %>
                                </div>
                        </div>
                    
                    

                    <div class="row">
                        <div class="col">
                            <h5 style="margin-top: 20px;">User Type</h5>
                        </div>
                    </div>
                    <div class="row">
                            
                            <div class="col-md-3">
                                <%= f.label "Distributor?" %>&nbsp;&nbsp;&nbsp;<%= f.check_box :distributor %>
                            </div>
                            <div class="col-md-3">
                                <%= f.label "Integrator?" %>&nbsp;&nbsp;&nbsp;<%= f.check_box :integrator %>
                            </div>
                            <div class="col-md-3">
                                <%= f.label "End User?" %>&nbsp;&nbsp;&nbsp;<%= f.check_box :end_user %>
                            </div>
                            <div class="col-md-3">
                                <%= f.label "OEM?" %>&nbsp;&nbsp;&nbsp;<%= f.check_box :oem %>
                            </div>
                    </div>
                </div>

                </div>
            <% end %>
            <br />
            <hr />
            <br />
            
            <div class="form-group">
                
                    <div class="control-label col-sm-12">
                        <%= f.label :company %>
                    </div>
                    <div class="col-sm-12">
                        <%= f.text_field :company, class: "form-control",  placeholder: "Enter Company Name" %>
                    </div>
            </div>

            <div class="form-group">

                    <div class="control-label col-sm-12">
                        <%= f.label "Address" %>
                    </div>
                    <div class="col-sm-12 address-fields">
                        <div class="row">
                            <div class="col-md-8">
                                <%= f.text_field :street, class: "form-control",  placeholder: "Street" %>
                            </div>
                            <div class="col-md-4">
                                <%= f.text_field :street2, class: "form-control",  placeholder: "Apt/Suite/Bldg" %>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <%= f.text_field :city, class: "form-control",  placeholder: "City" %>
                            </div>
                            <div class="col-md-3 state-dropdown">
                                <%= f.select :state, options_for_select([
                                  
                                  ["Not in US"],
                                  ["AL"], 
                                  ["AK"], 
                                  ["AZ"], 
                                  ["AR"], 
                                  ["CA"],
                                  ["CO"],
                                  ["CT"],
                                  ["DE"],
                                  ["FL"],
                                  ["GA"],
                                  ["HI"],
                                  ["ID"],
                                  ["IL"],
                                  ["IN"],
                                  ["IA"],
                                  ["KS"],
                                  ["KY"],
                                  ["LA"],
                                  ["ME"],
                                  ["MD"],
                                  ["MA"],
                                  ["MI"],
                                  ["MN"],
                                  ["MS"],
                                  ["MO"],
                                  ["MT"],
                                  ["NE"],
                                  ["NV"],
                                  ["NH"],
                                  ["NJ"],
                                  ["NM"],
                                  ["NY"],
                                  ["NC"],
                                  ["ND"],
                                  ["OH"],
                                  ["OK"],
                                  ["OR"],
                                  ["PA"],
                                  ["RI"],
                                  ["SC"],
                                  ["SD"],
                                  ["TN"],
                                  ["TX"],
                                  ["UT"],
                                  ["VT"],
                                  ["VA"],
                                  ["WA"],
                                  ["WV"],
                                  ["WI"],
                                  ["WY"]
                                  ], @user.state), {:prompt => '-- Select State --'}, class: "form-control" %>
                            </div>
                            <div class="col-md-4">
                                <%= f.text_field :zip, class: "form-control",  placeholder: "Zip/Postal Code" %>
                            </div>
                        </div>
                    </div>
                
            </div>
            <% if current_user.admin %>
            <div class="form-group">
                <div class="row">
                   <div class="col-md-6">
                        <div class="control-label col-sm-12">
                            <%= f.label "Type" %>
                        </div>
                        <div class="col-md-12" style="margin-bottom: 20px;">
                            <%= f.select :prttype, options_for_select([
                                  [""],
                                  ["Integrator"], 
                                  ["Distributor"],
                                  ["OEM"],
                                  ["End User"]
                            ], @user.prttype), class: "form-control" %>
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="control-label col-sm-12">
                            <%= f.label "Channel" %>
                        </div>
                        <div class="col-md-12" style="margin-bottom: 20px;">
                            <%= f.select :channel, options_for_select([
                                  [""],
                                  ["Rockwell Automation"], 
                                  ["Wonderware"],
                                  ["GE"],
                                  ["Independent"]
                            ], @user.channel), class: "form-control" %>
                        </div>
                    </div>
                    
                    
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="control-label col-sm-12">
                            <%= f.label "SI Level" %>
                        </div>
                        <div class="col-md-12" style="margin-bottom: 20px;">
                            <%= f.select :silevel, options_for_select([
                                  [""],
                                  ["Certified"], 
                                  ["Platinum"]
                            ], @user.silevel), class: "form-control" %>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="control-label col-sm-12">
                            <%= f.label "Region" %>
                        </div>
                        <div class="col-md-12" style="margin-bottom: 20px;">
                            <%= f.select :continent, options_for_select([
                                  [""],
                                  ["NA"], 
                                  ["LA"],
                                  ["EMEA"],
                                  ["AP"]
                            ], @user.continent), class: "form-control" %>
                        </div>
                    </div>

                </div>
                
                <div class="row">
                    <div class="col-md-6">
                        <div class="control-label col-sm-12">
                            <%= f.label "Certification Date" %>
                        </div>
                        <div class="col-md-8" style="margin-bottom: 20px;">
                            <%= f.date_field :certdate, class: "form-control" %>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="control-label col-sm-12">
                            <%= f.label "Certification Expiration" %>
                        </div>
                        <div class="col-md-8" style="margin-bottom: 20px;">
                            <%= f.date_field :certexpire, class: "form-control" %>
                        </div>
                    </div>
                </div>

                    <!-- <script type="text/javascript">
                      $(document).ready(function(){
                        $('.datepicker').datepicker({
                          format: "dd/mm/yyyy",
                          autoclose: true,
                          todayBtn: "linked",
                          todayHighlight: true
                        });
                        $('.datepicker2').datepicker({
                          format: "dd/mm/yyyy",
                          autoclose: true,
                          todayBtn: "linked",
                          todayHighlight: true
                        });
                      });
                    </script> -->

                
            </div>
            <% end %>
            <br />
            <hr />
            <br />
                
                <div class="form-group">
                    <div class="row">
                        <div class="col-6">
                            <div class="control-label col-sm-12">
                                <%= f.label :cell %>
                            </div>
                            <div class="col-sm-12">
                                <%= f.text_field :cell, class: "form-control",  placeholder: "Cell/Mobile Number" %>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="control-label col-sm-12">
                                <%= f.label :carrier %>
                            </div>
                            <div class="col-sm-12 carrier-dropdown">
                                <%= f.select :carrier, options_for_select([
                                  [ ],
                                  ["AT&T", "at&t"], 
                                  ["Verizon", "verizon"], 
                                  ["Sprint", "sprint"],
                                  ["T-Mobile", "t-mobile"], 
                                  ["Boost", "boost"],
                                  ["Cricket Wireless", "cricket"],
                                  ["Metro PCS", "metropcs"]
                                  ], @user.carrier), class: "form-control" %>
                            </div>
                        </div>
                    </div>
                </div>

            <br />
            <hr />
            <br />
             <div class="form-group">
                <div class="row">
                    <div class="col">
                        <div class="control-label col-sm-12">
                            <%= f.label :password %>
                        </div>
                        <div class="col-sm-12 password-field">
                            <%= f.password_field :password, class: "form-control",  placeholder: (@user.new_record? ? "Enter Password" : "New Password") %>
                        </div>
                    </div>
                    <div class="col">
                        <div class="control-label col-sm-12">
                            <%= f.label :password_confirmation %>
                        </div>
                        <div class="col-sm-12 password-conf-field">
                            <%= f.password_field :password_confirmation, class: "form-control",  placeholder: (@user.new_record? ? "Re-Enter Password" : "Re-Enter new password") %>
                        </div>
                    </div>
                </div>
            </div>
        
        <br /><br />
        

        <div class="form-group">
            <div class="col-sm-12">
                <%= f.submit(@user.new_record? ? "Create User" : "Update User", class: "btn btn-primary btn-lg") %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "Cancel", :back %>
            </div>
            
            
        </div>
    <% end %>
    </div>
</div>