<ul class="nav nav-fill user-sorting">
  <li class="nav-item">
    <%= link_to "All", users_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Active", user_active_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Inactive", user_inactive_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Login History", user_lastlogin_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Distributors", "#", class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Integrators", "#", class: "nav-link" %>
  </li>
</ul>