<div class="container" style="padding-bottom: 150px;">
	<div class="row">
		<div class="col-sm-8">
			<h1><%= "#{@user.firstname}" " " "#{@user.lastname}" %></h1>
		</div>
		<div class="col-sm-4">
			<% if @user.referred_by == "RAU" %>
				<%= image_tag "rau-logo.png", class: "float-right-to-center" %>
			<% end %>	
		</div>
	</div>
	<hr />

	<div class="well user-show-well">
		<div class="row">
			<div class="col-md-11">
				<h3 style="padding-top: 10px;"><%= "#{@user.firstname}" " " "#{@user.lastname}" %></h3>
				<% if @user.lastlogin != nil || @user.lastlogin == "" %>
					<span class="bold">&nbsp;Last Login:</span> &nbsp;<%= @user.lastlogin.strftime("%m/%d/%Y") %>
				<% else %>
					<span class="bold">&nbsp;Last Login:</span> &nbsp;<span style="font-style:italic; font-size: .8em;">User has never logged in</span>
				<% end %>
			</div>
			<div class="col-md-1">
				<%= link_to "edit", edit_user_path(@user) %>
			</div>
		</div>
		<hr />
		<br />
		<div class="row">
			
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-6">	
						<span class="bold">Company:</span> &nbsp;<%= @user.company %><br />
						<span class="bold">Email:</span> &nbsp;<%= @user.email %><br />
						<% if current_user.admin %>
							<span class="bold">Hubspot:</span> &nbsp;<%= link_to "Hubspot User", "https://app.hubspot.com/contacts/87975/contacts/list/view/all/?query=#{@user.email}", target: "_blank" %>&nbsp;
								<svg width="12px" height="12px" viewBox="0 0 16 16" class="bi bi-box-arrow-in-up-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg" style="margin-top:-5px;">
							  	<path fill-rule="evenodd" d="M6.364 13.5a.5.5 0 0 0 .5.5H13.5a1.5 1.5 0 0 0 1.5-1.5v-10A1.5 1.5 0 0 0 13.5 1h-10A1.5 1.5 0 0 0 2 2.5v6.636a.5.5 0 1 0 1 0V2.5a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v10a.5.5 0 0 1-.5.5H6.864a.5.5 0 0 0-.5.5z"/>
		  						<path fill-rule="evenodd" d="M11 5.5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793l-8.147 8.146a.5.5 0 0 0 .708.708L10 6.707V10.5a.5.5 0 0 0 1 0v-5z"/>
							</svg>
							<br />
						<% end %>
						<span class="bold">Cell Number:</span> &nbsp;<%= @user.cell %><br />
						<span class="bold">Cell Provider:</span> &nbsp;
						<% if @user.carrier != nil && @user.carrier != "" %>
							<%= @user.carrier.upcase() %>
						<% end %>
						<br />
					</div>
					<div class="col-md-6">
						<div class="row">
							<div class="col-md-3">
								<span class="bold">Address:</span> &nbsp;
							</div>
							<div class="col-md-9">
								<% if @user.street != nil && @user.street != "" %> 
									<%= @user.street %><% if @user.street2 != "" %>, <%= @user.street2 %><% end %><br />
									<%= @user.city %>, <%= @user.state %> <%= @user.zip %>
								<% else %>
									<%= link_to "Add Address", edit_user_path(@user), class: "btn btn-sm btn-outline-secondary" %>
								<% end %>
							</div>
						</div>
					</div>
				</div>
				<br />
				<hr />
				<br />
				<% if @user.channel != nil && @user.channel != "" %>
				<span class="bold">Channel:</span> &nbsp;<%= @user.channel %><br />
				<% end %>
				
				<% if @user.needs_review? && @current_user.admin? %>
					<span class="bold">Type:</span> &nbsp;Base User<br />
				<% elsif @user.prttype != nil && @user.prttype != "" %>
					<span class="bold">Type:</span> &nbsp;<%= @user.prttype %><br />
				<% else %>
				<% end %>

				<% if @user.continent != nil && @user.continent != "" %>
					<span class="bold">Region:</span> &nbsp;<%= @user.continent %><br />
				<% end %>
				<% if @user.certexpire != nil && @user.certexpire != "" %>
					<% if @user.silevel != nil && @user.silevel != "" %>
						<span class="bold">Level:</span> 
							<% if @user.certexpire < Date.today %>
								&nbsp;<span style="color:red;"><%= @user.silevel %></span><br />
							<% else %>
								&nbsp;<%= @user.silevel %><br />
							<% end %>
					<% end %>
					<span class="bold">Certification Expiration:</span> 
						<% if @user.certexpire < Date.today %>
							&nbsp;<spa style="color:red;"><%= @user.certexpire.strftime("%m/%d/%Y") %></span><br />
						<% else %>
							&nbsp;<%= @user.certexpire.strftime("%m/%d/%Y") %><br />
						<% end %>
				<% end %>
			</div>
		</div>
		<br />
		<hr />
		<div class="row">
			<div class="col-md-12">
				<p align="center">Need something changed that you can't edit yourself? <%= link_to "Contact Us", "mailto:info@thinmanager.com" %></p>
			</div>
		</div>



		<% if logged_in? && current_user.admin? %>
			<div class="card-footer" style="margin: 0px -40px -15px -40px; border-radius:0px 0px 10px 10px; text-align:center;">

				<% if @user_license.count == 1 %>

					<h5 align="center" style="text-transform: uppercase;">License Info</h5>
					<div class="row away-at-md-break">
						<div class="col-md-2"><b>Type</b></div>
						<div class="col-md-2"><b>Activation</b></div>
						<div class="col-md-2"><b>Status</b></div>
						<div class="col-md-2"><b>Exp</b></div>
						<div class="col-md-4"></div>
					</div>
					<div class="row">
						<div class="col-md-2">
							<%= link_to "#{@user_license[0].license_type}", license_path(@user_license[0]) %>
						</div>
						<div class="col-md-2">
							<%= @user_license[0].activation_type %>
						</div>
						<div class="col-md-2"><% if @user_license[0].approved == false %>Requested<%= %><% else %>Approved<% end %></div>
						<div class="col-md-2">
							<% if @user_license[0].enddate != nil && @user_license[0].enddate != ''  %>
								<% if @user_license[0].enddate < Date.today %>
									<span style="color:red;"><%= @user_license[0].enddate.strftime("%m/%d/%Y")%></span>
								<% else %>
									<%= @user_license[0].enddate.strftime("%m/%d/%Y")%>
								<% end %>
							<% end %>	
						</div>
						<div class="col-md-4">
							<div class="float-right license-actions">
								<%= link_to "View", license_path(@user_license[0]), style: "color: limegreen" %> | 
								<%= link_to "Edit", edit_license_path(@user_license[0]) %> | 
								<%= link_to "Delete", license_path(@user_license[0]), method: :delete, data: {confirm: "Are you sure you want to delete this license?"}, style: "color:red;" %>
							</div>
						</div>
					</div>

				<% else %>

					<%= link_to "Create FTA License", "#" %> <svg width="12px" height="12px" viewBox="0 0 16 16" class="bi bi-box-arrow-in-up-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg" style="margin-top:-5px;">
					  	<path fill-rule="evenodd" d="M6.364 13.5a.5.5 0 0 0 .5.5H13.5a1.5 1.5 0 0 0 1.5-1.5v-10A1.5 1.5 0 0 0 13.5 1h-10A1.5 1.5 0 0 0 2 2.5v6.636a.5.5 0 1 0 1 0V2.5a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v10a.5.5 0 0 1-.5.5H6.864a.5.5 0 0 0-.5.5z"/>
							<path fill-rule="evenodd" d="M11 5.5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793l-8.147 8.146a.5.5 0 0 0 .708.708L10 6.707V10.5a.5.5 0 0 0 1 0v-5z"/>
					</svg>
					&nbsp;|&nbsp; 
					<%= link_to "Create TMA License", "#" %> <svg width="12px" height="12px" viewBox="0 0 16 16" class="bi bi-box-arrow-in-up-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg" style="margin-top:-5px;">
					  	<path fill-rule="evenodd" d="M6.364 13.5a.5.5 0 0 0 .5.5H13.5a1.5 1.5 0 0 0 1.5-1.5v-10A1.5 1.5 0 0 0 13.5 1h-10A1.5 1.5 0 0 0 2 2.5v6.636a.5.5 0 1 0 1 0V2.5a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v10a.5.5 0 0 1-.5.5H6.864a.5.5 0 0 0-.5.5z"/>
							<path fill-rule="evenodd" d="M11 5.5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793l-8.147 8.146a.5.5 0 0 0 .708.708L10 6.707V10.5a.5.5 0 0 0 1 0v-5z"/>
					</svg>
					&nbsp;|&nbsp;
					<%= link_to "Enter Lab License", new_license_path({ :user_id => @user.id }) %>
			
				<% end %>

			</div>
		

		<% elsif logged_in? && !current_user.admin && current_user === @user %>
			
		
			<% if @user_license.count == 1 %>
				<div class="card-footer" style="margin: 0px -40px -15px -40px; border-radius:0px 0px 10px 10px; text-align:center;">
				<h5 align="center" style="text-transform: uppercase;">License Info</h5>
					<div class="row away-at-md-break">
						<div class="col-md-3"><b>Type</b></div>
						<div class="col-md-3"><b>Activation</b></div>
						<div class="col-md-3"><b>Status</b></div>
						<div class="col-md-3"><b>Exp</b></div>
					</div>
					<div class="row">
						<div class="col-md-3">
							<%= link_to "#{@user_license[0].license_type}", license_path(@user_license[0]) %>
						</div>
						<div class="col-md-3">
							<%= @user_license[0].activation_type %>
						</div>
						<div class="col-md-3"><% if @user_license[0].approved == false %>Requested<%= %><% else %>Approved<% end %></div>
						<div class="col-md-3">
							<% if @user_license[0].enddate != nil && @user_license[0].enddate != ''  %>
								<% if @user_license[0].enddate < Date.today %>
									<span style="color:red;"><%= @user_license[0].enddate.strftime("%m/%d/%Y")%></span>
								<% else %>
									<%= @user_license[0].enddate.strftime("%m/%d/%Y")%>
								<% end %>
							<% end %>	
						</div>
					</div>
				</div>
			<% else %>
				
			<% end %>
		
		
		<% end %>



	</div>


	<% if @user_registrations.any? %>

		<h4 align="center" style="margin-top: 55px;"><%= @user.firstname %>'s Event Registrations</h4>

		
			<% @user_events.each do |event| %>
				<div class="well well-sm" style="padding-left:10px; padding-right:10px; margin-bottom: 5px; border-radius: 5px;">
					<div class="row">
						<div class="col-md-4">
							<% if event.starttime != nil && event.starttime != "" && event.starttime >= Date.today %>
								<%= link_to "#{event.name}", event_path(event) %>
							<% elsif current_user.admin || current_user.evt_admin %>
								<%= link_to "#{event.name}", event_path(event), style: "color:black;" %>
							<% else %>
								<span><%= event.name %></span>
							<% end %>
						</div>
						<div class="col-md-4">
							<% if event.starttime != nil && event.starttime != "" %>
								<%= event.starttime.strftime("%B %d, %Y") %>
							<% end %>
							<% if event.starttime != nil && event.starttime != "" && event.starttime < Date.today %>
								<span style="color:gray; font-size:.8em;">&nbsp;[past event]</span>
							<% end %>
						</div>
						<div class="col-md-4">
							<div class="float-right">
								<% if event.starttime != nil && event.starttime != "" && event.starttime >= Date.today %>
									<%= link_to "View Event", event_path(event) %> &nbsp;|&nbsp; 
									<% @reg = EventAttendee.where(:event_id => event.id, :user_id => @user.id).first %>
									<%= link_to "Cancel Registration", reg_cancel_path(event, :user_id => @user.id), method: :reg_cancel, data: {confirm: "Are you sure want to cancel this registration?"}, style: "color:red;" %>
									<!-- <%= link_to "Delete Registration", deregister_path(:reg => @reg.id) , method: :destroy, data: { confirm: "Are you sure you want to delete this registration? "}, style: "color:red;" %> -->
								<% end %>
							</div>
						</div>
					</div>
				</div>
			<% end %>
		
	<% else %>
		
		<h4 align="center" style="margin-top: 55px;"><%= @user.firstname %>'s Event Registrations</h4>

		<p align="center">You are currently registered for no events. <%= link_to "find events", events_path %></p>
		
	<% end %>


	<% if @current_user.admin? && @user_flexs.any? %>

		<h4 align="center" style="margin-top: 55px;">Latest Flex Forward Quotes</h4>

		<% @user_flexs.each do |f| %>
			<% if f.red_exchange %>
			<div class="indicator">
				<%= image_tag("green_dot.png") %>
			</div>
			<% end %>
			<div class="well ff-well-style">
				<div class="row">
					<div class="col-lg-4"><%= link_to "#{f.name}", flexforward_path(f) %></div>
					<div class="col-lg-2"><%= number_to_currency(f.total_quote, unit: f.currency.symbol, seperator: ",") %></div>
					<div class="col-lg-2"><%= f.created_at.strftime("%m/%d/%Y") %></div>
					<div class="col-lg-2"><%= f.user.firstname %> <%= f.user.lastname %></div>
					<div class="col-lg-1"><%= link_to "Edit", edit_flexforward_path(f) %></div>
					<div class="col-lg-1"><%= link_to "Delete", flexforward_path(f), method: :delete, data: {confirm: "Are you sure you want to delete this Flex Foward Calculator?"}, style: "color:red; float:right;" %></div>
				</div>

			</div>
		<% end %>
	<% end %>

	<br />
	
	<% if @current_user.admin? && @user_certs.any? %>
		<h4 align="center" style="margin-top: 55px;">SI Recertifications</h4>
		<div class="col bold" style="margin-bottom:10px; margin-top: 30px;">
	
			<div class="row">
				
				<div class="col-md-3">Cert Name</div>
				<div class="col-md-3">TM Version</div>
				<div class="col-md-2">Earned On</div>
				<div class="col-md-2">Expires On</div>
				<div class="col-md-1"></div>
				<div class="col-md-1"></div>
			</div>
		</div>

		<% @user_certs.each do |cert| %>
		<div class="well" style="margin-bottom: 3px; padding-top: 4px; padding-bottom: 4px;">
			<div class="row">
				<div class="col-md-3">
					<%= cert.name %>
				</div>
				<div class="col-md-3">
					<%= cert.version %>
				</div>
				<div class="col-md-2">
					<%= cert.date_earned %>
				</div>
				<div class="col-md-2">
					<%= cert.exp_date %>
				</div>
				<div class="col-md-1">
					<%= link_to "Edit", edit_certification_path(cert), style: "float:right;" %>
				</div>
				<div class="col-md-1">
					<%= link_to "Delete", certification_path(cert), method: :delete, data: {confirm: "Are you sure you want to delete this SI Certification?"}, style: "color:red; float:right;" %>
				</div>
			</div>
		</div>
		<% end %>
	<% end %>
</div>