<%= render 'shared/errors', obj: @roi %>
<%= form_for(@roi, :html => {class: "form-horizontal", role: "form"}) do |f| %>
<!-- Nav tabs -->
  <ul class="nav nav-tabs nav-fill" id="roiTabs" role="tablist">
    <li role="presentation" class="nav-item"><a href="#scenerio" class="nav-link active" aria-controls="scenerio" role="tab" data-toggle="tab">Scenerio</a></li>
    <li role="presentation" class="nav-item"><a href="#general" class="nav-link" aria-controls="general" role="tab" data-toggle="tab">General</a></li>
    <li role="presentation" class="nav-item"><a href="#labor" class="nav-link" aria-controls="labor" role="tab" data-toggle="tab">Labor Cost</a></li>
    <li role="presentation" class="nav-item"><a href="#pcstats" class="nav-link" aria-controls="pcstats" role="tab" data-toggle="tab">PC Stats</a></li>
    <li role="presentation" class="nav-item"><a href="#tcstats" class="nav-link" aria-controls="tcstats" role="tab" data-toggle="tab">Thin Client Stats</a></li>
    <li role="presentation" class="nav-item"><a href="#rdservers" class="nav-link" aria-controls="rdservers" role="tab" data-toggle="tab">RD Servers</a></li>
    <li role="presentation" class="nav-item"><a href="#thinmanager" class="nav-link" aria-controls="thinmanager" role="tab" data-toggle="tab">ThinManager</a></li>
  </ul>






  <!-- Tab panes -->
  <div class="tab-content">

    <!-- Scenario Tab of ROI -->
    <div role="tabpanel" class="tab-pane active" id="scenerio">
      
      <div class="form-group tabbed-form-group">
        <div class="row">
          <div class="col-md-6">
            <% if @roi.new_record? %>
              
              <p>This ROI calculator assumes that you are planning to install or put in place a thin client architecture for your ThinManager installation by replacing existing PC workstations with thin clients.</p>

              <p>Two general types of thin clients can be used - ThinManager ready clients or ones that would boot by means of PXE boot. The convenience and time savings of ThinManager ready thin clients are not weighed in this calculator.</p>

              <p>Fill in all the details you can in order to get the most accurate results.</p>

              <p>Questions?  Feel free to <%= link_to "contact us", "mailto:info@thinmanager.com" %>.</p>
            
            <% else %> <!-- Editing ROI -->

              <h4 style="color:limegreen;">Edit Mode</h4>
              <br />
              <p>You are editing your saved Return on Investment. You may wish to create a new ROI project if you are looking to compare different scenarios side by side.</p>

              <p>V-Flex license pricing does offer a discounted rate per license when purchasing in larger bulk quantities.</p>

              <p>Questions?  Feel free to <%= link_to "contact us", "mailto:info@thinmanager.com" %>.</p>
            
            <% end %>
          </div>
          <div class="col-md-6">
            <div class="scenario-box">
                <h4 align="center">Choose Your ROI Scenario</h4>
                <div class="control-label"><%= f.label "Currency" %></div>
                <%= f.select :currency_id, Currency.all.collect {|currency| [currency.name, currency.id]}, {}, class: "form-control currency-select", tabindex: "1" %>

                <div class="control-label" style="margin-top:12px;"><%= f.label "License Type" %></div>
                <%= f.select :activation_type, options_for_select([
                    ["Subscription", "Subscription"],
                    ["Perpetual", "Perpetual"]
                ], @roi.activation_type), {}, class: "form-control", tabindex: "2" %>

                <div class="control-label" style="margin-top:12px;"><%= f.label "Support Level" %></div>
                <%= f.select :support_level, options_for_select([
                    ["8 x 5", "8 x 5"],
                    ["24 x 7", "24 x 7"]
                ], @roi.support_level), {}, class: "form-control", tabindex: "3" %>
            </div>
          </div>
        </div>
        
      </div>

    </div>



    <!-- General Tab of ROI -->
    <div role="tabpanel" class="tab-pane" id="general">
      
      <div class="row">
        <div class="col-lg-9">
        <div class="form-group tabbed-form-group">
          <div class="row">
              <div class="col-md-9 top-m-12">
                <div class="control-label"><%= f.label :name, "ROI/Project Name" %></div>
                <%= f.text_field :name, class: "form-control", placeholder: "Name of Business for ROI", tabindex: "1" %>
              </div>
              <div class="col-md-3 top-m-12">
                <div class="control-label"><%= f.label "Years projecting" %></div>
                <%= f.text_field :projected_years, class: "form-control", placeholder: "Enter years out being projected", tabindex: "6" %>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6 top-m-12">
                <div class="control-label"><%= f.label "Planned Terminals/workstations" %></div>
                <%= f.text_field :planned_terminals, class: "form-control", placeholder: "Enter Number of Terminals Expected", tabindex: "2" %>
              </div>
              <div class="col-md-6 top-m-12">
                <div class="control-label"><%= f.label "Station Uptime (hours)" %></div>
                <%= f.text_field :station_uptime, class: "form-control", placeholder: "Enter hours per day that station is used", tabindex: "3" %>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6 top-m-12">
                <div class="control-label"><%= f.label "Utility Power Cost (per kilowatt hour)" %></div>
                <%= f.text_field :kilowatt_power_cost, class: "form-control", placeholder: "Enter price per kilowatt hour", tabindex: "4" %>
              </div>
              <div class="col-md-6 top-m-12">
                <div class="control-label"><%= f.label "Cost/hour of station downtime" %></div>
                <%= f.text_field :downtime_cost_hour, class: "form-control", placeholder: "Enter cost per hour incurred if station is down", tabindex: "5" %>
              </div>
          </div>
          
          <br />
          <div class="row">
            <div class="col-md-12 top-m-12">
              <div class="scenario-box">
                <h5>Additional Savings</h5>
                <div class="row">
                  <div class="col-md-8">
                    <p>Enter an amount of additional savings that will be deducted from the overall operating costs for the entire projection time. This is at the discretion of the person calculating this return on investment. This is a one-off cost, not annual. (example: 2000)</p>
                  </div>
                  <div class="col-md-4">
                    <%= f.text_field :additional_savings, class: "form-control", tabindex: "7" %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="control-label"><%= f.label "Savings Notes" %></div>
                    <%= f.text_area :additional_savings_note, class: "form-control", placeholder: "Enter any notes about the additional savings added", tabindex: "8" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
      </div>
      <div class="col-lg-3">
        <div class="right-info-box">
          <p class="bold">Do not use currency symbols or commas.</p>
          <p>Default figures are averages found by internet search and through discussions with end users and companies that we partner with.</p>
          <p>Per kilowatt utility energy costs vary regionally and can be found by looking up the energy cost in a specific area.</p>
          <p>Other variables are subject to change based on the proposed configuration and specifics of each customer.</p>
        </div>
      </div>
      </div>
    </div>




    <!-- Labor Tab of ROI -->
    <div role="tabpanel" class="tab-pane" id="labor">
      
      <div class="row">
        <div class="col-lg-8">
        <div class="form-group tabbed-form-group">
          <p align="center" style="color:darkorange;">Disabled Fields will recalculate on save/update</p>
            <div class="row">
                <div class="col-md-6 top-m-12">
                  <div class="control-label"><%= f.label "Base Labor Cost per Year" %></div>
                  <%= f.text_field :base_labor_per_year, class: "form-control", placeholder: "Worker base pay per year", tabindex: "1" %>
                </div>
                <div class="col-md-6 top-m-12">
                  <div class="control-label"><%= f.label "Base Labor Cost per Hour" %></div>
                  <%= f.text_field :base_labor_per_hour, class: "form-control", placeholder: "Worker base pay per hour", tabindex: "2", disabled: "true" %>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 top-m-12">
                  <div class="control-label"><%= f.label "Overhead rate (percent of base cost)" %></div>
                  <%= f.text_field :labor_overhead, class: "form-control", placeholder: "percent overhead of base pay for employee", tabindex: "3", value: "#{@roi.labor_overhead} %" %>
                </div>
                <div class="col-md-6 top-m-12">
                  <div class="control-label"><%= f.label "Total yearly labor cost" %></div>
                  <%= f.text_field :total_labor_per_year, class: "form-control", placeholder: "Enter hours per day that station is used", tabindex: "4", disabled: "true" %>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 top-m-12">
                  <div class="control-label"><%= f.label "Total hourly labor cost" %></div>
                  <%= f.text_field :total_labor_per_hour, class: "form-control", placeholder: "Enter price per kilowatt hour", tabindex: "5", disabled: "true" %>
                </div>
                
            </div>
         </div>
       </div>
       <div class="col-lg-4">
         <div class="right-info-box">
          <p class="bold">Do not use currency symbols or commas.</p>
          <p>Base labor and overhead percentage differ depending on industry and location.</p>
          <p style="margin-bottom:5px;">US based averages:</p>
          <ul style="margin-left:-20px; font-size: .8em;">
            <li>Maintenance Technician - 50000&nbsp;per&nbsp;year</li>
            <li>Controls Engineer - 100000&nbsp;per&nbsp;year</li>
            <li>IT Specialist - 75000&nbsp;per&nbsp;year</li>
          </ul>
         </div>
       </div>
     </div>
    </div>




    <!-- PC Stats Tab of ROI -->
    <div role="tabpanel" class="tab-pane" id="pcstats">
      
      <div class="row">
      <div class="col-lg-9">
      <div class="form-group tabbed-form-group">
          <div class="row">
              <div class="col-md-6 top-m-12">
                <div class="control-label"><%= f.label "Ave PC Cost (including OS)" %></div>
                <%= f.text_field :pc_ave_cost, class: "form-control", tabindex: "1" %>
              </div>
              <div class="col-md-6 top-m-12">
                <div class="control-label"><%= f.label "Prep time per PC (hrs, include installs)" %></div>
                <%= f.text_field :pc_prep_time, class: "form-control", tabindex: "2" %>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6 top-m-12">
                <div class="control-label"><%= f.label "Monthly Maintenance Time (hrs)" %></div>
                <%= f.text_field :pc_monthly_maint, class: "form-control", tabindex: "3" %>
              </div>
              <div class="col-md-6 top-m-12">
                <div class="control-label"><%= f.label "Replacement inventory count" %></div>
                <%= f.text_field :pc_inventory_count, class: "form-control", placeholder: "Enter hours per day that station is used", tabindex: "4" %>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6 top-m-12">
                <div class="control-label"><%= f.label "Rate of failure per year(%)" %></div>
                <%= f.text_field :pc_percent_fail_rate, class: "form-control", value: "#{@roi.pc_percent_fail_rate} %", tabindex: "5" %>
              </div>
              <div class="col-md-6 top-m-12">
                <div class="control-label"><%= f.label "Power consumption (watts)" %></div>
                <%= f.text_field :pc_watt_power_comsumption, class: "form-control", tabindex: "6" %>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6 top-m-12">
                <div class="control-label"><%= f.label "Ave lifespan (months)" %></div>
                <%= f.text_field :pc_month_ave_life, class: "form-control", tabindex: "7" %>
              </div>
              <div class="col-md-6 top-m-12">
                <div class="control-label"><%= f.label "Ave PC Replacement Time (hours)" %></div>
                <%= f.text_field :pc_ave_replace_time, class: "form-control", tabindex: "8" %>
              </div>
          </div>
       </div>
      </div>
      <div class="col-lg-3">
        <div class="right-info-box">
          <p class="bold">Do not use currency symbols or commas.</p>
          <p>Industrial PC prices vary greatly and this should be based on the current machines implemented and in use.</p>
          <p>Power Consumption does not include monitors</p>
        </div>
      </div>
      </div>
    </div>



    <!-- TC Stats Tab of ROI -->
    <div role="tabpanel" class="tab-pane" id="tcstats">
      
      <div class="row">
      <div class="col-lg-9">
      <div class="form-group tabbed-form-group">
          <div class="row">
              <div class="col-md-6 top-m-12">
                <div class="control-label"><%= f.label :tc_ave_cost, "Ave thin client cost (per terminal)" %></div>
                <%= f.text_field :tc_ave_cost, class: "form-control", tabindex: "1" %>
              </div>
              <div class="col-md-6 top-m-12">
                <div class="control-label"><%= f.label "Prep time per client (hrs)" %></div>
                <%= f.text_field :tc_prep_time, class: "form-control", tabindex: "2" %>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6 top-m-12">
                <div class="control-label"><%= f.label "Monthly Maintenance Time (hrs)" %></div>
                <%= f.text_field :tc_monthly_maint, class: "form-control", tabindex: "3" %>
              </div>
              <div class="col-md-6 top-m-12">
                <div class="control-label"><%= f.label "Replacement inventory count" %></div>
                <%= f.text_field :tc_inventory_count, class: "form-control", tabindex: "4" %>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6 top-m-12">
                <div class="control-label"><%= f.label "Rate of failure per year (%)" %></div>
                <%= f.text_field :tc_percent_fail_rate, class: "form-control", value: "#{@roi.tc_percent_fail_rate} %", tabindex: "5" %>
              </div>
              <div class="col-md-6 top-m-12">
                <div class="control-label"><%= f.label "Power consumption (watts)" %></div>
                <%= f.text_field :tc_watt_power_comsumption, class: "form-control", tabindex: "6" %>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6 top-m-12">
                <div class="control-label"><%= f.label "Ave lifespan (months)" %></div>
                <%= f.text_field :tc_month_ave_life, class: "form-control", tabindex: "7" %>
              </div>
              <div class="col-md-6 top-m-12">
                <div class="control-label"><%= f.label "Ave Thin Client Replacement Time (hrs)" %></div>
                <%= f.text_field :tc_ave_replace_time, class: "form-control", tabindex: "8" %>
              </div>
          </div>
       </div>
      </div>
      <div class="col-lg-3">
        <div class="right-info-box">
          <p class="bold">Do not use currency symbols or commas.</p>
          <p>Thin client prices vary greatly and this should be based on the hardware brand and model being proposed for implementation.</p>
          <p>Power Consumption does not include monitors</p>
        </div>
      </div>
      </div>
    </div>




    <!-- RDS Stats Tab of ROI -->
    <div role="tabpanel" class="tab-pane" id="rdservers">
      
      <div class="row">
      <div class="col-lg-9">
      <div class="form-group tabbed-form-group">
          <div class="row">
              <div class="col-md-6 top-m-12">
                <div class="control-label"><%= f.label :ds_ave_cost, "RD Server Cost (including OS, per server)" %></div>
                <%= f.text_field :rds_ave_cost, class: "form-control", tabindex: "1" %>
              </div>
              <div class="col-md-6 top-m-12">
                <div class="control-label"><%= f.label "Prep time per server (hrs)" %></div>
                <%= f.text_field :rds_prep_time, class: "form-control", tabindex: "2" %>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6 top-m-12">
                <div class="control-label"><%= f.label(:rds_sessions_number, "Number of Sessions per RD Server") %></div>
                <%= f.text_field :rds_sessions_number, class: "form-control", tabindex: "3" %>
              </div>
              <div class="col-md-6 top-m-12">
                <div class="control-label"><%= f.label "Server uptime per day (hrs)" %></div>
                <%= f.text_field :rds_uptime, class: "form-control", tabindex: "3" %>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6 top-m-12">
                <div class="control-label"><%= f.label "Monthly Maintenance Time (hrs)" %></div>
                <%= f.text_field :rds_monthly_maint, class: "form-control", tabindex: "3" %>
              </div>
              <div class="col-md-6 top-m-12">
                <div class="control-label"><%= f.label "Replacement inventory count" %></div>
                <%= f.text_field :rds_inventory_count, class: "form-control", tabindex: "4" %>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6 top-m-12">
                <div class="control-label"><%= f.label "Rate of failure per year (%)" %></div>
                <%= f.text_field :rds_percent_fail_rate, class: "form-control", value: "#{@roi.rds_percent_fail_rate} %", tabindex: "5" %>
              </div>
              <div class="col-md-6 top-m-12">
                <div class="control-label"><%= f.label "Power consumption (watts)" %></div>
                <%= f.text_field :rds_watt_power_comsumption, class: "form-control", tabindex: "6" %>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6 top-m-12">
                <div class="control-label"><%= f.label "Ave lifespan (months)" %></div>
                <%= f.text_field :rds_month_ave_life, class: "form-control", tabindex: "7" %>
              </div>
              <div class="col-md-6 top-m-12">
                <div class="control-label"><%= f.label "Replacement Time (hrs)" %></div>
                <%= f.text_field :rds_ave_replace_time, class: "form-control", tabindex: "8" %>
              </div>
          </div>
        </div>
        </div>
        <div class="col-lg-3">
          <div class="right-info-box">
            <p class="bold">Do not use currency symbols or commas.</p>
            <p>Server needs vary per customer and is dependant on brand, capacity, and current implementation which might already include remote desktop needs.</p>
            <p>This should be adjusted based on the needs and current assets of each customer.</p>
          </div>
        </div>
        
    </div>

  </div>




    <!-- ThinManager Stats Tab of ROI -->
    <div role="tabpanel" class="tab-pane" id="thinmanager">
      
      <div class="form-group tabbed-form-group">
          <div class="row">
            <div class="col-md-10 offset-md-1 top-m-12">
              <div class="control-label"><%= f.label(:thinmanager_cost, "Annual Cost of ThinManager (Quoted by Distributor)") %></div>
              <span class="teeny-float-left">Total Cost if Perpetual license, Annual if Subscription</span>
              <%= f.text_field :thinmanager_cost, class: "form-control", tabindex: "1", title: "Do not use commas or monitary symbols" %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10 offset-md-1 top-m-12">
              <div class="control-label"><%= f.label(:thinmanager_redundancy, "Annual Redundancy (Quoted by Distributor)") %></div>
              <span class="teeny-float-left">Total Cost if Perpetual license, Annual if Subscription</span>
              <%= f.text_field :thinmanager_redundancy, class: "form-control", tabindex: "2", placeholder: "Use only if adding redundant licenses", title: "Do not use commas or monitary symbols" %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10 offset-md-1 top-m-12">
              <div class="control-label"><%= f.label(:thinmanager_maintenance, "Annual Software Maintenance (Perpetual License Only)") %></div>
              <span class="teeny-float-left">Included with Subscription, first year included for perpetual</span>
              <%= f.text_field :thinmanager_maintenance, class: "form-control", tabindex: "3", placeholder: "Use only for Perpetual Licenses", title: "Do not use commas or monitary symbols" %>
            </div>
          </div>

          <div class="row">
            <div class="col-md-10 offset-md-1 top-m-12">
                  <div class="rois-grey-box">
                    <p>ThinManager cost is provided by your Distributor. Additional licenses can be purchased after install, but V-FLEX licensing allows bulk rate discounts over purchasing one at a time.</p>
                            
                    <p>Redundancy per client can be added at a greatly reduced price per seat.</p>

                    <p>Lastly, Software Maintenance is included for the first year with all purchases. Software Maintenance will be charged yearly on perpetual licenses. Software Maintenance is included on subscription licensing at all times.</p>
                  </div>
            </div>
          </div>


          <div class="row">
            <div class="col-md-10 offset-md-1 top-m-12">
              <div class="row">
                <div class="col-md-8">
                  <p><span class="bold">Management Time Savings (Hours/Month/Thin Client)</span></p>
                  <p>This is used to evaluate the time that is saved using the standard features of ThinManager such as terminal shadowing, authentication configuration, software installs and upkeep.<br />(Example: 0.25 = 15 minutes per month per terminal)</p>
                </div>
                <div class="col-md-4">
                  <%= f.text_field :management_time_saved_per_month, class: "form-control", tabindex: "4" %>
                </div>
              </div>
            </div>
          </div>
          
      </div>

    </div>
  </div>

  <div class="form-group">
        <div class="row">
          <div class="col-sm-12 center">
              <%= f.submit(@roi.new_record? ? "Save for ROI Results" : "Update ROI", class: "btn btn-primary btn-md", tabindex: "21") %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "Cancel", :back %>
          </div>
        </div>
        <br />
        <hr />
        <br />
        <% if @roi.new_record? %>
          <div class="row">
            <div class="col-sm-12 center">
              <%= link_to "Clear & Start Over", new_roi_path, class: "btn btn-outline-danger btn-md" %> 
            </div>
          </div>
        <% end %>
      </div>
        
    </div>

<% end %>
<!-- Button trigger modal -->
<!-- <div style="text-align: center;">
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" style="margin:75px auto;">
  Show Calculations
</button>
</div>
-->
<!-- Modal -->
<!--
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Modal title</h4>
        <div class="float-right">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
-->
