<div class="container" style="padding-bottom: 150px;">


<div class="row">
	<div class="col-sm-9">
		<h1>ROI Projects Created <span style="font-size: .4em; font-style: italic; font-weight:normal;">&nbsp;( <%= pluralize(@rois.count, "total ROI project") %> )</span></h1>
	</div>
	<div class="col-sm-3">
		<div class="float-right" style="margin-top:7px;"><%= link_to "Add ROI", new_roi_path, class: "btn btn-primary" %></div>
	</div>
</div>
<hr />



<%= form_for_filterrific(@filterrific, :html => {class: "form-horizontal", role: "form"}) do |f| %>


	<div class="container roi-filters">			  
			<div class="form-group">
				
				<div class="row">
			  	
					  <div class="col-md-6" style="margin-bottom:10px;">
					    <div class="form-label">Search</div>
					    <%= f.text_field(
					      :rois_search,
					      class: 'filterrific-periodically-observed form-control'
					    ) %>
					  </div>

					  <div class="col-md-3" style="margin-bottom:10px;">
					  	<div class="form-label">Planned Terminals</div>
					    <%= f.select(
					      :term_count,
					      @filterrific.select_options[:term_count],
					      { include_blank: '- Any -' }, class: "form-control"
					    ) %>
					  </div>

					  <div class="col-md-3" style="margin-bottom:10px;">
					  	<div class="form-label">Savings Projected</div>
					  	<%= f.select(
					      :shows_savings,
					      @filterrific.select_options[:shows_savings],
					      { include_blank: '- Any -' }, class: "form-control"
					    ) %>
					  </div>

				</div>
				<div class="row" style="margin-top:10px;">
					<div class="col-sm-3 offset-sm-9">
					    <%= link_to 'Reset', reset_filterrific_url, class: "float-right" %>
					</div>
				</div>
			
			</div>

			<hr style="margin-top:25px; margin-bottom: 25px; border-color: #818181;" />

	</div>

	<div class="form-group" >
		<div class="row" style="margin-bottom: 35px;">
			<div class="col-md-8"><h4 style="padding-top:22px; margin-bottom: 0px;">Results</h4></div>	
			  <div class="col-md-4 sort-options">
			    <div class="form-label">Sorted by</div>
			    <%= f.select(:rois_sort, @filterrific.select_options[:rois_sort], class: "form-control") %>
		   </div>
		</div>
	</div>

<% end %>

















<div class="hw-loader"><%= render_filterrific_spinner %></div>

<%= render(
	partial: 'rois/roi-list',
	locals: { rois: @rois }
) %>

</div>