<%= render 'shared/errors', obj: @event %>


<div class="row hardware-form">
    <div class="col-md-10 offset-md-1">
    <%= form_for(@event, :html => {class: "form-horizontal", role: "form"}) do |f| %>

    	<div class="row">
    		<div class="col-lg-6">
		    	<h4 style="margin-left:-2%;">Event Details</h4>
		    </div>
		    <div class="col-lg-3" style="text-align: right; font-weight:bold;">
		    	<%= f.label "Event Live?" %>&nbsp;&nbsp;&nbsp;<%= f.check_box :live %>
		    </div>
		    <div class="col-lg-3" style="text-align: right; font-weight:bold;">
		    	<%= f.label "Event Archived?" %>&nbsp;&nbsp;&nbsp;<%= f.check_box :archive %>
		    </div>
	    </div>

    	<div class="form-group">
    		<div class="row">
    			<div class="col-12">
		    		<div class="form-label"><%= f.label :name %><sup style="margin-left:3px; color:red;">*</sup></div>
		    		<%= f.text_field :name, class: "form-control", placeholder: "Enter Event Name", autofocus: true %>
		    	</div>
	    	</div>
	    	<div class="row">
    			<div class="col-12">
		    		<div class="form-label"><%= f.label :description %></div>
		    		<%= f.text_area :description, class: "form-control", rows: "8", placeholder: "Enter Description of Event" %>
		    	</div>
	    	</div>
	    </div>
	    <div class="form-group">
	    	<div class="row">
	    		<div class="col-lg-4">
                    <div class="control-label">
                        <%= f.label "Start Date/Time" %>
                    </div>
                    <div style="margin-bottom: 20px;">
                        <%= f.datetime_local_field :starttime, class: "form-control" %>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="control-label">
                        <%= f.label "End Date/Time" %>
                    </div>
                    <div style="margin-bottom: 20px;">
                        <%= f.datetime_local_field :endtime, class: "form-control" %>
                    </div>
                </div>
                <div class="col-lg-4">
                	<div class="control-label">
                        <%= f.label "Time Zone" %>
                    </div>
                    <div class="tz-dropdown" style="margin-bottom:20px;">
                        <%= f.select :tzid, options_for_select([
                          ["Eastern Time", "America/New_York"],
                          ["Central Time", "America/Chicago"],
                          ["Mountain Time", "America/Denver"],
                          ["Pacific Time", "America/Los_Angeles"]
                          ], @event.tzid), {}, class: "form-control tz-possibles" %>
                    </div>
                </div>
	    	</div>
	    	<div class="row">
	    		<div class="col-md-2">
                	<div class="control-label">
                        <%= f.label :cost %>
                    </div>
                    <div style="margin-bottom: 20px;">
                        <%= f.text_field :cost , class: "form-control" %>
                    </div>
                </div>
	    	</div>
	    </div>
	    <div class="form-group">
	    	
	    </div>
	    <div class="form-group">
	    	<div class="row">
	    		<div class="col-lg-3" style="margin-bottom:20px;">
	    			<div class="form-label" style="margin-top:-15px;"><%= f.label :capacity %></div>
			    	<%= f.text_field :capacity, class: "form-control", placeholder: "Max Register" %>
		    	</div>
	    		<div class="col-lg-2 offset-lg-1" style="margin-top:20px;">
	                <%= f.label "Virtual?" %>&nbsp;&nbsp;&nbsp;<%= f.check_box :virtual %>
	            </div>
	            <div class="col-lg-2" style="margin-top:20px;">
	                <%= f.label "Private?" %>&nbsp;&nbsp;&nbsp;<%= f.check_box :private %>
	            </div>
	            <div class="col-lg-4" style="margin-top:20px;">
	                <%= f.label "Registration Required?" %>&nbsp;&nbsp;&nbsp;<%= f.check_box :reg_required %>
	            </div>
	        </div>
	    </div>

	    <div class="form-group">
			<div class="well" style="border-radius:10px; padding:20px 35px 30px 35px; margin-top: 35px;">
				<div class="col-12">
					<div class="row">
						<%= f.label "Venue selection" %>&nbsp;&nbsp;<span style="font-size:.6em; padding-top:6px;">(<%= link_to "Create New", new_venue_path %>)</span>
					</div>
					<div class="row">
						<%= f.collection_check_boxes :venue_ids, Venue.all, :id, :name do |cb| %>
				        <% cb.label(class: "checkbox-inline input_checkbox") {cb.check_box(class: "checkbox") + " " +cb.text} %>    
		                <% end %>
					</div>
				</div>
			</div>
		</div>

<div class="row">
	<div class="col-md-6">
		<div class="well" style="border-radius:10px; padding:20px 35px 30px 35px; margin-bottom:20px;">
	        <div class="form-group" style="">
			    <div class="col-12">
			    	<div class="row">
			            <%= f.label "Event Category/Type" %>&nbsp;&nbsp;<span style="font-size:.6em; padding-top:6px;">(<%= link_to "Create New", new_evtcategory_path %>)</span>
				    </div>
				    <div class="row">   
			            <%= f.collection_check_boxes :evtcategory_ids, Evtcategory.all, :id, :name do |cb| %>
				        <% cb.label(class: "checkbox-inline input_checkbox") {cb.check_box(class: "checkbox") + " " +cb.text} %>    
		                <% end %>
			        </div>
		        </div>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="well" style="border-radius:10px; padding:20px 35px 30px 35px;">
			<div class="form-group">
			    <div class="col-12">
			    	<div class="row">
			            <%= f.label "Specific Keyword Tags" %>&nbsp;&nbsp;<span style="font-size:.6em; padding-top:6px;">(<%= link_to "Create New", new_tag_path %>)</span>
				    </div>
				    <div class="row">   
			            <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name do |cb| %>
				        <% cb.label(class: "checkbox-inline input_checkbox") {cb.check_box(class: "checkbox") + " " +cb.text} %>    
		                <% end %>
			        </div>
		        </div>
			</div>
		</div>
	</div>

</div>
	    

	    <hr style="margin-top: 45px; margin-bottom:35px;" />
	    
	    <h4 style="margin-left:-2%;">Event Contact/Organizer</h4>

	    <div class="form-group">
	    	<div class="row">
	    		<div class="col-12">
	    			<div class="form-label"><%= f.label "Hosting Organization" %></div>
		    		<%= f.text_field :event_host, class: "form-control", placeholder: "Organization Hosting Event" %>
	    		</div>
	    	</div>
    		<div class="row">
    			<div class="col-12">
		    		<div class="form-label"><%= f.label :event_contact %></div>
		    		<%= f.text_field :event_contact, class: "form-control", placeholder: "Contact for Event" %>
		    	</div>
	    	</div>
	    	<div class="row">
	    		<div class="col-4">
	    			<div class="form-label"><%= f.label "Event Phone" %></div>
		    		<%= f.text_field :event_phone, class: "form-control", placeholder: "Phone Number for Event" %>
	    		</div>
	    		<div class="col-4">
	    			<div class="form-label"><%= f.label "Event Email" %></div>
		    		<%= f.text_field :event_email, class: "form-control", placeholder: "Contact Email for Event" %>
	    		</div>
	    		<div class="col-4">
	    			<div class="form-label"><%= f.label "Email for Registration Viewing" %></div>
		    		<%= f.text_field :viewer, class: "form-control", placeholder: "Email for Event Registration Viewing" %>
	    		</div>
	    	</div>
    		<div class="row">
    			<div class="col-12">
		    		<div class="form-label"><%= f.label :event_image %></div>
		    		<%= f.text_field :event_image, class: "form-control", placeholder: "Image Path for Event" %>
		    	</div>
	    	</div>
	    	<div class="row">
    			<div class="col-12">
		    		<div class="form-label"><%= f.label "URL for event" %></div>
		    		<%= f.text_field :evt_link, class: "form-control", placeholder: "URL Link to virtual event (e.g. Teams Link)" %>
		    	</div>
	    	</div>
	    </div>

	    <br /><br />
        
        <div class="form-group">
            <div class="col-sm-12">
                <%= f.submit(@event.new_record? ? "Create Event" : "Update Event", class: "btn btn-primary btn-lg", style: "margin-left:-15px;") %>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <%= link_to "Cancel", :back %>
            </div>
        </div>

    <% end %>
    </div>
</div>