<div class="container" style="padding-bottom: 150px;">


<div class="row">
	<div class="col-md-9">
		<h1>ThinManager Events</h1>
	</div>
	<div class="col-md-3">
		<div class="add_currency_btn">
			<%= link_to "Add Event", new_event_path, class: "btn btn-primary" %>	
		</div>
	</div>
</div>
<hr />



<%= form_for_filterrific(@filterrific, :html => {class: "form-horizontal", role: "form"}) do |f| %>
				
		<div class="container">			  
			<div class="form-group">
				
				<div class="row">
			  	
					  <div class="col-sm-4">
					    <div class="form-label">Search</div>
					    <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
					    <%= f.text_field(
					      :with_search,
					      class: 'filterrific-periodically-observed form-control'
					    ) %>
					  </div>
					  <div class="col-sm-4">
					    <div class="form-label">Event Type</div>
					    <%= f.select(
					      :with_evtcategory,
					      @filterrific.select_options[:with_evtcategory],
					      { include_blank: '- Any -' }, class: "form-control"
					    ) %>
					  </div>
					  
				</div>

				

				<div class="row" style="margin-top:10px;">
					<div class="col-sm-3 offset-sm-9">
					    <%= link_to 'Reset filters', reset_filterrific_url, class: "float-right" %>
					</div>
				</div>

			</div>
			
			<hr style="margin-top:15px; margin-bottom: 25px; border-color: #515151;" />
			
		</div>



		<div class="form-group" >
			<div class="row">
				<div class="col-sm-8"><h4 style="padding-top:30px; margin-bottom: 0px;">Results</h4></div>	
				  <div class="col-sm-4 sort-options">
				    <div class="form-label">Sorted by</div>
				    <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by], class: "form-control") %>
			   </div>
			</div>
		</div>

					  
<% end %>
	

<div class="hw-loader"><%= render_filterrific_spinner %></div>

<%= render(
	partial: 'events/list',
	locals: { events: @events }
) %>






</div>