<div class="full-top-banner">
	<%= image_tag "EventsPageBanner.jpg" %>
</div>
<div class="container" style="padding-bottom: 150px;">

	<div class="row">
		<div class="col-md-9">
			<h1>ThinManager Events</h1>
		</div>
		<div class="col-md-3">
			<div class="add_currency_btn">
				<% if (current_user && current_user.admin?) || (current_user && current_user.evt_admin?) %>
					<%= link_to "Add Event", new_event_path, class: "btn btn-primary" %>
				<% end %>	
			</div>
		</div>
	</div>
	<hr />

	<p>We offer a variety of ways to get your hands on ThinManager. Whether you want to learn new ThinManager skills or simply to see it for the first time, we want to make sure you have plenty of options to increase your knowledge of this powerful device management and content delivery system.</p>



	<div class="flex-container" style="margin-top:55px;">
		<% if @evtcategories.any? %>

			<% @evtcategories.each do |cat| %>
		
				<div class="category-card">
					<div class="card-body">
						<h5 class="card-title" style="color:#003366;"><%= cat.name %>
							<% if current_user && (current_user.admin? || current_user.evt_admin?) %>
								&nbsp;&nbsp;<span style="font-size: .65em; float:right; margin-top: 5px;"><%= link_to "(edit)", edit_evtcategory_path(cat) %></span>
							<% end %>
						</h5>
						<p class="card-text"><%= simple_format(cat.description) %></p>
						<%= link_to "Learn More »", evtcategory_path(cat), class: "btn btn-primary btn-sm", style: "margin-top:15px;"  %>
					</div>
				</div>

			<% end %>

		<% end %>

		<div class="category-card">
			<div class="card-body">
				<h5 class="card-title" style="color:#003366;">Rockwell Events</h5>
				<p class="card-text">Rockwell Automation hosts events throughout the year that give you the opportunity to see ThinManager demonstrated live. Looking for other Rockwell Automation solutions in addition to ThinManager? Rockwell Automation events highlight all the software, hardware and services offered to help you build a modern Connected Enterprise.</p>
				<%= link_to "Learn More »", "https://www.rockwellautomation.com/en-us/company/events.html", class: "btn btn-primary btn-sm", style: "margin-top:15px;", target: "_blank"  %>
			</div>
		</div>

	</div>

</div>