<% if current_user && (current_user.admin? || current_user.evt_admin?) %> 
	<%= render 'adminnav' %>
<% end %>
<div class="container" style="padding-bottom: 150px;">

	<div class="row">
		<div class="col-sm-8">
			<h1><%= @event.name %></h1>
			<% if !@event.live %>
				(Event Not Live)
			<% end %>
			<% if @event.starttime != nil && @event.starttime < Date.today %>
				(Past Event)
			<% end %>
		</div>
		<div class="col-sm-4">
			<% if current_user && (current_user.admin? || current_user.evt_admin?) %>
				<div class="add_currency_btn"><%= link_to "Edit Event", edit_event_path(@event), class: "btn btn-primary" %></div>
			<% end %>
		</div>
	</div>
	<hr />


	<div class="card">
		<div class="card-header">
			<div class="row">
				<div class="col-md-6">
					<div class="card-title">
						<h5>
							<% if @event.starttime != nil && @event.starttime != "" %>
								<% @daystart = @event.starttime.day %>
								<% @dayend = @event.endtime.day %>
								<%= @event.starttime.strftime("%A - %B %d, %Y") %>
								<% if (@event.endtime != nil && @event.endtime != "") && @daystart != @dayend %>
									<span style="font-weight:normal; font-size:.6em;">&nbsp;to&nbsp;</span> <%= @event.endtime.strftime("%A - %B %d, %Y") %>
								<% end %>
							<% else %>
								No date has been set for this event
							<% end %>	
						</h5>
					</div>
					<div class="card-subtitle">
						<% if @event.starttime != nil && @event.starttime != "" %>
							<%= @event.starttime.strftime("%I:%M %P") %> to <%= @event.endtime.strftime("%I:%M %P") %>
						<% else %>
							No times have been set for this event
						<% end %>
					</div>
				</div>
				<div class="col-md-6 button-group-centered">

			        <% if (logged_in? && current_user.admin?) || (logged_in? && current_user.evt_admin?) %>
			            <div class="attendance btn-group" role="group">
			                <%= link_to "Take Attendance", checkin_path(@event), class: "btn btn-default btn-sm btn-outline-primary" %>
			                <% @registered = EventAttendee.where(:event_id => @event.id, :canceled => false) %>
			                <a href="mailto:<% @registered.each do |student| %><%= student.user.email %>,<% end %>" class="btn btn-default btn-sm btn-outline-primary">Email Registrants</a>
			                <%= link_to "SMS", sms_path(@event), class: "btn btn-default btn-sm btn-outline-primary" %>   
			            </div>
			        <% end %>
        
				</div>
			</div>
		</div>
		<div class="card-body">
			<div class="card-text">

				<div class="row" style="margin-bottom:25px;">
					<% if @event.event_image != nil && @event.event_image != "" %>
					<div class="col-md-8">
						<p><%= simple_format(@event.description) %></p>
						<hr />
						<br />
						<b>Event Type:</b>
							<% if @event.evtcategories.any? %> 
								<% @event.evtcategories.each do |cat| %>
									<%= cat.name %>
									<% if @event.evtcategories.count > 1 %>
										,&nbsp;
									<% end %>
									<% end %>
							
							<% end %>
						</p>
						
						<b>Event Organizer: </b>&nbsp;<%= @event.event_host %><br />
						<p><b>Event Venue:</b> <%= @event.venues[0].name if @event.venues.any? %><br />
						<% if @event.venues.any? %>
							<% if @event.venues[0].street != "" && @event.venues[0].street != nil %>
								<b>Address: </b><br />
								<span style="padding-left:35px;">
									<%= @event.venues[0].street %><br />
								</span>
								<span style="padding-left:35px;">
									<%= @event.venues[0].city %>, <%= @event.venues[0].state %> <%= @event.venues[0].zipcode %>
								</span>
							<% end %>
						<% end %>
						<p>
							
							<b>Event Contact: </b>&nbsp;<%= @event.event_contact %><br />
							<b>Contact Phone: </b>&nbsp;<%= @event.event_phone %><br />
							<b>Contact Email: </b>&nbsp;<%= @event.event_email %><br />
						</p>
					</div>
					<div class="col-md-4 event-image">
						<%= image_tag "#{@event.event_image}" %>
					</div>
					<% else %>
					<div class="col">
						<p><%= simple_format(@event.description) %></p>
						<hr />
						<b>Event Type:</b>
							<% if @event.evtcategories.any? %> 
								<% @event.evtcategories.each do |cat| %>
									<%= cat.name %>
									<% if @event.evtcategories.count > 1 %>
										,&nbsp;
									<% end %>
									<% end %>
							<% end %>
						</p>
						
						<b>Event Organizer: </b>&nbsp;<%= @event.event_host %><br />
						<p><b>Event Venue:</b> <%= @event.venues[0].name if @event.venues.any? %><br />
						<% if @event.venues.any? %>
							<% if @event.venues[0].street != "" && @event.venues[0].street != nil %>
								<b>Address: </b><br />
								<span style="padding-left:35px;">
									<%= @event.venues[0].street %><br />
								</span>
								<span style="padding-left:35px;">
									<%= @event.venues[0].city %>, <%= @event.venues[0].state %> <%= @event.venues[0].zipcode %>
								</span>
							<% end %>
						<% end %>
						<p>
							
							
							<b>Event Contact: </b>&nbsp;<%= @event.event_contact %><br />
							<b>Contact Phone: </b>&nbsp;<%= @event.event_phone %><br />
							<b>Contact Email: </b>&nbsp;<%= @event.event_email %><br />
						</p>
					</div>
					<% end %>
				</div>
				<div class="row">
					<div class="col">
						<div class="float-right">
							<% if !@event.live %>
								<span style="font-style:italic; color:gray; font-size: .85em;">This event is not live</span>
							<% elsif @event.starttime != nil && @event.starttime < Date.today %>
								<span style="font-style:italic; color:gray; font-size: .85em;">This is a past event</span>
							<% elsif @registration %>
								<%= link_to "Registered", event_path(@event), class: "disabled btn btn-secondary btn-sm" %>
								<div class="row"><small style="font-style:italic; font-size:.75em; text-align:right !important;">You are registered</small></div>
							<% elsif @full == true %>
								<%= link_to "Event Full", event_path(@event), class: "disabled btn btn-secondary btn-sm" %>
							<% else %>
								<% if current_user %>
									<%= link_to "Register", event_path(@event, :user_id => current_user.id), method: :register, class: "btn btn-primary btn-sm" %> 
								<% else %>
									<%= link_to "Register", event_path(@event), method: :register, class: "btn btn-primary btn-sm" %>
								<% end %>
							<% end %>
						</div>
					</div>
				</div>
				<% if @full == true %>
				<div class="row">
					<div class="col" style="text-align:center; color:red;">THIS EVENT IS AT FULL CAPACITY</div>
				</div>
				<!-- Special Code for Kendall -->
				<% if @event.id == 63 %>
					<div class="row">
						<div class="col" style="text-align:center;">We do have another event open for registration <%= link_to "here", event_path(64) %>.</div>
					</div>
				<% end %>
				<% end %>
				<% if @ical != nil && @event.id != 63 %>
					<div class="row">
						<div class="col" style="text-align:center;"><%= link_to "Add To Calendar", :controller => 'events', :action => :show, :format => :ics %></div>
					</div>
				<% end %>
				<% if logged_in? && (@current_user.admin? || @registration) %>
					<div class="row">
						<div class="col" style="text-align:center; margin-top: 20px;">
							<%= link_to "Training Materials", documents_path, class: "btn btn-sm btn-secondary" %>
						</div>
					</div>
				<% end %>
			</div>
		</div>
		<% if current_user != nil && (current_user.admin? || current_user.evt_admin?) %>
			<div class="card-footer">
				Registered: <%= @allregistered.count %> of <%= @event.capacity %>
			</div>
		<% elsif @spotsleft < 6 && @spotsleft > 0 && (!current_user || !current_user.admin || !current_user.evt_admin?) %>
			<div class="card-footer">
				Only <%= pluralize(@spotsleft, "spot") %> left!
			</div>
		<% elsif @spotsleft == 0 && (!current_user || !current_user.admin || !current_user.evt_admin?) %>
			<div class="card-footer">
				Registration is full
			</div>
		<% end %>
	</div>


	<% if @event.evtcategories.count > 0 %>
		
			<% @event.evtcategories.each do |c| %>
				
			<% if c.name.downcase.include?("roadshow") %>
				
				<div class="row" style="margin-top:20px; margin-bottom: 20px;">
					<div class="col-lg-6 offset-lg-3">
						<div class="well" style="border-radius:10px;">
							<h5 align="center" style="margin-bottom:15px;">ThinManager Mobile Apps</h5>
							<div class="row">
								<div class="col-4 download-rs-pdf">
									<%= link_to (image_tag "icon-apple.png"), "https://itunes.apple.com/us/app/itmc-for-thinmanager-platform/id999068520?mt=8", target: "_blank" %><br />
									<p style="font-size: .65em; line-height: 12px; margin-top:4px;">iTMC</p>
								</div>
								<div class="col-4 download-rs-pdf">
									<%= link_to (image_tag "icon-android.png"), "https://downloads.thinmanager.com", target: "_blank" %><br />
									<p style="font-size: .65em; line-height: 12px; margin-top:4px;">aTMC</p>
								</div>
								<div class="col-4 download-rs-pdf">
									<%= link_to (image_tag "icon-windows.png"), "https://downloads.thinmanager.com", target: "_blank" %><br />
									<p style="font-size: .65em; line-height: 12px; margin-top:4px;">winTMC</p>
								</div>
							</div>
						</div>
					</div>
				</div>


			<% end %>

			<% end %>
		
	<% end %>



<% if current_user != nil && (current_user.admin? || current_user.evt_admin?) %>
	<h2 align="center" style="margin-top: 65px;">Registrants</h2>
	
	<% if @allregistered.any? %>
			<div class="small-sub-title"><%= @allregistered.count %> of <%= @event.capacity %> possible</div>
			<div class="csv-link"><a href="/events/<%= @event.id %>.csv">Export (CSV)</a></div>
			<div class="row" style="margin-bottom:5px;">
				<div class="col-md-4">
					<b style="padding-left:15px;">Name</b>
				</div>
				<div class="col-md-4"><b style="padding-left:5px;">Company</b></div>
			</div>
			<% @allregistered.each do |u| %>
				
				<div class="well-sm" style="margin-bottom:2px; padding: 5px 15px; <% if u.checkedin? %>background-color:palegreen;<% end %>">
					<div class="row">
						<div class="col-md-4">
							<%= u.user.firstname %> <%= u.user.lastname %>
						</div>
						<div class="col-md-4">
							<%= u.user.company %>
						</div>
						<div class="col-md-4">
							<div class="float-right">
								<%= link_to "User Profile", user_path(u.user), style: "color: #0fbfef;" %> &nbsp;|&nbsp; 
								<%= link_to "Cancel Registration", reg_cancel_path(@event, :user_id => u.user.id), method: :reg_cancel, data: {confirm: "Are you sure want to cancel this registration?"}, style: "color:red;" %>
								<!-- <%= link_to "Delete Registration", deregister_path(:reg => u) , method: :destroy, data: { confirm: "You sure? "}, style: "color:red;" %> -->
							</div>
						</div>
					</div>
				</div>
				
			<% end %>
		
	<% else %>
		<p style="color:darkorange; text-align:center;">There are no users registrered for this event</p>
	<% end %>


	<h2 align="center" style="margin-top: 35px;">Attendance</h2>

	<div class="well">
		<div class="row">
			<div class="col" style="text-align:center;">
				<% @checkedin = @allregistered.where(:checkedin => true) %>
				<%= @checkedin.count %> users attended of the <%= @allregistered.count %> registered.
			</div>
		</div>
	</div>


	<h2 align="center" style="margin-top: 35px;">Canceled Registrations</h2>

	<% if @canceled.any? %>
		<% @canceled.each do |u| %>
				
				<div class="well-sm" style="margin-bottom:2px; padding: 5px 15px; <% if u.checkedin? %>background-color:palegreen;<% end %>">
					<div class="row">
						<div class="col-md-4">
							<%= u.user.firstname %> <%= u.user.lastname %>
						</div>
						<div class="col-md-4">
							<%= u.user.company %>
						</div>
						<div class="col-md-4">
							<div class="float-right">
								<%= link_to "User Profile", user_path(u.user), style: "color: #0fbfef;" %> &nbsp;|&nbsp; 
								<%= link_to "Re-Register", reg_cancel_path(@event, :user_id => u.user.id), method: :reg_cancel, data: {confirm: "Are you sure want to re-register this user?"} %>
							</div>
						</div>
					</div>
				</div>
				
			<% end %>
	<% end %>
<% end %>


<% if current_user && current_user.email == @event.viewer %>
	<h2 align="center" style="margin-top: 35px;">Registration Details</h2>
	<% if @allregistered.any? %>
		<div class="small-sub-title"><%= @allregistered.count %> of <%= @event.capacity %> possible</div>
		<div class="csv-link"><a href="/events/<%= @event.id %>.csv">Export (CSV)</a></div>
		<div class="row" style="margin-bottom:5px;">
				<div class="col-md-4">
					<b style="padding-left:15px;">Name</b>
				</div>
				<div class="col-md-4"><b style="padding-left:5px;">Company</b></div>
			</div>
			<% @allregistered.each do |u| %>
				<div class="well-sm" style="margin-bottom:2px; padding: 5px 15px; <% if u.checkedin? %>background-color:palegreen;<% end %>">
					<div class="row">
						<div class="col-md-4">
							<%= u.user.firstname %> <%= u.user.lastname %>
						</div>
						<div class="col-md-4">
							<%= u.user.company %>
						</div>
						<div class="col-md-4">
							<div class="float-right">
								<% if u.checkedin %>
									Attended
								<% end %>
							</div>
						</div>
					</div>
				</div>
			<% end %>
	<% end %>
<% end %>	 
	

	
	

</div>