<div class="container" style="padding-bottom:125px;">

<div class="row">
	<div class="col-md-9">
		<h1>Event Types</h1>
	</div>
	<div class="col-md-3">
		<div class="add_currency_btn"><%= link_to "Add Type", new_evtcategory_path, class: "btn btn-primary" %></div>
	</div>
</div>

<hr />

<% if @evtcategories.any? %>

<% @evtcategories.each do |cat| %>
	


	<div class="col-lg-6 offset-lg-3">
		<div class="well category-well">
			<h3 style="margin-bottom:0px;"><%= link_to "#{cat.name}", evtcategory_path(cat), style: "color:inherit;" %></h3>
			<p style="margin-bottom:10px;"><small><%= pluralize(cat.events.count, "created event") %></small></p>
			<p><%= link_to "Edit", edit_evtcategory_path(cat) %> &nbsp;&nbsp;|&nbsp;&nbsp; <%= link_to "Delete", evtcategory_path(cat), method: :delete, data: {confirm: "Are you sure you want to delete this Event type?"}, style: "color:red;" %></p>

			<hr />

			<small><%= pluralize(cat.tags.count, "created sub groups") %></small>
		</div>
	</div>


<% end %>

<% else %>
	
	<p style="color:orangered;">There are no Event Types or Categories Created yet.</p>

<% end %>



</div>