<div class="container" style="padding-bottom:150px;">

<h1><%= @etype.name %></h1>
<hr />

<% if @groups.any? %>
<div class="flex-container" style="margin-top:55px;">	
	<% @groups.each do |group| %>

		<div class="group-card">
			<div class="card-body">
				<h5 class="card-title" style="color:#003366;"><%= group.name %>
					<% if current_user && (current_user.admin? || current_user.evt_admin?) %>
						&nbsp;&nbsp;<span style="font-size: .65em; float:right; margin-top: 5px;"><%= link_to "(edit)", edit_tag_path(group) %></span>
					<% end %>
				</h5>
				<p class="card-text"><%= simple_format(group.description) %></p>
				<p class="card-text">
					<span style="font-weight:bold;">COST</span><br />
					Complimentary
				</p>
				<% if group.name.downcase.include? "certification" %>
					<%= link_to "Learn More »", si_path, class: "btn btn-primary btn-sm", style: "margin-top:15px;"  %>
				<% elsif group.name.downcase.include? "video learning" %>
					<%= link_to "Learn More »", learning_path, class: "btn btn-primary btn-sm", style: "margin-top:15px;"  %>
				<% else %>
					<%= link_to "Learn More »", tag_path(group), class: "btn btn-primary btn-sm", style: "margin-top:15px;"  %>
				<% end %>
			</div>
		</div>

	<% end %>


</div>
<hr style="margin-bottom:45px;" />
<% end %>

<% if @allevents.any? %>

	<h5>All <%= @etype.name %> Events</h5>
	<div class="flex-container" style="margin-top:25px;">
		
		<% @events.each do |event| %>

			<% if event.live %>
				<div class="full-width-card">
					<div class="card-body">
						<p class="card-text">
							<div class="row">
								<div class="col-md-4">
									<%= link_to "#{event.name}", event_path(event) %>
								</div>
								<div class="col-md-3">
									<% if event.virtual %>
										Virtual Event
									<% else %>
										In-Person Event
									<% end %>
								</div>
								<div class="col-md-3">
									<%= event.starttime.strftime("%B %d, %Y") %>
								</div>
								<div class="col-md-2">
									<%= link_to "Learn More »", event_path(event), class: "btn btn-outline-primary btn-sm float-right"  %>
								</div>
							</div>
						</p>
					</div>
				</div>
			<% end %>

		<% end %>

	</div>
<% end %>

<% if !@groups.any? && !@allevents.any? %>

	<p style="color:darkorange;">There are no events for this Event Type</p>

<% end %>

</div>