<div class="full-top-banner">
	<% if @etype.image_link != nil && @etype.image_link != '' %>
		<img src="<%= @etype.image_link %>" alt="<%= @etype.name %>" />
	<% end %>
</div>
<div class="container" style="padding-bottom:150px;">

<h1><%= @etype.name %></h1>
<hr />

<% if @groups.any? %>
<div class="flex-container" style="margin-top:55px;">	
	<% @groups.each do |group| %>
		<% if group.name.include? "internal" %>

		<% else %>
			<div class="group-card">
				<div class="card-body">
					<h5 class="card-title" style="color:#003366;"><%= group.name %>
						<% if current_user && (current_user.admin? || current_user.evt_admin?) %>
							&nbsp;&nbsp;<span style="font-size: .65em; float:right; margin-top: 5px;"><%= link_to "(edit)", edit_tag_path(group) %></span>
						<% end %>
					</h5>
					<p class="card-text"><%= simple_format(group.description) %></p>
					<p class="card-text">
						<span style="font-weight:bold;">COST</span><br />
						Complimentary
					</p>
					<% if group.name.downcase.include? "certification" %>
						<%= link_to "Learn More »", si_path, class: "btn btn-primary btn-sm", style: "margin-top:15px;"  %>
					<% elsif group.name.downcase.include? "video learning" %>
						<%= link_to "Learn More »", "https://learn.thinmanager.com", class: "btn btn-primary btn-sm", style: "margin-top:15px;", target: "_blank"  %> 
						<!-- change to learning_path when learning live local -->
					<% else %>
						<%= link_to "Learn More »", tag_path(group), class: "btn btn-primary btn-sm", style: "margin-top:15px;"  %>
					<% end %>
				</div>
			</div>
		<% end %>

	<% end %>


</div>
<hr style="margin-bottom:45px;" />
<% end %>

<% if @allevents.any? %>

	<h5>All <%= @etype.name %> Events</h5>
	<div class="flex-container" style="margin-top:25px;">
		
		<% if @events.count > 0 %>
		
			<% @events.each do |event| %>

				<% if event.live %>
					<%= render 'events/full-card', event: event %>
				<% end %>

			<% end %>

		<% else %>
			<p style="color:darkorange;">We are in the scheduling process. Please check back soon.</p>
		<%end %>
	</div>
<% end %>

<% if !@groups.any? && !@allevents.any? %>

	<p style="color:darkorange;">We are in the scheduling process. Please check back soon.</p>

<% end %>

</div>