<div class="container">
	
	<div class="row">
		<div class="col-md-9">
			<h1 class="page-header">Welcome <%= "#{@current_user.firstname}" %></h1>
			<% if @current_user.admin? %>
				<p>User Type: <span style="font-weight:bold;">Admin</span></p>
			<% elsif @current_user.prttype != "" && @current_user.prttype != nil %>
				<p>Partner Type: <span style="font-weight:bold;"><%= "#{@current_user.prttype}" %></span></p>
			<% end %>
		</div>
		<div class="col-md-3 dist-logo">
			<% if @current_user.channel == "Rockwell Automation" %>
				<%= image_tag "RA-Logo.png" %>
			<% elsif @current_user.channel == "Wonderware" %>
				<%= image_tag "ww-logo.png" %>
			<% end %>
		</div>
	</div>


	
	
	<hr />
	
	<div class="row">
		
		<div class="col">
			<p style="font-size: .65em;">By using this partner portal, you agree that any information viewed, copied and/or downloaded will remain as non-disclosable information. This includes, but is not limited to, the ThinManager product price list, partner-specific videos, strategic information such as product path planning, etc. This portal is for the sole benefit of your specific channel and access to confidential information in the portal is only meant to be shared within the ThinManager/Channel Partner relationship.</p>
		</div>

	</div>
<br />
	<div class="row">
		<h4 style="padding-left: 1.5%;">Here and Happy to Help</h4>
	</div>
	<br />
	<div class="row">
		<div class="col-md-6 inside-sales-pic" style="text-align: center;"><%= image_tag "inside-sales.png" %></div>
		<div class="col-md-6"><p>We are invested in helping you succeed. Whether you are presenting ThinManager to a customer or looking to upgrade them to the newest version, we are here to help. Our talented and trained sales staff can help you with almost anything you need, and they are very easy to deal with. </p>
		<p><%= link_to "insidesales@thinmanager.com", "mailto:insidesales@thinmanager.com" %></p>
		</div>
	</div>

<br /><br />
	<div class="card-columns hp-cards">
	  
	  <% if @current_user.admin? || (@current_user.continent == "North America" && @current_user.prttype == "Distributor")%>
		  <div class="card pricing-card">
		    <!--<img class="card-img-top" src="#" alt="Card image cap">-->
		    <div class="card-body">
		      <h5 class="card-title">ThinManager Pricing</h5>
		      <p class="card-text">Need to make a quote? Find ThinManager Part Numbers and prices, with peace of mind knowing that they are kept current and up to date.<br />Questions? Email our <%= link_to "Inside Sales", "mailto:insidesales@thinmanager.com" %>.</p>
		      <p class="card-text"><small class="text-muted"><!--Last updated: Aug 26th, 2019-->Last updated: Mar 11th, 2019</small></p>
		      <div align="right"><%= link_to "View Pricing", pricing_path, class: "btn btn-primary" %></div>
		    </div>
		  </div>
	  <% end %>


	  <div class="card">
	    
	    <div class="card-body">
	      <h5 class="card-title">ThinManager Download</h5>
	      <p class="card-text">Download the lastest version of ThinManager, Version 11.1</p>
	      <p class="card-text"><small class="text-muted">Need activation instructions? <%= link_to "Learn More", "https://thinmanager.com/activate", target: "_blank" %></small><br />
	      <small class="text-muted">Need a different download? <%= link_to "Click Here", "https://downloads.thinmanager.com", target: "_blank" %></small></p>
	      	<div align="right">
	      		<%= link_to 'Download Now', download_path(current_user), method: :new_dl, class: "btn btn-primary", onclick: "window.open('https://downloads.thinmanager.com/Files/11.1.0-ThinManager-Web.exe' + location.search)" %>
	  		</div>
	    </div>
	  </div>


	  <div class="card">
	    <%= image_tag "thePlant.jpg", class: "card-img-top" %>
	    <div class="card-body">
	      <h5 class="card-title">The Plant Podcast</h5>
	      <p class="card-text">We host a monthly Podcast called "The Plant". Listen as we interview guests about ThinManager, integration stories, customer use cases and much more.</p>
	      <div align="right"><%= link_to "Listen Now", "https://blogs.thinmanager.com/thinclients/?cat=286", class: "btn btn-primary", target: "_blank" %></div>
	    </div>
	  </div>



	  <div class="card">
	    <%= image_tag "Authorized-Logo.png", class: "card-img-top" %>
	    <div class="card-body">
	      <h5 class="card-title">ThinManager Branding</h5>
	      <p class="card-text">Looking to get ThinManager Partner status represented on your website?  Take a look at this guide to getting it done.</p>
	      <div align="right"><%= link_to "Learn More", "https://thinmanager.com/partners/branding", class: "btn btn-primary", target: "_blank" %></div>
	    </div>
	  </div>


	  <div class="card">
	    
	    <div class="card-body">
	      <h5 class="card-title">Resource Documents</h5>
	      <p class="card-text">This group of documents and resources may not be essential to install and get started with ThinManager, but you might think they are.</p>
	      <div align="right"><%= link_to "Learn More", documents_path, class: "btn btn-primary" %></div>
	    </div>
	  </div>
	
 
	<div class="card">
	    <%= image_tag "learning-pic.jpg", class: "card-img-top" %>
	    <div class="card-body">
	      <h5 class="card-title">ThinManager Video Learning</h5>
	      <p class="card-text">We have put together a great series of feature videos and quizzes to teach ThinManager in a self-paced, watch and learn, simply way &boxh; perfect for both end users and ThinManager Partners.</p>
	      <p>Create an account and get started right now.</p>
	      <div align="right"><%= link_to "Get Started", "https://learn.thinmanager.com", class: "btn btn-primary", target: "_blank" %></div>
	    </div>
	</div>
	<!--
	<% if @current_user.admin? || @current_user.channel == "Rockwell Automation" %>
	<div class="card">
	    <%= image_tag "Stratus_ztC_tile-image.png", class: "card-img-top" %>
	    <div class="card-body">
	      <h5 class="card-title">Stratus ztC Edge</h5>
	      <p class="card-text">Purpose-built for operational technology (OT), ztC Edge is easy to set up, configure and manage...</p>
	      <div align="right"><%= link_to "Learn More", "https://thinmanager.com/hardware/stratus", class: "btn btn-primary", target: "_blank" %></div>
	    </div>
	</div>
	<% end %>
	-->
<!--
	<div class="card">
	    
	    <div class="card-body">
	      <h5 class="card-title">Legal Documents</h5>
	      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
	      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
	    </div>
	</div>
	
	<% if @current_user.admin? || @current_user.channel == "Rockwell Automation" %>
	<div class="card">
	    
	    <div class="card-body">
	      <h5 class="card-title">Rockwell Channel Support</h5>
	      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
	      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
	    </div>
	</div>
	<% end %>
	<% if @current_user.admin? || @current_user.channel == "Wonderware" %>
	<div class="card">
	    
	    <div class="card-body">
	      <h5 class="card-title">Wonderware Channel Support</h5>
	      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
	      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
	    </div>
	</div>
	<% end %>
	<% if @current_user.admin? || (@current_user.channel != "Rockwell Automation" && @current_user.channel != "Wonderware") %>
	<div class="card">
	    
	    <div class="card-body">
	      <h5 class="card-title">Channel Partner Support</h5>
	      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
	      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
	    </div>
	</div>
	<% end %>-->

	<% if @current_user.admin? || (@current_user.channel != nil && @current_user.channel != "") %>
	<div class="card">
	    <%= image_tag "v-flex.jpg", class: "card-img-top" %>
	    <div class="card-body">
	      <h5 class="card-title">ThinManager V-FLEX Licensing</h5>
	      <p class="card-text">We are please to announce V-FLEX licensing for ThinManager.</p>
	      <p class="card-text">ThinManager Licensing has never been so flexibile. We can't wait to tell you more about it.</p>
	      <p class="card-text"><small class="text-muted">Officially Available: Late August, 2019</small></p>
	      <div align="right"><%= link_to "Learn More", vflex_path, class: "btn btn-primary" %></div>
	    </div>
	</div>
	<% end %>

	<div class="card">
	    
	    <div class="card-body">
	      <h5 class="card-title">ThinManager Contact</h5>
	      <p class="card-text">Looking for something specific? Confused with what you found? Have Questions? We can help.</p>
	      <p class="card-text">Ph: 678-990-0945<br />
	      Email: <a href="mailto:insidesales@thinmanager.com">insidesales@thinmanager.com</a></p>
	    </div>
	</div>

</div>

	



	<br /><br /><br /><br /><br />

</div>