<div class="container">
	

<% if (!@current_user.admin && @current_user.prttype == "Integrator" && @current_user.certexpire == nil) || (!@current_user.admin && @current_user.prttype == "Integrator" && @current_user.certexpire < Date.today) %>
<!-- && (@current_user.certexpire < Date.today) -->
<br />

	<div class="col-md-8 offset-md-2">
		<div class="well recert-alert" style="margin-bottom:15px; border: 5px solid red; background-color:#F46767;">
			<div class="row">
				<div class="col-md-9">
					<p><span class="bold">Your ThinManager Certification has expired</span>.  <span class="goAway"><br /> </span>You need to get recertified.  Don't&nbsp;worry, this should be pretty easy.</p>
				</div>
				<div class="col-md-3">
					<div align="right"><%= link_to "Get Recertified", labs_path, class: "btn btn-danger" %></div>
				</div>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="col-md-8 offset-md-4">
			<%= link_to "Get Recertified", labs_path %>
			&nbsp;&nbsp;|&nbsp;&nbsp;
			<%= link_to "Contact Us with Questions", "mailto:info@thinmanager.com" %>
		</div>
	</div>



<% else %>




	<div class="row">
		<div class="col-md-9">
			<h1 class="page-header">Welcome <%= "#{@current_user.firstname}" %></h1>
			<% if @current_user.admin? %>
				<p>User Type: <span style="font-weight:bold;">Admin</span></p>
			<% elsif @current_user.prttype != "" && @current_user.prttype != nil %>
				<p>Partner Type: <span style="font-weight:bold;"><%= "#{@current_user.prttype}" %></span>
			<% if (@current_user.certexpire != nil && @current_user.certexpire != "") %>
					&nbsp;&nbsp;|&nbsp;&nbsp;Certification Expiration: <span style="font-weight:bold;"><%= @current_user.certexpire %></span>
			<% end %>
				</p>
			<% end %>
		</div>
		<div class="col-md-3 dist-logo">
			<% if @current_user.prttype == "Distributor" && @current_user.channel == "Rockwell Automation" %>
				<%= image_tag "RA-Logo.png" %>
			<% elsif @current_user.prttype == "Distributor" && @current_user.channel == "Wonderware" %>
				<%= image_tag "ww-logo.png" %>
			<% end %>
		</div>
	</div>
	


	<% if @current_user.admin || 
		(@current_user.certexpire != nil && @current_user.certexpire > Date.today && !@current_user.needs_review) %>
		<div class="row cert-get-button">
			<div class="col-md-12">
				<%= link_to "View Certificate", mycert_path, class: "btn btn-info" %>
			</div>
		</div>
	<% end %>
	



	<hr />
	




	<!----------- Disclaimer information Here ----------->
	<div class="row">
		<div class="col">
			<% if @current_user.needs_review || @current_user.prttype == "End User" %>
				<p style="font-size: .65em;">Portal access is provided for ThinManager users as a resource for managing your ThinManager certification. This and other available resources are provided to enhance your ThinManager experience.</p>
			<% elsif !@current_user.needs_review && (@current_user.prttype == "OEM" || @current_user.prttype == "Integrator") %>
				<p style="font-size: .65em;">Portal access is provided for our ThinManager certified partners as a resource for managing your ThinManager certification. This and other available resources are provided to enhance your ThinManager experience.</p>
			<% else %>
				<p style="font-size: .65em;">By using this partner portal, you agree that any information viewed, copied and/or downloaded will remain as non-disclosable information. This includes, but is not limited to, the ThinManager product price list, partner-specific videos, strategic information such as product path planning, etc. This portal is for the sole benefit of your specific channel and access to confidential information in the portal is only meant to be shared within the ThinManager/Channel Partner relationship.</p>
			<% end %>
		</div>
	</div>







<br />





<% if @current_user.prttype == "Integrator" && !@current_user.needs_review %>
	
	<% if (@current_user.certexpire != nil && @current_user.certexpire != "") && @current_user.certexpire < Date.today() + 180 %>	
		
			<div class="well recert-alert" style="
				<% if @current_user.certexpire < Date.today() + 32 %>
					background-color: #EA604E !important;  border: 5px solid #C91C05; 
				<% end %>
			">
				<div class="row">
				<div class="col-md-9">
					<p>Your ThinManager certification expires on <span class="bold" style="font-size:1.25em;"><%= @current_user.certexpire.strftime('%B %d, %Y') %></span>.</p>
					<p>You can easily renew your certification by completing the latest On-Demand ThinManager certification process. Simply complete the labs, as required, and submit them for grading.</p>
					<p><span class="bold">Ready to go? Click the button!</span></p>
				</div>
				<div class="col-md-3">
					<% if @current_user.certexpire < Date.today() + 32 %>
						<div align="right"><%= link_to "Get Recertified", labs_path, class: "btn btn-danger" %></div>
					<%else %>
						<div align="right"><%= link_to "Get Recertified", labs_path, class: "btn btn-warning" %></div>
					<% end %>
				</div>
				</div>	
			</div>

	<% end %>

<% end %>







<% if (@current_user.admin || @current_user.prttype == "Distributor") && !@current_user.needs_review %>

	<div class="row">
		<h4 style="padding-left: 1.5%;">Here and Happy to Help <% if @current_user.admin %><span style="font-size:.65em; font-weight: lighter;">&nbsp;&nbsp;(Distributors)</span><% end %></h4>
	</div>
	<br />
	<div class="row">
		<div class="col-md-6 inside-sales-pic" style="text-align: center;"><%= image_tag "inside-sales_21.png" %></div>
		<div class="col-md-6"><p>We are invested in helping you succeed. Whether you are presenting ThinManager to a customer or looking to upgrade them to the newest version, we are here to help. Our talented and trained sales staff can help you with almost anything you need, and they are very easy to deal with. </p>
		
			<% if @current_user.admin? || @current_user.channel == "" || @current_user.channel == "Rockwell Automation" %>
				<p><%= link_to "insidesales@thinmanager.com", "mailto:insidesales@thinmanager.com" %></p>
			<% elsif @current_user.channel == "Wonderware" %>
				<p><%= link_to "ww_insidesales@thinmanager.com", "mailto:ww_insidesales@thinmanager.com" %></p>
			<% elsif @current_user.channel == "GE" %>
				<p><%= link_to "ge_insidesales@thinmanager.com", "mailto:ge_insidesales@thinmanager.com" %></p>
			<% end %>
		
		</div>
	</div>



<br /><br />
<% end %>






<% if (@current_user.admin || @current_user.prttype == "Integrator") && !current_user.needs_review %>

	<div class="row">
		<h4 style="padding-left: 1.5%;">We Are Here If You Need <% if @current_user.admin %><span style="font-size:.65em; font-weight: lighter;">&nbsp;&nbsp;(Integrators)</span><% end %></h4>
	</div>
	<br />
	<div class="row">
		<div class="col-md-6 inside-sales-pic" style="text-align: center;">
			<%= image_tag "TM-Partner-Badge.png" %>	
		</div>
		<div class="col-md-6"><p style="padding-top: 10px;">Integration of the ThinManager software is the life blood of getting our customers up and keeping them running. Your knowledge and understanding of ThinManager is vital to our success.</p>
		<p>If you can't find what you are looking for here and need help with questions, <%= link_to "contact us", "mailto:certification@thinmanager.com" %>. We are here and happy to help.</p>
		</div>
	</div>



<br /><br /><br />
<% end %>




	<div class="card-columns hp-cards">
	  

	  <!-- Pricing Card -->
	  <% if @current_user.admin? || (@current_user.continent == "North America" && @current_user.prttype == "Distributor") || (@current_user.continent == "NA" && @current_user.prttype == "Distributor") && !current_user.needs_review %>
		  <div class="card pricing-card">
		    <div class="card-body">
		      <h5 class="card-title">ThinManager Pricing</h5>
		      <p class="card-text">Need to make a quote? Find ThinManager Part Numbers and prices, with peace of mind knowing that they are kept current and up to date.<br />Questions? Email our <%= link_to "Inside Sales", "mailto:insidesales@thinmanager.com" %>.</p>
		      <p class="card-text"><small class="text-muted">Last updated: August 30th, 2020</small></p>
		      <div align="right"><%= link_to "View Pricing", pricing_path, class: "btn btn-primary" %></div>
		    </div>
		  </div>
	  <% end %>




	  <!-- Flex Forward Card -->
	  <% if @current_user.admin? || (@current_user.prttype == "Distributor" && @current_user.channel != nil && @current_user.channel != "" && !current_user.needs_review) %>
		  	<div class="card" style="padding-top: 20px;">
			    <%= image_tag "ff-logo.png", class: "card-img-top" %>
			    <div class="card-body">
			      <h5 class="card-title">Flex Forward Calculator</h5> 
			  		<p class="card-text">Now that ThinManager has moved to our new V-FLEX pricing model, many customers need to calculate expansion and future growth under this new model. You're in luck!  We have developed a solution to help calculate moving to V-FLEX and taking advantage of built-in bulk rate discounts!</p>
			      <div align="right"><%= link_to "Learn More", new_flexforward_path, class: "btn btn-primary" %></div>
			    </div>
			</div>
	  <% end %>



	  <!-- ThinManager Download Card -->
	  <% if !@current_user.needs_review %>
		  <div class="card">
		    <div class="card-body">
		      <h5 class="card-title">ThinManager Download</h5>
		      <p class="card-text">Download the lastest version of ThinManager, Version 12.0.1</p>
		      <p class="card-text"><small class="text-muted">Need activation instructions? <%= link_to "Learn More", "https://thinmanager.com/activate", target: "_blank" %></small><br />
		      <small class="text-muted">Need a different download? <%= link_to "Click Here", "https://downloads.thinmanager.com", target: "_blank" %></small></p>
		      	<div align="right">
		      		<%= link_to 'Download Now', download_path(current_user), method: :new_dl, class: "btn btn-primary", onclick: "window.open('https://downloads.thinmanager.com/Files/12.0.1-ThinManager-Web.exe' + location.search)" %>
		  		</div>
		    </div>
		  </div>
	  <% end %>





	  <!--------- Integrator Resource Card ------------->
	  <% if @current_user.admin? || (@current_user.prttype == "Integrator" && @current_user.certexpire > Date.today) %>
	  	<div class="card">
		    
		    <div class="card-body">
		      <h5 class="card-title">System Integrator Resources</h5>
		      <p class="card-text" style="margin-bottom:0px;">Lab License</p>
		      <p class="card-text" style="line-height: 12px;"><small class="text-muted">As a certified Integrator, you can request a complimentary 10-pack lab license for testing ThinManager.</small></p>
		      <p class="card-text" style="margin-bottom:0px;">Web Listing</p>
		      <p class="card-text" style="line-height: 12px; margin-bottom: 25px;"><small class="text-muted">Give us your details and get listed on the ThinManager.com website as a certified integrator.</small></p>
		      <div align="right"><%= link_to "Go Now", "https://thinmanager.com/weblisting", class: "btn btn-primary", target: "_blank" %>
		      </div>
		    </div>
		  </div>
	  <% end %>





	  <!-------- Certification Card ---------->
	  <% if @current_user.admin? || (@current_user.certdate == nil || @current_user.certdate == "")  %>
		  <div class="card">
		  	<%= image_tag "certimage.jpg", class: "card-img-top" %>
		  	<div class="card-body">
		  		<h5 class="card-title">ThinManager Certification</h5>
		  		<p class="card-text">Complete a self-paced set of ThinManager lab exercises to earn ThinManager Certification.</p>
		  		<div align="right"><%= link_to "Upload My Lab", upload_path, class: "btn btn-sm" %>&nbsp;&nbsp;<%= link_to "Get Certified", labs_path, class: "btn btn-primary" %></div>
		  	</div>
		  </div>
	  <% end %> 




	  <!-------- Put card for Customer Success Stories Here ---------->
	  <div class="card">
	  	<%= image_tag "customerSuccess.jpg", class: "card-img-top" %>
	  	<div class="card-body">
	  		<h5 class="card-title">ThinManager Success</h5>
	  		<p class="card-text">Read captivating success stories from Integrators solving challenges and putting ThinManager in to production.</p>
	  		<div align="right"><%= link_to "Read Now", "https://thinmanager.com/media#integrators", class: "btn btn-primary", target: "_blank" %></div>
	  	</div>
	  </div>


	  



	  <!-------------- ROI Download Card ------------->
	  <% if @current_user.admin || (@current_user.prttype == "Distributor" || @current_user.prttype == "OEM" || @current_user.prttype == "Integrator") && !@current_user.needs_review %>
		  <div class="card">
		    
		    <div class="card-body">
		      <h5 class="card-title">ThinManager ROI Calculator</h5>
		      <p class="card-text">Download our ROI Calculator</p>
		      <p class="card-text" style="line-height: 12px;"><small class="text-muted">Enter your customer's costs and information. Let the calulator show you what ThinManager can mean for your project.</small></p>
		      	<div align="right" style="margin-top: 22px;">
		      		<%= link_to 'Download Now', calculators_path(current_user), method: :new_calc, class: "btn btn-primary", onclick: "window.open('https://thinmanager.com/roi/program/version2020/Signed/ThinManagerROI.exe' + location.search)" %>
		  		</div>
		    </div>
		  </div>
	  <% end %>





	  <% if @current_user.admin %>
	  	<!----------------- Feature Spotlight Card ------------------>
		  <div class="card">
		  	<div class="card-body">
		  		<h5 class="card-title" style="margin-bottom: 4px;">Feature Snapshot</h5>
		  		<h6 class="card-subtitle text-muted">5 New Features of ThinManager</h6>
		  		<br />
		  		<ul class="list-group list-group-flush">
		  			<li class="list-group-item">Web Browser Display Client</li>
		  			<li class="list-group-item">Freeform MultiMonitor</li>
		  			<li class="list-group-item">Portrait Mode</li>
		  			<li class="list-group-item">Dependent PIN Authentication</li>
		  			<li class="list-group-item">Display Client Grouping</li>
		  		</ul>
		  	</div>
		  </div>

		  <!----------------- Featured Hardware Card ------------------>
		  <div class="card" style="text-align: center;">
		  	<%= image_tag "hardware-card-image.jpg", class: "card-img-top" %>
		  	<div class="card-body">
		  		<h5 class="card-title" style="">Featured Hardware</h5> 
		  		<ul class="list-group list-group-flush">
		  			<li class="list-group-item">Allen-Bradley VersaView
		  				<ul style="list-style: none; margin-left: -15%;">
		  					<small><li><%= link_to "Learn More »", "https://ab.rockwellautomation.com/Computers/Thin-Clients", target: "_blank" %></li></small>
		  				</ul>
		  			</li>
		  				
		  			<li class="list-group-item">OnLogic Supply Industrial clients
		  				<ul style="list-style: none; margin-left: -15%;">
		  					<small><li><%= link_to "Learn More »", "https://www.logicsupply.com/markets/manufacturing/industrial-thin-clients/", target: "_blank" %></li></small>
		  				</ul>
		  			</li>
		  			<li class="list-group-item">Stratus ztC Edge servers
		  				<ul style="list-style: none; margin-left: -15%;">
		  					<small><li><%= link_to "Learn More »", "https://www.stratus.com/solutions/platforms/ztc-edge/", target: "_blank" %></li></small>
		  				</ul>
		  			</li>
		  		</ul>
		  	</div>
		  </div>
	  
	  <% end %>

	  



	  <!-- QR Code Generator Card -->
	  <% if !@current_user.needs_review %>
	  <div class="card">
	  	<%= image_tag "qr-card-image.jpg", class: "card-img-top" %>
	    <div class="card-body">
	    	<h5 class="card-title">QR Code Generator</h5>
	    	<p class="card-text">Location resolvers in ThinManager are the essential key to Relevance and implementing location based mobility in your projects. Create and manage text based QR Codes right here.</p>
	    	<div align="right"><%= link_to "Create a QR", new_qrcode_path, class: "btn btn-primary" %></div>
	    </div>	
	  </div>
	  <% end %>






	  <!-------- Podcast Card ---------->
	  <div class="card">
	    <%= image_tag "thePlant.jpg", class: "card-img-top" %>
	    <div class="card-body">
	      <h5 class="card-title">The Plant Podcast</h5>
	      <p class="card-text">We host a monthly Podcast called "The Plant". Listen as we interview guests about ThinManager, integration stories, customer use cases and much more.</p>
	      <div align="right"><%= link_to "Listen Now", "https://blogs.thinmanager.com/thinclients/?cat=286", class: "btn btn-primary", target: "_blank" %></div>
	    </div>
	  </div>







	  <!-------- Blog Card ---------->
	  <div class="card">
	  	<%= image_tag "Blog-card-image.jpg", class: "card-img-top" %>
	  	<div class="card-body">
	  		<h5 class="card-title">The ThinManager Blog</h5>
	  		<p class="card-text">Read great content about ThinManager that has been crafted for our subscribers to enjoy.</p>
	  		<div align="right"><%= link_to "Read Now", "https://blogs.thinmanager.com/thinclients/", class: "btn btn-primary", target: "_blank" %></div>
	  	</div>
	  </div>







	  <!----------------- Resources Card ------------------>
	  <% if !@current_user.needs_review %>
	  <div class="card">
	    <div class="card-body">
	      <h5 class="card-title">Resource Documents</h5>
	      <p class="card-text">This group of documents and resources may not be essential to install and get started with ThinManager, but you might think they are.</p>
	      <div align="right"><%= link_to "Learn More", documents_path, class: "btn btn-primary" %></div>
	    </div>
	  </div>
	  <% end %>







	  <!----------------- License Activation Card ------------------>
	  <% if !@current_user.needs_review %>
		  <div class="card">
		    <div class="card-body">
		      <h5 class="card-title">License Activation</h5>
		      <p class="card-text">From transfering licenses and ownership to getting up and running with ThinManager.</p>
		      <div align="right"><%= link_to "Go Now", "https://thinmanager.com/licensing/", class: "btn btn-primary", target: "_blank" %></div>
		    </div>
		  </div>
	  <% end %>



 
 		<!----------------- Video Learning Card ------------------>
		<div class="card">
		    <%= image_tag "learning-pic.jpg", class: "card-img-top" %>
		    <div class="card-body">
		      <h5 class="card-title">ThinManager Video Learning</h5>
		      <p class="card-text">We have put together a great series of feature videos and quizzes to teach ThinManager in a self-paced, watch and learn, simple way &boxh; perfect for both end users and ThinManager Partners.</p>
		      <p>Create an account and get started right now.</p>
		      <div align="right"><%= link_to "Get Started", "https://learn.thinmanager.com", class: "btn btn-primary", target: "_blank" %></div>
		    </div>
		</div>



	

		<!----------------- VFlex Card ------------------>
	<% if @current_user.admin? || (@current_user.channel != nil && @current_user.channel != "") && !@current_user.needs_review %>
		<div class="card">
		    <%= image_tag "v-flex.jpg", class: "card-img-top" %>
		    <div class="card-body">
		      <h5 class="card-title">ThinManager V-FLEX Licensing</h5>
		      <p class="card-text">We are please to announce V-FLEX licensing for ThinManager.</p>
		      <p class="card-text">ThinManager Licensing has never been so flexibile. We can't wait to tell you more about it.</p>
		      <div align="right"><%= link_to "Learn More", vflex_path, class: "btn btn-primary" %></div>
		    </div>
		</div>
	<% end %>




	<!----------------- ThinManager Contact Card ------------------>
	<% if !@current_user.needs_review %>
		<div class="card">
		    <div class="card-body">
		      <h5 class="card-title">ThinManager Contact</h5>
		      <p class="card-text">Looking for something specific? Confused with what you found? Have Questions? We can help.</p>
		      <p class="card-text">Ph: 678-990-0945<br />Email: 
		      	<% if @current_user.admin? || @current_user.channel == "" || @current_user.channel == "Rockwell Automation" %>
					<%= link_to "insidesales@thinmanager.com", "mailto:insidesales@thinmanager.com" %></p>
				<% elsif @current_user.channel == "Wonderware" %>
					<%= link_to "ww_insidesales@thinmanager.com", "mailto:ww_insidesales@thinmanager.com" %></p>
				<% elsif @current_user.channel == "GE" %>
					<%= link_to "ge_insidesales@thinmanager.com", "mailto:ge_insidesales@thinmanager.com" %></p>
			    <% end %>
		    </div>
		</div>
	<% end %>





	<!----------------- RA EULA Card ------------------>
	<% if (@current_user.admin || @current_user.prttype == "Distributor") && !@current_user.needs_review %>
	<div class="card">
	    <div class="card-body">
	      <h5 class="card-title">ThinManager EULA</h5>
	      <p class="card-text">Download the ThinManager / Rockwell Automation End-User License Agreement.</p>
	      <p class="card-text"><small class="text-muted">Last Updated: July 2020</small></p>
	      <div align="right"><%= link_to "Download Now", "https://thinmanager.com/partner-resources/ThinManager-RA-EULA.pdf", class: "btn btn-primary", target: "_blank" %></div>
	    </div>
	</div>
	<% end %>



</div> <!-- End of main cards section -->

	

<% end %> <!-- end of certification expiration check -->
	

	<br /><br /><br /><br /><br />

</div> <!-- End of main container -->