<div class="container" style="padding-bottom: 150px;">
<h1>Resource Documents</h1>
<hr />

<p>This set of resources will help you learn and configure ThinManager.  It will also help get you knowledgable as to why ThinManager is likely the right solution for your customer and it will also help yo install and integrate the ThinManager platform.</p>


<br />

<div class="row">
	<div class="col-lg-8">

			<h4>Knowledge Documents</h4>
			<div class="document-table">

				<% if (current_user.prttype == "Distributor" && current_user.channel == "Rockwell Automation") || current_user.admin %>
					<!-- Rockwell Technical Presentation -->
					<div class="row">
						<div class="col-md-10"><span class="bold">Technical Presentation <% if current_user.admin %>(Rockwell)<% end %></span></div>
						<div class="col-md-1">PPTX</div>
						<div class="col-md-1"><%= link_to image_tag("icon-seismic.png"), "https://ra.seismic.com/Link/Content/DCHg9VXXMWhbqGhHDjgg4BVVJCTP", target: "_blank" %></div>
					</div>
				<% end %>
				<% if (current_user.prttype == "Distributor" && current_user.channel != "Rockwell Automation") || current_user.admin %>
					<!-- 3rd Party Technical Presentation -->
					<div class="row">
						<div class="col-md-10"><span class="bold">Technical Presentation <% if current_user.admin %>(Not Rockwell)<% end %></span></div>
						<div class="col-md-1">PPTX</div>
						<div class="col-md-1"><%= link_to image_tag("icon-download.png"), "https://thinmanager.com/partner-resources/ThinManager_Version12_TechnicalPresentation_3p_20210111.pptx", target: "_blank" %></div>
					</div>
				<% end %>

				<% if (current_user.prttype == "Distributor" && current_user.channel == "Rockwell Automation") || current_user.admin %>
					<!-- Rockwell Sales Presentation -->
					<div class="row">
						<div class="col-md-10"><span class="bold">Sales Presentation <% if current_user.admin %>(Rockwell)<% end %></span></div>
						<div class="col-md-1">PPTX</div>
						<div class="col-md-1"><%= link_to image_tag("icon-seismic.png"), "https://ra.seismic.com/Link/Content/DCD28fXFWGVCb8WTJcXPgQCfQWp8", target: "_blank" %></div>
					</div>
				<% end %>
				
				<% if (current_user.prttype == "Distributor" && current_user.channel != "Rockwell Automation") || current_user.admin %>
					<!-- 3rd Party Sales Presentation -->
					<div class="row">
						<div class="col-md-10"><span class="bold">Sales Presentation <% if current_user.admin %>(Not Rockwell)<% end %></span></div>
						<div class="col-md-1">PPTX</div>
						<div class="col-md-1"><%= link_to image_tag("icon-download.png"), "https://thinmanager.com/partner-resources/ThinManager_Version12_SalesPresentation_3p_20210111.pptx", target: "_blank" %></div>
					</div>
				<% end %>

				<!-- ThinManual -->
				<!-- <div class="row">
					<div class="col-md-10"><span class="bold">ThinManual</span></div>
					<div class="col-md-1">PDF Document</div>
					<div class="col-md-1"><%= link_to image_tag("icon-download.png"), "https://thinmanager.com/support/manuals/files/ThinManual_11.pdf", target: "_blank" %></div>
				</div> -->

				
				<!-- User Guide - Latest ThinManager -->
				<div class="row">
					<div class="col-md-10"><span class="bold">Version 13 User Guide</span></div>
					<div class="col-md-1">PDF</div>
					<div class="col-md-1"><%= link_to image_tag("icon-download.png"), "https://thinmanager.com/support/manuals/files/ThinManager-v13-UserGuide_TM-UM001F-EN-P.pdf", target: "_blank" %></div>
				</div>
				

				


				<% if current_user.channel == "Rockwell Automation" || current_user.admin %>
				<!-- Rockwell Product Profile -->
				<div class="row">
					<div class="col-md-10"><span class="bold">ThinManager Product Profile <% if current_user.admin %>(Rockwell)<% end %></span></div>
					<div class="col-md-1">PDF</div>
					<div class="col-md-1"><%= link_to image_tag("icon-seismic.png"), "https://ra.seismic.com/Link/Content/DChFqqc7GJWcH8mGf64FRFqT9qTV", target: "_blank" %></div>
				</div>
				<% end %>


				<% if current_user.channel != "Rockwell Automation" || current_user.admin %>
				<!-- 3rd Party Product Profile -->
				<div class="row">
					<div class="col-md-10"><span class="bold">ThinManager Product Profile <% if current_user.admin %>(Not Rockwell)<% end %></span></div>
					<div class="col-md-1">PDF</div>
					<div class="col-md-1"><%= link_to image_tag("icon-download.png"), "https://thinmanager.com/partner-resources/ThinManager-FullProfile-v12_3p-2021.pdf", target: "_blank" %></div>
				</div>
				<% end %>


				<!-- White Paper - Industrial Network and Infrastructure Security with ThinManager -->
				<% if (current_user.prttype == "Distributor" && current_user.channel == "Rockwell Automation") || current_user.admin %>
					<div class="row">
						<div class="col-md-10"><span class="bold">Industrial Network and Infrastructure Security with ThinManager <% if current_user.admin %>(Rockwell)<% end %></span></div>
						<div class="col-md-1">PDF</div>
						<div class="col-md-1"><%= link_to image_tag("icon-seismic.png"), "https://ra.seismic.com/Link/Content/DCTvXqJtkUe0m0WF8d5JvFcg", target: "_blank" %></div>
					</div>
				<% end %>

				<% if (current_user.channel != "Rockwell Automation") || current_user.admin %>
					<div class="row">
						<div class="col-md-10"><span class="bold">Industrial Network and Infrastructure Security with ThinManager <% if current_user.admin %>(Not Rockwell)<% end %></span></div>
						<div class="col-md-1">PDF</div>
						<div class="col-md-1"><%= link_to image_tag("icon-download.png"), "https://thinmanager.com/paper/files/Industrial%20Network%20and%20Infrastructure%20Security%20Using%20ThinManager.pdf", target: "_blank" %></div>
					</div>
				<% end %>


				<!-- White Paper - What sets ThinManager Apart -->
				<div class="row">
					<div class="col-md-10"><span class="bold">What Sets ThinManager Apart</span></div>
					<div class="col-md-1">PDF</div>
					<div class="col-md-1"><%= link_to image_tag("icon-download.png"), "https://thinmanager.com/media/papers/LS-What-Sets-ThinManager-Apart.pdf", target: "_blank" %></div>
				</div>


				<!-- White Paper - 101 Problems solved by ThinManager -->
				<div class="row">
					<div class="col-md-10"><span class="bold">101 Problems solved by ThinManager</span></div>
					<div class="col-md-1">PDF</div>
					<div class="col-md-1"><%= link_to image_tag("icon-download.png"), "https://thinmanager.com/media/papers/LS-101-Problems-Solutions.pdf", target: "_blank" %></div>
				</div>


				<% if current_user.admin? %>
				<!-- link to Video 	Learning series -->
				<div class="row">
					<div class="col-md-10"><span class="bold">Video Learning</span></div>
					<div class="col-md-1"></div>
					<div class="col-md-1"><%= link_to image_tag("icon-play.png"), "https://learn.thinmanager.com", target: "_blank" %></div>
				</div>
				<% end %>

			</div>
		

		</div>



		<div class="col-lg-4 training-doc-column">
			<h4>Training Materials</h4>
			<div class="well-sm training-documents" style="padding:20px; border-radius: 10px;">
				<h5>SI Certification:</h5>
				<div class="row">
					<div class="col-10">ThinManager® Architecture and Best Practices.pptx</div>
					<div class="col-2">
						<div class="float-right">
							<%= link_to image_tag("icon-download.png"), "https://thinmanager.com/training/documents/CL22 - ThinManager Architecture and Best Practices.pptx", target: "_blank" %>
						</div>	
					</div>
				</div>
				<div class="row">
					<div class="col-10">ThinManager All in One Lab.pdf</div>
					<div class="col-2">
						<div class="float-right">
							<%= link_to image_tag("icon-download.png"), "https://thinmanager.com/training/documents/CL22 - ThinManager All in One Lab.pdf", target: "_blank" %>
						</div>	
					</div>
				</div>
				<hr />


				<h5>Engineered For Results:</h5>
				<div class="row">
					<div class="col-10">ThinManager Engineered for Results.pptx</div>
					<div class="col-2">
						<div class="float-right">
							<%= link_to image_tag("icon-download.png"), "https://thinmanager.com/training/documents/CL22 - ThinManager Engineered for Results.pptx", target: "_blank" %>
						</div>	
					</div>
				</div>
				<div class="row">
					<div class="col-10">ThinManager Engineered for Results.pdf</div>
					<div class="col-2">
						<div class="float-right">
							<%= link_to image_tag("icon-download.png"), "https://thinmanager.com/training/documents/CL22 - ThinManager Engineered for Results.pdf", target: "_blank" %>
						</div>	
					</div>
				</div>
				<hr />



				<h5>Securing the Connected Enterprise:</h5>
				<div class="row">
					<div class="col-10">ThinManager Securing the Connected Enterprise.pptx</div>
					<div class="col-2">
						<div class="float-right">
							<%= link_to image_tag("icon-download.png"), "https://thinmanager.com/training/documents/CL22 - ThinManager Securing the Connected Enterprise.pptx", target: "_blank" %>
						</div>	
					</div>
				</div>
				<div class="row">
					<div class="col-10">ThinManager Securing the Connected Entperise.pdf</div>
					<div class="col-2">
						<div class="float-right">
							<%= link_to image_tag("icon-download.png"), "https://thinmanager.com/training/documents/CL22 - ThinManager Securing the Connected Enterprise.pdf", target: "_blank" %>
						</div>	
					</div>
				</div>
			</div>
		</div>



	</div>


</div>