<div class="container" style="padding-bottom: 150px;">
<h1>ThinManager Resources</h1>
<hr />

<p>This set of resources will help you learn and configure ThinManager.  It will also help get you knowledgable as to why ThinManager is likely the right solution for your customer and it will also help yo install and integrate the ThinManager platform.</p>


<br />
	<div class="document-table">
		<div class="row">
			<div class="col-md-6"><span class="bold">ThinManual</span></div>
			<div class="col-md-5">PDF Document</div>
			<div class="col-md-1"><%= link_to image_tag("icon-download.png"), "https://thinmanager.com/support/manuals/files/ThinManual_11.pdf", target: "_blank" %></div>
		</div>
		<div class="row even">
			<div class="col-md-6"><span class="bold">User Guide</span></div>
			<div class="col-md-5">PDF Document</div>
			<div class="col-md-1"><%= link_to image_tag("icon-download.png"), "https://thinmanager.com/support/manuals/files/ThinManager-v11.1-UserGuide.pdf", target: "_blank" %></div>
		</div>
		<div class="row">
			<div class="col-md-6"><span class="bold">ThinManager Datasheets</span></div>
			<div class="col-md-5">PDF Document</div>
			<div class="col-md-1"><%= link_to image_tag("icon-download.png"), "https://thinmanager.com/media/datasheets/ThinManager-Datasheets-2019.pdf", target: "_blank" %></div>
		</div>
		<div class="row even">
			<div class="col-md-6"><span class="bold">Security & ThinManager with Relevance</span></div>
			<div class="col-md-5">PDF Document</div>
			<div class="col-md-1"><%= link_to image_tag("icon-download.png"), "https://thinmanager.com/media/papers/LS-Security-ThinManager-Relevance.pdf", target: "_blank" %></div>
		</div>
		<div class="row">
			<div class="col-md-6"><span class="bold">What Sets ThinManager Apart</span></div>
			<div class="col-md-5">PDF Document</div>
			<div class="col-md-1"><%= link_to image_tag("icon-download.png"), "https://thinmanager.com/media/papers/LS-What-Sets-ThinManager-Apart.pdf", target: "_blank" %></div>
		</div>
		<div class="row even">
			<div class="col-md-6"><span class="bold">ThinManager vs. Horizon View</span></div>
			<div class="col-md-5">PDF Document</div>
			<div class="col-md-1"><%= link_to image_tag("icon-download.png"), "https://thinmanager.com/media/papers/LS-ThinManager-v-HorizonView.pdf", target: "_blank" %></div>
		</div>
		<div class="row">
			<div class="col-md-6"><span class="bold">101 Problems solved by ThinManager</span></div>
			<div class="col-md-5">PDF Document</div>
			<div class="col-md-1"><%= link_to image_tag("icon-download.png"), "https://thinmanager.com/media/papers/LS-101-Problems-Solutions.pdf", target: "_blank" %></div>
		</div>
		<div class="row even">
			<div class="col-md-6"><span class="bold">Video Learning</span></div>
			<div class="col-md-5">Video Series (seperate account creation required)</div>
			<div class="col-md-1"><%= link_to image_tag("icon-play.png"), "https://learn.thinmanager.com", target: "_blank" %></div>
		</div>
	</div>

</div>