<div class="container" style="padding-bottom:150px;">

<h1 class="page-header">Welcome <%= @user.firstname %></h1>
<hr />

<p class="learn-instructions">This series of videos is designed to teach the fundamentals of ThinManager&reg;. It covers features and basic use of the software. The videos are divided in to sections as it applies to the ThinManager platform (Productivity, Visualization, Security and Mobility). Each video has a quiz that will need to be passed to receive credit for that section. Upon completion of all the videos and quizzes you will gain a ThinManager certification. Certifications are valid for a period of two years.</p>


<div class="row">
<div class="col-lg-7" style="margin-bottom: 20px;">
<div class="well" style="position: relative;">
	<div class="row">
		<div class="col-lg-12">
			<%= link_to "edit profile", edit_user_path(@user), class: "edit-link" %>
			<h4><%= "#{@user.firstname} #{@user.lastname}" %></h4>
			<h5 class="learning-dash-h5"><%= "#{@user.company}" %></h5>
			<h5 class="learning-dash-h5"><%= "#{@user.email}" %></h5>
			<hr/>
			<h5 style="color:#777777;">Badges Earned <span style="font-size:.75em; font-style: italic; display:none;">(not all badges currently available)</span></h5>
			<div class="dash-badges">	
				<% if @badge != nil && @badge.productivity %>
					<div class="d-badge">
						<%= image_tag("badge-productivity.png") %>
					</div>
				<% else %>
					<div class="d-badge-opacity">
						<%= image_tag("badge-productivity.png") %>
					</div>
				<% end %>
				<% if @badge != nil && @badge.visualization %>
					<div class="d-badge">
						<%= image_tag("badge-visualization.png") %>
					</div>
				<% else %>
					<div class="d-badge-opacity">
						<%= image_tag("badge-visualization.png") %>
					</div>	
				<% end %>
				<% if @badge != nil && @badge.security %>
					<div class="d-badge">
						<%= image_tag("badge-security.png") %>
					</div>
				<% else %>
					<div class="d-badge-opacity">
						<%= image_tag("badge-security.png") %>
					</div>
				<% end %>
				<% if @badge != nil && @badge.mobility %>
					<div class="d-badge">
						<%= image_tag("badge-mobility.png") %>
					</div>
				<% else %>
					<div class="d-badge-opacity">
						<%= image_tag("badge-mobility.png") %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>	
</div>
<div class="col-lg-5">
	<div class="intro-video">
	<iframe src="https://www.youtube.com/embed/wRmDlf3qs5A?rel=0&modestbranding=1" frameborder="0" allowfullscreen></iframe>
	</div>
</div>
</div>
<br /><br />


<% if @quizzes.any? %>
	<div class="row icons">
		
			<div class="col-3">
				<%= image_tag("icon-productivity.png") %> <span class="goAway">-</span> <span class="appear"><br /></span>Productivity
			</div>
			<div class="col-3">
				<%= image_tag("icon-visualization.png") %> <span class="goAway">-</span> <span class="appear"><br /></span> Visualization
			</div>
			<div class="col-3">
				<%= image_tag("icon-security.png") %> <span class="goAway">-</span> <span class="appear"><br /></span> Security
			</div>
			<div class="col-3">
				<%= image_tag("icon-mobility.png") %> <span class="goAway">-</span> <span class="appear"><br /></span> Mobility
			</div>
		
	</div>
	<table width="100%" style="margin-top:7px;" class="learning-table">
			
		<tr class="learn-table-heading">
			<th>&nbsp;</th>
			<th width="70%">Name</th>
			<th width="30%">Passed</th>
		</tr>
		<% @prodquizzes.each do |quiz| %>
			<% @query = UserQuiz.where(user_id: @user.id, quiz_id: quiz.id) %>
			<tr class="table-rows">
				<td><%= image_tag("icon-productivity.png") %></td>
				<td><%= link_to quiz.name, quiz_path(quiz) %></td>
				<% if @query.count > 0 %>
					<td><%= image_tag "checked.png" %></td>
				<% else %>
					<td>&nbsp;</td>
				<% end %>
			</tr>
		<% end %>
		<% @visquizzes.each do |quiz| %>
		<% @query = UserQuiz.where(user_id: @user.id, quiz_id: quiz.id) %>
			<tr class="table-rows">
				<td><%= image_tag("icon-visualization.png") %></td>
				<td><%= link_to quiz.name, quiz_path(quiz) %></td>
				<% if @query.count > 0 %>
					<td><%= image_tag "checked.png" %></td>
				<% else %>
					<td>&nbsp;</td>
				<% end %>
			</tr>
		<% end %>
		<% @secquizzes.each do |quiz| %>
		<% @query = UserQuiz.where(user_id: @user.id, quiz_id: quiz.id) %>
			<tr class="table-rows">
				<td><%= image_tag("icon-security.png") %></td>
				<td><%= link_to quiz.name, quiz_path(quiz) %></td>
				<% if @query.count > 0 %>
					<td><%= image_tag "checked.png" %></td>
				<% else %>
					<td>&nbsp;</td>
				<% end %>
			</tr>
		<% end %>
		<% @mobquizzes.each do |quiz| %>
		<% @query = UserQuiz.where(user_id: @user.id, quiz_id: quiz.id) %>
			<tr class="table-rows">
				<td><%= image_tag("icon-mobility.png") %></td>
				<td><%= link_to quiz.name, quiz_path(quiz) %></td>
				<% if @query.count > 0 %>
					<td><%= image_tag "checked.png" %></td>
				<% else %>
					<td>&nbsp;</td>
				<% end %>
			</tr>
		<% end %>		
			

	</table>
<% else %>
<p>There no quizzes yet assigned for learning</p>
<% end %>
	

</div>