<div class="container" style="padding-bottom: 150px;">

<div class="row">
	<div class="col-lg-8">
		<div class="pp-logo"><%= image_tag("PinPoint-Logo-500x132.png") %></div>
	</div>
	<div class="col-lg-4">
		<div class="row" style="margin-top:20px;">
			<div class="col-5 seismic-icon">
				<%= link_to image_tag("icon-seismic-new.png"), "https://ra.seismic.com/Link/Content/NCfFmqq4cMghGGFTPb6QjXp4B8bP", target: "_blank" %>
			</div>
			<div class="col-7" style="padding-top:20px;">
				<%= link_to "Seismic Launch Page", "https://ra.seismic.com/Link/Content/NCfFmqq4cMghGGFTPb6QjXp4B8bP", target: "_blank", style: "font-size:0.75em; color:inherit; font-weight:bold;" %>
			</div>
		</div>
	</div>
</div>
<hr style="margin-top: 20px; margin-bottom:55px;" />
<div class="row">
	<div class="col-md-7">
		<h3>ThinManager Logix PinPoint™</h3>
		<p><span class="bold">ThinManager Logix PinPoint™</span> adds amazing functionality for Rockwell Logix users. PinPoint does just what it says - it pinpoints the exact location in your Logix code that an alert or problem has occurred.</p>

		<h4>General Information</h4>

		<p>ThinManager Logix PinPoint is a new application working within ThinManager and the other software in your system to simplify the troubleshooting process when an alarm is seen within your FactoryTalk ViewSE application.</p>

		<ul>
			<li>You can automatically navigate to a given tag that has been triggered – very quickly get to that tag in the code and see the portion of the code that they had no part in writing 20+ years ago.</li>
			<li>We will take you to the point in the Logix code where that alarm has been triggered – giving your team the insights to see what caused the alarm and take action right away.</li>
			<li>This feature also allows employees with little to no coding knowledge to be directed right to the problem without having to manually scroll through several lines or rungs of code!</li>
		</ul>

		<br />
		<h5>What's Included?</h5>

		<ul>
			<li>Lightweight application installed on ThinManager server</li>
			<li>Studio 5000 View-Only License</li>
			<li>License sold per terminal</li>
		</ul>

		

		
	</div>

	<div class="col-md-4 offset-md-1">
		<div class="well-sm" style="padding-bottom:20px; border-radius: 10px;">
			
			<div style="text-align: center;"><span style="font-size:.8em;">Info</span></div>
			<div class="video-span" style="width:90%; margin:auto;">
				<!---------- Place Video Link Here ------------>
				<iframe width="560" height="300" src="https://www.youtube.com/embed/JJdAAUTJsws?controls=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>

			<hr />

			<div style="text-align: center; margin-bottom: 10px;"><span style="font-size:.8em;">Download</span></div>
			<div class="row">
				<div class="col-6 offset-3">
					<div class="pdf-icon"><%= link_to image_tag('icon_pdf_large.png'), "https://thinmanager.com/media/whitepapers/WP-ThinManagerLogixPinPoint.pdf", target: "_blank", style: "width:50px;" %></div>
					<div style="text-align: center;"><span style="font-size:.8em;">White Paper</span></div>
				</div>
				<div class="col-6" style="display:none;">
					<div class="pdf-icon"><%= link_to image_tag('icon_pdf_large.png'), "#", style: "width:50px;" %></div>
					<div style="text-align: center;"><span style="font-size:.8em;">FAQs</span></div>
				</div>
			</div>

			<hr />

			<div style="text-align: center !important;"><span style="font-size:.8em;">Webinar On Demand</span></div>
			<div class="webinar-image">
				<%= link_to image_tag('https://thinmanager.com/pinpoint/images/WebinarSplash.png'), "https://thinmanager.com/webinars" %>
			</div>

		</div>
	</div>
</div>


<hr style="margin-top:45px; margin-bottom:55px;" />

<h4>How to Buy</h4>

<div class="row">

	<div class="col-md-7">

		<p>ThinManager Logix PinPoint is a value-add application sold separately from ThinManager. It can be purchased alongside ThinManager or added to existing ThinManager installations and is a Recommended Product for ThinManager V-FLEX through the Software eCommerce Portal.</p>

		<p><span style="font-weight:bold;">View</span>Manager provides everything you need to run a managed HMI visualization system. Included in the bundle is an HMI server with unlimited displays, client stations, managed thin client licenses, automated tag navigation licenses and unlimited browser-based HTML client connections. For more information visit the <%= link_to "RA Software eCommerce Portal", "https://commerce.rockwellautomation.com/", target: "_blank" %> and reference our ViewManager Ordering Guide here: (LINK COMING SOON)</p>

	</div>

<div class="col-md-4 offset-md-1" style="text-align:center;">
	
	<h5>Have Questions? Want to buy?</h5>
	<p>Contact Customer Success</p>

	<%= link_to "CustomerSuccess@ThinManager.com", "mailto:CustomerSuccess@ThinManager.com" %>

</div>


</div>




<div class="row" style="margin-top:55px; display:none;">
	<div class="howWorks"><%= image_tag("PinPoint_HowItWorks.png") %></div>
</div>


</div>