<div class="container" style="padding-bottom: 150px;">


<% if !@current_user.admin && (@channel == nil || @channel == "") %>
	
	<p>No Channel Defined</p>
	<p>Please <%= link_to "contact us", "mailto:bharned@thinmanager.com" %> to set your distribution channel for pricing.</p>

<% else %>
	
	<div class="row">
		<div class="col-md-7">
			<h1>ThinManager Pricing</h1>
			<% if @current_user.admin %>
				<p style="padding-left: 5px; margin-top: -7px;"><span style="font-weight:bold;">Admin User</span></p>
			<% else %>
				<p style="padding-left: 5px; margin-top: -7px;"><span style="font-weight:bold;">Channel:</span> <%= @channel %></p>
			<% end %>
		</div>
		<div class="col-md-5 tm-downloadables">
			
			<div class="row">	
				
				<% if @channel == "Rockwell Automation" || @current_user.admin %>
				<!-- Rockwell Downloads -->
				<div class="col col-downloads">
					<div class="row">
						<%= link_to image_tag("icon-excel.jpg"), "https://thinmanager.com/partner-resources/TM_Pricelist_RA_vflex_Aug19.xlsx", target: "_blank" %>
						&nbsp;
						<%= link_to image_tag("icon_pdf_large.png"), "https://thinmanager.com/partner-resources/TM_Pricelist_RA_vflex_Aug19.pdf", target: "_blank" %>
					</div>
					<% if @current_user.admin %>
						<div class="row"><span style="font-size: .65em;">Rockwell</span></div>
					<% end %>
				</div>
				<% end %>
				

				<% if (@channel != nil && @channel != "" && @channel != "Rockwell Automation") || @current_user.admin %>
				<!-- Other downloads, not Rockwell -->
				<div class="col col-downloads">
					<div class="row">
						<%= link_to image_tag("icon-excel.jpg"), "#", target: "_blank" %>
						&nbsp;
						<%= link_to image_tag("icon_pdf_large.png"), "#", target: "_blank" %>
					</div>
					<% if @current_user.admin %>
						<div class="row"><span style="font-size: .65em;">WW, GE, Other</span></div>
					<% end %>
				</div>
				<% end %>
			

			</div>

		</div>
	</div>
	 
	 <hr />

	 <ul class="nav nav-pills nav-fill">
	  <li class="nav-item">
	    <%= link_to "V-FLEX", "#vf-perpetual", class: "nav-link pricing-nav" %>
	  </li>
	  <li class="nav-item">
	    <%= link_to "Subscription", "#subscription", class: "nav-link pricing-nav" %>
	  </li>
	  <li class="nav-item">
	    <%= link_to "Redundancy Upgrades", "#rupgrades", class: "nav-link pricing-nav" %>
	  </li>
	  <li class="nav-item">
	    <%= link_to "Xli Upgrades", "#xli", class: "nav-link pricing-nav" %>
	  </li>
	  <li class="nav-item">
	    <%= link_to "Xlr Upgrades", "#xlr", class: "nav-link pricing-nav" %>
	  </li>
	  <li class="nav-item">
	    <%= link_to "Training", "#training", class: "nav-link pricing-nav" %>
	  </li>
	</ul>

	





	<div class="pricing-instruction">
		<h4>Welcome to new V-FLEX Pricing</h4>
		<p>The ThinManager V-FLEX license can be ordered in a specific quantity of terminal connections and split up as needed. A terminal can be a thin client, mobile device or a PC. ThinManager Redundancy can be added as an option and enables you to install ThinManager on a secondary machine. With Redundancy, the ThinManager configuration database can be automatically synchronized between the primary and secondary installations so that either can deliver ThinManager firmware and terminal configurations to your ThinManager managed devices. All V-FLEX licenses include the following features:  Relevance, MultiMonitor, WinTMC, MultiSession, SmartSession, IP and USB Camera support, Shadowing, Instant Failover, Redundant Ethernet, Virtual Screens, etc. </p>
		<p>Products and grouped by license type and support coverage.</p>
		<p align="right">Need Help? Contact our <%= link_to "ThinManager Inside Sales", "mailto:insidesales@thinmanager.com" %></p>
	</div>










<!----------------------------- ThinManager V-FLEX Perpetual - 8x5 Supoort---------------------------->

<a name="vf-perpetual" id="vf-perpetual"></a>
<div class="section">
<h2 class="sect-heading">ThinManager V-FLEX Perpetual Licensing<br />- <span>8x5 Software Maintenance</span> -</h2>

<h3 class="sect-sub-heading">FactoryTalk Activation (FTA)</h3>		
<div class="parts">
	<div class="part-heading">
		<div class="cat-number">Catalog #</div>
		<div class="prt-description">Description</div>
		<div class="prt-list-price">List Price</div>
		<div class="prt-mrg-prct">Margin %</div>
		<div class="prt-mrg">Margin</div>
		<div class="prt-cost">Cost</div>
	</div>
	<div class="part-row">
		<div class="cat-number">9541M-TMFT11</div>
		<div class="prt-description">ThinManager FTA 1 VFLX 8x5 ESD S/W</div>
		<div class="prt-list-price">See Table&nbsp;&#9662;</div>
		<div class="prt-mrg-prct">33%</div>
		<div class="prt-mrg">See Table&nbsp;&#9662;</div>
		<div class="prt-cost">See Table&nbsp;&#9662;</div>
	</div>
	<div class="part-row">
		<div class="cat-number">9541M-TMFT11M</div>
		<div class="prt-description">ThinManager FTA 1 VFLX 8x5 MED S/W</div>
		<div class="prt-list-price">See Table&nbsp;&#9662;</div>
		<div class="prt-mrg-prct">33%</div>
		<div class="prt-mrg">See Table&nbsp;&#9662;</div>
		<div class="prt-cost">See Table&nbsp;&#9662;</div>
	</div>
	<div class="part-row">
		<div class="cat-number">9541-TMFRP</div>
		<div class="prt-description">ThinManager FTA 1 VFLX Red ESD S/W</div>
		<div class="prt-list-price">See Table&nbsp;&#9662;</div>
		<div class="prt-mrg-prct">33%</div>
		<div class="prt-mrg">See Table&nbsp;&#9662;</div>
		<div class="prt-cost">See Table&nbsp;&#9662;</div>
	</div>
	<div class="part-row">
		<div class="cat-number">9541-TMFRPM</div>
		<div class="prt-description">ThinManager FTA 1 VFLX Red MED S/W</div>
		<div class="prt-list-price">See Table&nbsp;&#9662;</div>
		<div class="prt-mrg-prct">33%</div>
		<div class="prt-mrg">See Table&nbsp;&#9662;</div>
		<div class="prt-cost">See Table&nbsp;&#9662;</div>
	</div>
</div>

<h3 class="sect-sub-heading">ThinManager Activation (TMA)</h3>
<div class="parts">
	<div class="part-row">
		<div class="cat-number">9541-TMF1-TMA</div>
		<div class="prt-description">ThinManager TMA 1 VFLX 8x5 ESD S/W</div>
		<div class="prt-list-price">See Table&nbsp;&#9662;</div>
		<div class="prt-mrg-prct">33%</div>
		<div class="prt-mrg">See Table&nbsp;&#9662;</div>
		<div class="prt-cost">See Table&nbsp;&#9662;</div>
	</div>
	<div class="part-row">
		<div class="cat-number">9541-TMF1-TMAM</div>
		<div class="prt-description">ThinManager TMA 1 VFLX 8x5 MED S/W</div>
		<div class="prt-list-price">See Table&nbsp;&#9662;</div>
		<div class="prt-mrg-prct">33%</div>
		<div class="prt-mrg">See Table&nbsp;&#9662;</div>
		<div class="prt-cost">See Table&nbsp;&#9662;</div>
	</div>
	<div class="part-row">
		<div class="cat-number">9541-TMFR1-TMA</div>
		<div class="prt-description">ThinManager TMA 1 VFLX Red ESD S/W</div>
		<div class="prt-list-price">See Table&nbsp;&#9662;</div>
		<div class="prt-mrg-prct">33%</div>
		<div class="prt-mrg">See Table&nbsp;&#9662;</div>
		<div class="prt-cost">See Table&nbsp;&#9662;</div>
	</div>
	<div class="part-row">
		<div class="cat-number">9541-TMFR1-TMAM</div>
		<div class="prt-description">ThinManager TMA 1 VFLX Red MED S/W</div>
		<div class="prt-list-price">See Table&nbsp;&#9662;</div>
		<div class="prt-mrg-prct">33%</div>
		<div class="prt-mrg">See Table&nbsp;&#9662;</div>
		<div class="prt-cost">See Table&nbsp;&#9662;</div>
	</div>
</div>

<h3 class="sect-sub-heading">Software Maintenance Renewal</h3>
<div class="parts">
	<div class="part-row">
		<div class="cat-number">9541-TMF1-SMR</div>
		<div class="prt-description">ThinManager SMR 1 VFLX 8x5 Maint</div>
		<div class="prt-list-price">See Table&nbsp;&#9662;</div>
		<div class="prt-mrg-prct">33%</div>
		<div class="prt-mrg">See Table&nbsp;&#9662;</div>
		<div class="prt-cost">See Table&nbsp;&#9662;</div>
	</div>
	<div class="part-row">
		<div class="cat-number">9541-TMSVR-SMR</div>
		<div class="prt-description">ThinManager SMR Server 8x5 Maint</div>
		<div class="prt-list-price">$8,700.00</div>
		<div class="prt-mrg-prct">33%</div>
		<div class="prt-mrg">$2,871.00</div>
		<div class="prt-cost">$5,829.00</div>
	</div>
	<div class="part-row">
		<div class="cat-number">9541-TMSTE-SMR</div>
		<div class="prt-description">ThinManager SMR Site 8x5 Maint</div>
		<div class="prt-list-price">$15,900.00</div>
		<div class="prt-mrg-prct">33%</div>
		<div class="prt-mrg">$5,247.00</div>
		<div class="prt-cost">$10,653.00</div>
	</div>
</div>
</div>




<!-------------- Pricing Table for V-Flex with 8x5 support -------------->
<div class="section pricing-grid">
<span class="for-above" style="text-align: right;">&#9651; Pricing for parts above &#9661;</span>
<h2 class="sect-heading"><div class="more-info"><%= image_tag "questionMark.png" %></div>
	ThinManager V-FLEX Perpetual Licensing<br />- <span>8x5 Software Maintenance</span> - 
<div class="more-box more-box-1">
	<div class="up-triangle"><%= image_tag "UpTriangle.png" %></div>
	<ul>
		<li>Select the terminal count to determine the List Price per Terminal.</li>
		<li>If redundancy is required, add this to the cost.</li>
		<li>If Media is required, add $100.00 to the Price per Terminal.</li>
		<li>The Breakpoint column indicates the Terminal Count where it is more cost effective to move to the next price band.</li>
	</ul>
	<div class="close-this"><p>Close X</p></div>
</div>
</h2>

<h3 class="sect-sub-heading">Pricing Table</h3>		
<div class="parts">
	<div class="part-heading">
		<div class="term-count">Terminal Count</div>
		<div class="list-price-per">List Price per Terminal</div>
		<div class="red-adder">Redundancy Adder</div>
		<div class="break-point">Breakpoint</div>
	</div>
	<div class="part-row">
		<div class="term-count">1-4</div>
		<div class="list-price-per">$2,400.00</div>
		<div class="red-adder">$1,000.00</div>
		<div class="break-point">3</div>
	</div>
	<div class="part-row">
		<div class="term-count">5-49</div>
		<div class="list-price-per">$1,320.00</div>
		<div class="red-adder">$550.00</div>
		<div class="break-point">46</div>
	</div>
	<div class="part-row">
		<div class="term-count">50-99</div>
		<div class="list-price-per">$1,200.00</div>
		<div class="red-adder">$500.00</div>
		<div class="break-point">81</div>
	</div>
	<div class="part-row">
		<div class="term-count">100-249</div>
		<div class="list-price-per">$960.00</div>
		<div class="red-adder">$400.00</div>
		<div class="break-point">219</div>
	</div>
	<div class="part-row">
		<div class="term-count">250-499</div>
		<div class="list-price-per">$840.00</div>
		<div class="red-adder">$350.00</div>
		<div class="break-point">429</div>
	</div>
	<div class="part-row">
		<div class="term-count">500+</div>
		<div class="list-price-per">$720.00</div>
		<div class="red-adder">$300.00</div>
		<div class="break-point">&nbsp;</div>
	</div>
</div>
</div>



<hr style="margin: auto; margin-top:-35px; margin-bottom: 100px; width:65%;" />



<!------------------------- ThinManager V-FLEX Perpetual - 24x7 Support-------------------------->

<div class="section">
<h2 class="sect-heading">ThinManager V-FLEX Perpetual Licensing<br />- <span>24x7 Software Maintenance</span> -</h2>

<h3 class="sect-sub-heading">FactoryTalk Activation (FTA)</h3>		
<div class="parts">
	<div class="part-heading">
		<div class="cat-number">Catalog #</div>
		<div class="prt-description">Description</div>
		<div class="prt-list-price">List Price</div>
		<div class="prt-mrg-prct">Margin %</div>
		<div class="prt-mrg">Margin</div>
		<div class="prt-cost">Cost</div>
	</div>
	<div class="part-row">
		<div class="cat-number">9541M-TMFT12</div>
		<div class="prt-description">ThinManager FTA 1 VFLX 24x7 ESD S/W</div>
		<div class="prt-list-price">See Table&nbsp;&#9662;</div>
		<div class="prt-mrg-prct">33%</div>
		<div class="prt-mrg">See Table&nbsp;&#9662;</div>
		<div class="prt-cost">See Table&nbsp;&#9662;</div>
	</div>
	<div class="part-row">
		<div class="cat-number">9541M-TMFT12M</div>
		<div class="prt-description">ThinManager FTA 1 VFLX 24x7 MED S/W</div>
		<div class="prt-list-price">See Table&nbsp;&#9662;</div>
		<div class="prt-mrg-prct">33%</div>
		<div class="prt-mrg">See Table&nbsp;&#9662;</div>
		<div class="prt-cost">See Table&nbsp;&#9662;</div>
	</div>
	<div class="part-row">
		<div class="cat-number">9541-TMFRP</div>
		<div class="prt-description">ThinManager FTA 1 VFLX Red ESD S/W</div>
		<div class="prt-list-price">See Table&nbsp;&#9662;</div>
		<div class="prt-mrg-prct">33%</div>
		<div class="prt-mrg">See Table&nbsp;&#9662;</div>
		<div class="prt-cost">See Table&nbsp;&#9662;</div>
	</div>
	<div class="part-row">
		<div class="cat-number">9541-TMFRPM</div>
		<div class="prt-description">ThinManager FTA 1 VFLX Red MED S/W</div>
		<div class="prt-list-price">See Table&nbsp;&#9662;</div>
		<div class="prt-mrg-prct">33%</div>
		<div class="prt-mrg">See Table&nbsp;&#9662;</div>
		<div class="prt-cost">See Table&nbsp;&#9662;</div>
	</div>
</div>

<h3 class="sect-sub-heading">ThinManager Activation (TMA)</h3>
<div class="parts">
	<div class="part-row">
		<div class="cat-number">9541-TMF1-247-TMA</div>
		<div class="prt-description">ThinManager TMA 1 VFLX 24x7 ESD S/W</div>
		<div class="prt-list-price">See Table&nbsp;&#9662;</div>
		<div class="prt-mrg-prct">33%</div>
		<div class="prt-mrg">See Table&nbsp;&#9662;</div>
		<div class="prt-cost">See Table&nbsp;&#9662;</div>
	</div>
	<div class="part-row">
		<div class="cat-number">9541-TMF1-247-TMAM</div>
		<div class="prt-description">ThinManager TMA 1 VFLX 24x7 MED S/W</div>
		<div class="prt-list-price">See Table&nbsp;&#9662;</div>
		<div class="prt-mrg-prct">33%</div>
		<div class="prt-mrg">See Table&nbsp;&#9662;</div>
		<div class="prt-cost">See Table&nbsp;&#9662;</div>
	</div>
	<div class="part-row">
		<div class="cat-number">9541-TMFR1-TMA</div>
		<div class="prt-description">ThinManager TMA 1 VFLX Red ESD S/W</div>
		<div class="prt-list-price">See Table&nbsp;&#9662;</div>
		<div class="prt-mrg-prct">33%</div>
		<div class="prt-mrg">See Table&nbsp;&#9662;</div>
		<div class="prt-cost">See Table&nbsp;&#9662;</div>
	</div>
	<div class="part-row">
		<div class="cat-number">9541-TMFR1-TMAM</div>
		<div class="prt-description">ThinManager TMA 1 VFLX Red MED S/W</div>
		<div class="prt-list-price">See Table&nbsp;&#9662;</div>
		<div class="prt-mrg-prct">33%</div>
		<div class="prt-mrg">See Table&nbsp;&#9662;</div>
		<div class="prt-cost">See Table&nbsp;&#9662;</div>
	</div>
</div>

<h3 class="sect-sub-heading">Software Maintenance Renewal</h3>
<div class="parts">
	<div class="part-row">
		<div class="cat-number">9541-TMF1-247-SMR</div>
		<div class="prt-description">ThinManager SMR 1 VFLX 24x7 ESD S/W</div>
		<div class="prt-list-price">See Table&nbsp;&#9662;</div>
		<div class="prt-mrg-prct">33%</div>
		<div class="prt-mrg">See Table&nbsp;&#9662;</div>
		<div class="prt-cost">See Table&nbsp;&#9662;</div>
	</div>
	<div class="part-row">
		<div class="cat-number">9541-TMSVR-247-SMR</div>
		<div class="prt-description">ThinManager SMR Server 24x7 Maint</div>
		<div class="prt-list-price">$13,050.00</div>
		<div class="prt-mrg-prct">33%</div>
		<div class="prt-mrg">$4,306.50</div>
		<div class="prt-cost">$8,743.50</div>
	</div>
	<div class="part-row">
		<div class="cat-number">9541-TMSTE-247-SMR</div>
		<div class="prt-description">ThinManager SMR Site 24x7 Maint</div>
		<div class="prt-list-price">$23,850.00</div>
		<div class="prt-mrg-prct">33%</div>
		<div class="prt-mrg">$7,870.50</div>
		<div class="prt-cost">$15,979.50</div>
	</div>
</div>
</div>





<!-------------- Pricing Table for V-Flex with 24x7 support -------------->
<div class="section pricing-grid">
<span class="for-above" style="text-align: right;">&#9651; Pricing for parts above &#9661;</span>
<h2 class="sect-heading"><div class="more-info-2"><%= image_tag "questionMark.png" %></div>
	ThinManager V-FLEX Perpetual Licensing<br />- <span>24x7 Software Maintenance</span> -
<div class="more-box more-box-2">
	<div class="up-triangle"><%= image_tag "UpTriangle.png" %></div>
	<ul>
		<li>Select the terminal count to determine the List Price per Terminal.</li>
		<li>If redundancy is required, add this to the cost.</li>
		<li>If Media is required, add $100.00 to the Price per Terminal.</li>
		<li>The Breakpoint column indicates the Terminal Count where it is more cost effective to move to the next price band.</li>
	</ul>
	<div class="close-this"><p>Close X</p></div>
</div>
</h2>

<h3 class="sect-sub-heading">Pricing Table</h3>		
<div class="parts">
	<div class="part-heading">
		<div class="term-count">Terminal Count</div>
		<div class="list-price-per">List Price per Terminal</div>
		<div class="red-adder">Redundancy Adder</div>
		<div class="break-point">Breakpoint</div>
	</div>
	<div class="part-row">
		<div class="term-count">1-4</div>
		<div class="list-price-per">$2,600.00</div>
		<div class="red-adder">$1,000.00</div>
		<div class="break-point">3</div>
	</div>
	<div class="part-row">
		<div class="term-count">5-49</div>
		<div class="list-price-per">$1,430.00</div>
		<div class="red-adder">$550.00</div>
		<div class="break-point">46</div>
	</div>
	<div class="part-row">
		<div class="term-count">50-99</div>
		<div class="list-price-per">$1,300.00</div>
		<div class="red-adder">$500.00</div>
		<div class="break-point">81</div>
	</div>
	<div class="part-row">
		<div class="term-count">100-249</div>
		<div class="list-price-per">$1,040.00</div>
		<div class="red-adder">$400.00</div>
		<div class="break-point">219</div>
	</div>
	<div class="part-row">
		<div class="term-count">250-499</div>
		<div class="list-price-per">$910.00</div>
		<div class="red-adder">$350.00</div>
		<div class="break-point">429</div>
	</div>
	<div class="part-row">
		<div class="term-count">500+</div>
		<div class="list-price-per">$780.00</div>
		<div class="red-adder">$300.00</div>
		<div class="break-point">&nbsp;</div>
	</div>
</div>
</div>



<hr style="border: 2px solid #787878; margin-top: 250px; margin-bottom: 200px;" />
























<!----------------------------- ThinManager V-FLEX Subscription - 8x5 Support ---------------------------->
<a name="subscription" id="subscription"></a>
<div class="section">
<h2 class="sect-heading">ThinManager V-FLEX Subscription Licensing<br />- <span>8x5 Software Maintenance</span> -</h2>					
<% if @current_user.admin? || (@current_user.channel != nil && @current_user.channel != "" && @current_user.channel == "Rockwell Automation") %> <!-- Rockwell Distributors -->
<h3 class="sect-sub-heading">FactoryTalk Activation (FTA)</h3>		
<div class="parts">
	<div class="part-heading">
		<div class="cat-number">Catalog #</div>
		<div class="prt-description">Description</div>
		<div class="prt-list-price">List Price</div>
		<div class="prt-mrg-prct">Margin %</div>
		<div class="prt-mrg">Margin</div>
		<div class="prt-cost">Cost</div>
	</div>
	<div class="part-row">
		<div class="cat-number">9541C-TMFT11</div>
		<div class="prt-description">ThinManager FTA 1 VFLX 1ySub 8x5 ESD S/W</div>
		<div class="prt-list-price">See Table&nbsp;&#9662;</div>
		<div class="prt-mrg-prct">33%</div>
		<div class="prt-mrg">See Table&nbsp;&#9662;</div>
		<div class="prt-cost">See Table&nbsp;&#9662;</div>
	</div>
	<div class="part-row">
		<div class="cat-number">9541C-TMFT11M</div>
		<div class="prt-description">ThinManager FTA 1 VFLX 1ySub 8x5 MED S/W</div>
		<div class="prt-list-price">See Table&nbsp;&#9662;</div>
		<div class="prt-mrg-prct">33%</div>
		<div class="prt-mrg">See Table&nbsp;&#9662;</div>
		<div class="prt-cost">See Table&nbsp;&#9662;</div>
	</div>
	<div class="part-row">
		<div class="cat-number">9541-TMFR</div>
		<div class="prt-description">ThinManager FTA 1 VFLX Red 1ySub ESD S/W</div>
		<div class="prt-list-price">See Table&nbsp;&#9662;</div>
		<div class="prt-mrg-prct">33%</div>
		<div class="prt-mrg">See Table&nbsp;&#9662;</div>
		<div class="prt-cost">See Table&nbsp;&#9662;</div>
	</div>
	<div class="part-row">
		<div class="cat-number">9541-TMFRM</div>
		<div class="prt-description">ThinManager FTA 1 VFLX Red 1ySub MED S/W</div>
		<div class="prt-list-price">See Table&nbsp;&#9662;</div>
		<div class="prt-mrg-prct">33%</div>
		<div class="prt-mrg">See Table&nbsp;&#9662;</div>
		<div class="prt-cost">See Table&nbsp;&#9662;</div>
	</div>
</div>
<% end %>
<% if @current_user.admin? || (@current_user.channel != nil && @current_user.channel != "" && @current_user.channel != "Rockwell Automation") %> <!-- 3rd Party -->
<h3 class="sect-sub-heading">ThinManager Activation (TMA)</h3>		
<div class="parts">
	<div class="part-heading">
		<div class="cat-number">Catalog #</div>
		<div class="prt-description">Description</div>
		<div class="prt-list-price">List Price</div>
		<div class="prt-mrg-prct">Margin %</div>
		<div class="prt-mrg">Margin</div>
		<div class="prt-cost">Cost</div>
	</div>
	<div class="part-row">
		<div class="cat-number">9541-TMF1-SUB-TMA</div>
		<div class="prt-description">ThinManager TMA 1 VFLX 1ySub 8x5 ESD S/W</div>
		<div class="prt-list-price">See Table&nbsp;&#9662;</div>
		<div class="prt-mrg-prct">33%</div>
		<div class="prt-mrg">See Table&nbsp;&#9662;</div>
		<div class="prt-cost">See Table&nbsp;&#9662;</div>
	</div>
	<div class="part-row">
		<div class="cat-number">9541-TMF1-SUB-TMAM</div>
		<div class="prt-description">ThinManager TMA 1 VFLX 1ySub 8x5 MED S/W</div>
		<div class="prt-list-price">See Table&nbsp;&#9662;</div>
		<div class="prt-mrg-prct">33%</div>
		<div class="prt-mrg">See Table&nbsp;&#9662;</div>
		<div class="prt-cost">See Table&nbsp;&#9662;</div>
	</div>
	<div class="part-row">
		<div class="cat-number">9541-TMFR1-SUB-TMA</div>
		<div class="prt-description">ThinManager TMA 1 VFLX Red 1ySub ESD S/W</div>
		<div class="prt-list-price">See Table&nbsp;&#9662;</div>
		<div class="prt-mrg-prct">33%</div>
		<div class="prt-mrg">See Table&nbsp;&#9662;</div>
		<div class="prt-cost">See Table&nbsp;&#9662;</div>
	</div>
	<div class="part-row">
		<div class="cat-number">9541-TMFR1-SUB-TMAM</div>
		<div class="prt-description">ThinManager TMA 1 VFLX Red 1ySub MED S/W</div>
		<div class="prt-list-price">See Table&nbsp;&#9662;</div>
		<div class="prt-mrg-prct">33%</div>
		<div class="prt-mrg">See Table&nbsp;&#9662;</div>
		<div class="prt-cost">See Table&nbsp;&#9662;</div>
	</div>
</div>
<% end %>
</div>





<!-------------- Pricing Table for V-Flex Subscription with 8x5 support -------------->
<div class="section pricing-grid">
<span class="for-above" style="text-align: right;">&#9651; Pricing for parts above &#9661;</span>
<h2 class="sect-heading"><div class="more-info-3"><%= image_tag "questionMark.png" %></div>
	ThinManager V-FLEX Subscription Licensing<br />- <span>8x5 Software Maintenance</span> -
<div class="more-box more-box-3">
	<div class="up-triangle"><%= image_tag "UpTriangle.png" %></div>
	<ul>
		<li>Select the terminal count to determine the List Price per Terminal.</li>
		<li>If redundancy is required, add this to the cost.</li>
		<li>If Media is required, add $100.00 to the Price per Terminal.</li>
		<li>The Breakpoint column indicates the Terminal Count where it is more cost effective to move to the next price band.</li>
	</ul>
	<div class="close-this"><p>Close X</p></div>
</div>
</h2>

<h3 class="sect-sub-heading">Pricing Table <span>( per year )</span></h3>		
<div class="parts">
	<div class="part-heading">
		<div class="term-count">Terminal Count</div>
		<div class="list-price-per">List Price per Terminal</div>
		<div class="red-adder">Redundancy Adder</div>
		<div class="break-point">Breakpoint</div>
	</div>
	<div class="part-row">
		<div class="term-count">1-4</div>
		<div class="list-price-per">$800.00</div>
		<div class="red-adder">$400.00</div>
		<div class="break-point">3</div>
	</div>
	<div class="part-row">
		<div class="term-count">5-49</div>
		<div class="list-price-per">$440.00</div>
		<div class="red-adder">$220.00</div>
		<div class="break-point">46</div>
	</div>
	<div class="part-row">
		<div class="term-count">50-99</div>
		<div class="list-price-per">$400.00</div>
		<div class="red-adder">$200.00</div>
		<div class="break-point">81</div>
	</div>
	<div class="part-row">
		<div class="term-count">100-249</div>
		<div class="list-price-per">$320.00</div>
		<div class="red-adder">$160.00</div>
		<div class="break-point">219</div>
	</div>
	<div class="part-row">
		<div class="term-count">250-499</div>
		<div class="list-price-per">$280.00</div>
		<div class="red-adder">$140.00</div>
		<div class="break-point">429</div>
	</div>
	<div class="part-row">
		<div class="term-count">500+</div>
		<div class="list-price-per">$240.00</div>
		<div class="red-adder">$120.00</div>
		<div class="break-point">&nbsp;</div>
	</div>
</div>
</div>


<hr style="margin: auto; margin-top:-35px; margin-bottom: 100px; width:65%;" />









<!----------------------------- ThinManager V-FLEX Subscription - 24x7 Support ---------------------------->
<a name="subscription" id="subscription"></a>
<div class="section">
<h2 class="sect-heading">ThinManager V-FLEX Subscription Licensing<br />- <span>24x7 Software Maintenance</span> -</h2>					
<% if @current_user.admin? || (@current_user.channel != nil && @current_user.channel != "" && @current_user.channel == "Rockwell Automation") %> <!-- Rockwell Distributors -->
<h3 class="sect-sub-heading">FactoryTalk Activation (FTA)</h3>		
<div class="parts">
	<div class="part-heading">
		<div class="cat-number">Catalog #</div>
		<div class="prt-description">Description</div>
		<div class="prt-list-price">List Price</div>
		<div class="prt-mrg-prct">Margin %</div>
		<div class="prt-mrg">Margin</div>
		<div class="prt-cost">Cost</div>
	</div>
	<div class="part-row">
		<div class="cat-number">9541C-TMFT12</div>
		<div class="prt-description">ThinManager FTA 1 VFLX 1ySub 24x7 ESD S/W</div>
		<div class="prt-list-price">See Table&nbsp;&#9662;</div>
		<div class="prt-mrg-prct">33%</div>
		<div class="prt-mrg">See Table&nbsp;&#9662;</div>
		<div class="prt-cost">See Table&nbsp;&#9662;</div>
	</div>
	<div class="part-row">
		<div class="cat-number">9541C-TMFT12M</div>
		<div class="prt-description">ThinManager FTA 1 VFLX 1ySub 24x7 MED S/W</div>
		<div class="prt-list-price">See Table&nbsp;&#9662;</div>
		<div class="prt-mrg-prct">33%</div>
		<div class="prt-mrg">See Table&nbsp;&#9662;</div>
		<div class="prt-cost">See Table&nbsp;&#9662;</div>
	</div>
	<div class="part-row">
		<div class="cat-number">9541-TMFR</div>
		<div class="prt-description">ThinManager FTA 1 VFLX Red 1ySub ESD S/W</div>
		<div class="prt-list-price">See Table&nbsp;&#9662;</div>
		<div class="prt-mrg-prct">33%</div>
		<div class="prt-mrg">See Table&nbsp;&#9662;</div>
		<div class="prt-cost">See Table&nbsp;&#9662;</div>
	</div>
	<div class="part-row">
		<div class="cat-number">9541-TMFRM</div>
		<div class="prt-description">ThinManager FTA 1 VFLX Red 1ySub MED S/W</div>
		<div class="prt-list-price">See Table&nbsp;&#9662;</div>
		<div class="prt-mrg-prct">33%</div>
		<div class="prt-mrg">See Table&nbsp;&#9662;</div>
		<div class="prt-cost">See Table&nbsp;&#9662;</div>
	</div>
</div>
<% end %>

<% if @current_user.admin? || (@current_user.channel != nil && @current_user.channel != "" && @current_user.channel != "Rockwell Automation") %> <!-- 3rd Party -->
<h3 class="sect-sub-heading">ThinManager Activation (TMA)</h3>		
<div class="parts">
	<div class="part-heading">
		<div class="cat-number">Catalog #</div>
		<div class="prt-description">Description</div>
		<div class="prt-list-price">List Price</div>
		<div class="prt-mrg-prct">Margin %</div>
		<div class="prt-mrg">Margin</div>
		<div class="prt-cost">Cost</div>
	</div>
	<div class="part-row">
		<div class="cat-number">9541-TMF1-SUB-247-TMA</div>
		<div class="prt-description">ThinManager TMA 1 VFLX 1ySub 24x7 ESD S/W</div>
		<div class="prt-list-price">See Table&nbsp;&#9662;</div>
		<div class="prt-mrg-prct">33%</div>
		<div class="prt-mrg">See Table&nbsp;&#9662;</div>
		<div class="prt-cost">See Table&nbsp;&#9662;</div>
	</div>
	<div class="part-row">
		<div class="cat-number">9541-TMF1-SUB-247-TMAM</div>
		<div class="prt-description">ThinManager TMA 1 VFLX 1ySub 24x7 MED S/W</div>
		<div class="prt-list-price">See Table&nbsp;&#9662;</div>
		<div class="prt-mrg-prct">33%</div>
		<div class="prt-mrg">See Table&nbsp;&#9662;</div>
		<div class="prt-cost">See Table&nbsp;&#9662;</div>
	</div>
	<div class="part-row">
		<div class="cat-number">9541-TMFR1-SUB-TMA</div>
		<div class="prt-description">ThinManager TMA 1 VFLX Red 1ySub ESD S/W</div>
		<div class="prt-list-price">See Table&nbsp;&#9662;</div>
		<div class="prt-mrg-prct">33%</div>
		<div class="prt-mrg">See Table&nbsp;&#9662;</div>
		<div class="prt-cost">See Table&nbsp;&#9662;</div>
	</div>
	<div class="part-row">
		<div class="cat-number">9541-TMFR1-SUB-TMAM</div>
		<div class="prt-description">ThinManager TMA 1 VFLX Red 1ySub MED S/W</div>
		<div class="prt-list-price">See Table&nbsp;&#9662;</div>
		<div class="prt-mrg-prct">33%</div>
		<div class="prt-mrg">See Table&nbsp;&#9662;</div>
		<div class="prt-cost">See Table&nbsp;&#9662;</div>
	</div>
</div>
<% end %>


</div>





<!-------------- Pricing Table for V-Flex Subscription with 24x7 support -------------->
<div class="section pricing-grid">
<span class="for-above" style="text-align: right;">&#9651; Pricing for parts above &#9661;</span>
<h2 class="sect-heading"><div class="more-info-4"><%= image_tag "questionMark.png" %></div>
	ThinManager V-FLEX Subscription Licensing<br />- <span>24x7 Software Maintenance</span> -
<div class="more-box more-box-4">
	<div class="up-triangle"><%= image_tag "UpTriangle.png" %></div>
	<ul>
		<li>Select the terminal count to determine the List Price per Terminal.</li>
		<li>If redundancy is required, add this to the cost.</li>
		<li>If Media is required, add $100.00 to the Price per Terminal.</li>
		<li>The Breakpoint column indicates the Terminal Count where it is more cost effective to move to the next price band.</li>
	</ul>
	<div class="close-this"><p>Close X</p></div>
</div>
</h2>

<h3 class="sect-sub-heading">Pricing Table <span>( per year )</span></h3>		
<div class="parts">
	<div class="part-heading">
		<div class="term-count">Terminal Count</div>
		<div class="list-price-per">List Price per Terminal</div>
		<div class="red-adder">Redundancy Adder</div>
		<div class="break-point">Breakpoint</div>
	</div>
	<div class="part-row">
		<div class="term-count">1-4</div>
		<div class="list-price-per">$1,000.00</div>
		<div class="red-adder">$400.00</div>
		<div class="break-point">3</div>
	</div>
	<div class="part-row">
		<div class="term-count">5-49</div>
		<div class="list-price-per">$550.00</div>
		<div class="red-adder">$220.00</div>
		<div class="break-point">46</div>
	</div>
	<div class="part-row">
		<div class="term-count">50-99</div>
		<div class="list-price-per">$500.00</div>
		<div class="red-adder">$200.00</div>
		<div class="break-point">81</div>
	</div>
	<div class="part-row">
		<div class="term-count">100-249</div>
		<div class="list-price-per">$400.00</div>
		<div class="red-adder">$160.00</div>
		<div class="break-point">219</div>
	</div>
	<div class="part-row">
		<div class="term-count">250-499</div>
		<div class="list-price-per">$350.00</div>
		<div class="red-adder">$140.00</div>
		<div class="break-point">429</div>
	</div>
	<div class="part-row">
		<div class="term-count">500+</div>
		<div class="list-price-per">$300.00</div>
		<div class="red-adder">$120.00</div>
		<div class="break-point">&nbsp;</div>
	</div>
</div>
</div>



<hr style="border: 2px solid #787878; margin-top: 250px; margin-bottom: 200px;" />




























<!----------------------------- ThinManager Redundancy Upgrades ---------------------------->
<a name="rupgrades" id="rupgrades"></a>
<div class="section">
<h2 class="sect-heading">ThinManager Redundancy Upgrades ( XLi &amp; XLr )</h2>					
<h3 class="sect-sub-heading">ThinManager Activation (TMA)</h3>		
<div class="parts">
	<div class="part-heading">
		<div class="cat-number">Catalog #</div>
		<div class="prt-description">Description</div>
		<div class="prt-list-price">List Price</div>
		<div class="prt-mrg-prct">Margin %</div>
		<div class="prt-mrg">Margin</div>
		<div class="prt-cost">Cost</div>
	</div>
	<div class="part-row">
		<div class="cat-number">9541-SRU-005-XLI</div>
		<div class="prt-description">UG-Std XLi to Redun XLi 5 Pack ESD S/W</div>
		<div class="prt-list-price">$5,500.00</div>
		<div class="prt-mrg-prct">33%</div>
		<div class="prt-mrg">$1,815.00</div>
		<div class="prt-cost">$3,685.00</div>
	</div>
	<div class="part-row">
		<div class="cat-number">9541-SRU-005-XLR</div>
		<div class="prt-description">UG-Std XLr to Redun XLr 5 Pack ESD S/W</div>
		<div class="prt-list-price">$5,500.00</div>
		<div class="prt-mrg-prct">33%</div>
		<div class="prt-mrg">$1,815.00</div>
		<div class="prt-cost">$3,685.00</div>
	</div>
	<div class="part-row">
		<div class="cat-number">9541-SRU-010-XLI</div>
		<div class="prt-description">UG-Std XLi to Redun XLi 10 Pack ESD S/W</div>
		<div class="prt-list-price">$11,000.00</div>
		<div class="prt-mrg-prct">33%</div>
		<div class="prt-mrg">$3,630.00</div>
		<div class="prt-cost">$7,370.00</div>
	</div>
	<div class="part-row">
		<div class="cat-number">9541-SRU-010-XLR</div>
		<div class="prt-description">UG-Std XLr to Redun XLr 10 Pack ESD S/W</div>
		<div class="prt-list-price">$11,000.00</div>
		<div class="prt-mrg-prct">33%</div>
		<div class="prt-mrg">$3,630.00</div>
		<div class="prt-cost">$7,370.00</div>
	</div>
	<div class="part-row">
		<div class="cat-number">9541-SRU-025-XLI</div>
		<div class="prt-description">UG-Std XLi to Redun XLi 25 Pack ESD S/W</div>
		<div class="prt-list-price">$27,500.00</div>
		<div class="prt-mrg-prct">33%</div>
		<div class="prt-mrg">$9,075.00</div>
		<div class="prt-cost">$18,425.00</div>
	</div>
	<div class="part-row">
		<div class="cat-number">9541-SRU-025-XLR</div>
		<div class="prt-description">UG-Std XLr to Redun XLr 25 Pack ESD S/W</div>
		<div class="prt-list-price">$27,500.00</div>
		<div class="prt-mrg-prct">33%</div>
		<div class="prt-mrg">$9,075.00</div>
		<div class="prt-cost">$18,425.00</div>
	</div>
	<div class="part-row">
		<div class="cat-number">9541-MRU-005-XLI</div>
		<div class="prt-description">UG-Mirror XLi to Redun XLi 5 Pack ESD S/W</div>
		<div class="prt-list-price">$2,750.00</div>
		<div class="prt-mrg-prct">33%</div>
		<div class="prt-mrg">$907.50</div>
		<div class="prt-cost">$1,842.50</div>
	</div>
	<div class="part-row">
		<div class="cat-number">9541-MRU-005-XLR</div>
		<div class="prt-description">UG-Mirror XLr to Redun XLr 5 Pack ESD S/W</div>
		<div class="prt-list-price">$2,750.00</div>
		<div class="prt-mrg-prct">33%</div>
		<div class="prt-mrg">$907.50</div>
		<div class="prt-cost">$1,842.50</div>
	</div>
	<div class="part-row">
		<div class="cat-number">9541-MRU-010-XLI</div>
		<div class="prt-description">UG-Mirror XLi to Redun XLi 10 Pack ESD S/W</div>
		<div class="prt-list-price">$5,500.00</div>
		<div class="prt-mrg-prct">33%</div>
		<div class="prt-mrg">$1,815.00</div>
		<div class="prt-cost">$3,685.00</div>
	</div>
	<div class="part-row">
		<div class="cat-number">9541-MRU-010-XLR</div>
		<div class="prt-description">UG-Mirror XLr to Redun XLr 10 Pack ESD S/W</div>
		<div class="prt-list-price">$5,500.00</div>
		<div class="prt-mrg-prct">33%</div>
		<div class="prt-mrg">$1,815.00</div>
		<div class="prt-cost">$3,685.00</div>
	</div>
	<div class="part-row">
		<div class="cat-number">9541-MRU-025-XLI</div>
		<div class="prt-description">UG-Mirror XLi to Redun XLi 25 Pack ESD S/W</div>
		<div class="prt-list-price">$13,750.00</div>
		<div class="prt-mrg-prct">33%</div>
		<div class="prt-mrg">$4,537.50</div>
		<div class="prt-cost">$9,212.50</div>
	</div>
	<div class="part-row">
		<div class="cat-number">9541-MRU-025-XLR</div>
		<div class="prt-description">UG-Mirror XLr to Redun XLr 25 Pack ESD S/W</div>
		<div class="prt-list-price">$13,750.00</div>
		<div class="prt-mrg-prct">33%</div>
		<div class="prt-mrg">$4,537.50</div>
		<div class="prt-cost">$9,212.50</div>
	</div>
</div>
</div>


<hr style="border: 2px solid #787878; margin-top: 250px; margin-bottom: 200px;" />



























<!----------------------------- ThinManager Xli Upgrades ---------------------------->
<a name="xli" id="xli"></a>
<div class="section">
<h2 class="sect-heading">ThinManager XLi Upgrades</h2>					
<h3 class="sect-sub-heading">ThinManager Activation (TMA)</h3>		
<div class="parts">
	<div class="part-heading">
		<div class="cat-number">Catalog #</div>
		<div class="prt-description">Description</div>
		<div class="prt-list-price">List Price</div>
		<div class="prt-mrg-prct">Margin %</div>
		<div class="prt-mrg">Margin</div>
		<div class="prt-cost">Cost</div>
	</div>
	<div class="part-row">
		<div class="cat-number">9541-UG-XLI-005</div>
		<div class="prt-description">ThinManager Upgrade to XLi for five (5) clients</div>
		<div class="prt-list-price">$1,300.00</div>
		<div class="prt-mrg-prct">33%</div>
		<div class="prt-mrg">$429.00</div>
		<div class="prt-cost">$871.00</div>
	</div>
	<div class="part-row">
		<div class="cat-number">9541-UG-XLI-010</div>
		<div class="prt-description">ThinManager upgrade to XLi for ten (10) clients</div>
		<div class="prt-list-price">$2,600.00</div>
		<div class="prt-mrg-prct">33%</div>
		<div class="prt-mrg">$858.00</div>
		<div class="prt-cost">$1,742.00</div>
	</div>
	<div class="part-row">
		<div class="cat-number">9541-UG-XLI-025</div>
		<div class="prt-description">ThinManager upgrade to XLi for twenty-five (25) clients</div>
		<div class="prt-list-price">$6,500.00</div>
		<div class="prt-mrg-prct">33%</div>
		<div class="prt-mrg">$2,145.00</div>
		<div class="prt-cost">$4,355.00</div>
	</div>
	<div class="part-row">
		<div class="cat-number">9541-UGM-XLI-005</div>
		<div class="prt-description">ThinManager upgrade to XLi for five (5) clients - Mirrored</div>
		<div class="prt-list-price">$1,950.00</div>
		<div class="prt-mrg-prct">33%</div>
		<div class="prt-mrg">$643.50</div>
		<div class="prt-cost">$1,306.50</div>
	</div>
	<div class="part-row">
		<div class="cat-number">9541-UGM-XLI-010</div>
		<div class="prt-description">ThinManager upgrade to XLi for ten (10) clients - Mirrored</div>
		<div class="prt-list-price">$3,900.00</div>
		<div class="prt-mrg-prct">33%</div>
		<div class="prt-mrg">$1,287.00</div>
		<div class="prt-cost">$2,613.00</div>
	</div>
	<div class="part-row">
		<div class="cat-number">9541-UGM-XLI-025</div>
		<div class="prt-description">ThinManager upgrade to XLi for twenty-five (25) clients - Mirrored</div>
		<div class="prt-list-price">$9,750.00</div>
		<div class="prt-mrg-prct">33%</div>
		<div class="prt-mrg">$3,217.50</div>
		<div class="prt-cost">$6,532.50</div>
	</div>
	<div class="part-row">
		<div class="cat-number">9541-UGR-XLI-005</div>
		<div class="prt-description">ThinManager upgrade to XLi for five (5) clients - Redundant</div>
		<div class="prt-list-price">$2,600.00</div>
		<div class="prt-mrg-prct">33%</div>
		<div class="prt-mrg">$858.00</div>
		<div class="prt-cost">$1,742.00</div>
	</div>
	<div class="part-row">
		<div class="cat-number">9541-UGR-XLI-010</div>
		<div class="prt-description">ThinManager upgrade to XLi for ten (10) clients - Redundant</div>
		<div class="prt-list-price">$5,200.00</div>
		<div class="prt-mrg-prct">33%</div>
		<div class="prt-mrg">$1,716.00</div>
		<div class="prt-cost">$3,484.00</div>
	</div>
	<div class="part-row">
		<div class="cat-number">9541-UGR-XLI-025</div>
		<div class="prt-description">ThinManager upgrade to XLi for twenty-ten (25) clients - Redundant</div>
		<div class="prt-list-price">$13,000.00</div>
		<div class="prt-mrg-prct">33%</div>
		<div class="prt-mrg">$4,290.00</div>
		<div class="prt-cost">$8,710.00</div>
	</div>
	<div class="part-row">
		<div class="cat-number">9541-UG-SVR-XLI</div>
		<div class="prt-description">ThinManager upgrade to XLi for Enterprise Server</div>
		<div class="prt-list-price">$15,700.00</div>
		<div class="prt-mrg-prct">33%</div>
		<div class="prt-mrg">$5,181.00</div>
		<div class="prt-cost">$10,519.00</div>
	</div>
	<div class="part-row">
		<div class="cat-number">9541-UG-STE-XLI</div>
		<div class="prt-description">ThinManager upgrade to XLi for Enterprise Site</div>
		<div class="prt-list-price">$31,350.00</div>
		<div class="prt-mrg-prct">33%</div>
		<div class="prt-mrg">$10,345.50</div>
		<div class="prt-cost">$21,004.50</div>
	</div>
</div>
</div>


<hr style="border: 2px solid #787878; margin-top: 250px; margin-bottom: 200px;" />





















<!----------------------------- ThinManager Xlr Upgrades ---------------------------->
<a name="xlr" id="xlr"></a>
<div class="section">
<h2 class="sect-heading">ThinManager XLr Upgrades</h2>					
<h3 class="sect-sub-heading">ThinManager Activation (TMA)</h3>		
<div class="parts">
	<div class="part-heading">
		<div class="cat-number">Catalog #</div>
		<div class="prt-description">Description</div>
		<div class="prt-list-price">List Price</div>
		<div class="prt-mrg-prct">Margin %</div>
		<div class="prt-mrg">Margin</div>
		<div class="prt-cost">Cost</div>
	</div>
	<div class="part-row">
		<div class="cat-number">9541-UG-XLR-005</div>
		<div class="prt-description">ThinManager Upgrade to XLr for five (5) clients</div>
		<div class="prt-list-price">$1,050.00</div>
		<div class="prt-mrg-prct">33%</div>
		<div class="prt-mrg">$346.50</div>
		<div class="prt-cost">$703.50</div>
	</div>
	<div class="part-row">
		<div class="cat-number">9541-UG-XLR-010</div>
		<div class="prt-description">ThinManager upgrade to XLr for ten (10) clients</div>
		<div class="prt-list-price">$2,100.00</div>
		<div class="prt-mrg-prct">33%</div>
		<div class="prt-mrg">$693.00</div>
		<div class="prt-cost">$1,407.00</div>
	</div>
	<div class="part-row">
		<div class="cat-number">9541-UG-XLR-025</div>
		<div class="prt-description">ThinManager upgrade to XLr for twenty-five (25) clients</div>
		<div class="prt-list-price">$5,250.00</div>
		<div class="prt-mrg-prct">33%</div>
		<div class="prt-mrg">$1,732.50</div>
		<div class="prt-cost">$3,517.50</div>
	</div>
	<div class="part-row">
		<div class="cat-number">9541-UGM-XLR-005</div>
		<div class="prt-description">ThinManager upgrade to XLr for five (5) clients - Mirrored</div>
		<div class="prt-list-price">$1,575.00</div>
		<div class="prt-mrg-prct">33%</div>
		<div class="prt-mrg">$519.75</div>
		<div class="prt-cost">$1,055.25</div>
	</div>
	<div class="part-row">
		<div class="cat-number">9541-UGM-XLR-010</div>
		<div class="prt-description">ThinManager upgrade to XLr for ten (10) clients - Mirrored</div>
		<div class="prt-list-price">$3,150.00</div>
		<div class="prt-mrg-prct">33%</div>
		<div class="prt-mrg">$1,039.50</div>
		<div class="prt-cost">$2,110.50</div>
	</div>
	<div class="part-row">
		<div class="cat-number">9541-UGM-XLR-025</div>
		<div class="prt-description">ThinManager upgrade to XLr for twenty-five (25) clients - Mirrored</div>
		<div class="prt-list-price">$7,875.00</div>
		<div class="prt-mrg-prct">33%</div>
		<div class="prt-mrg">$2,598.75</div>
		<div class="prt-cost">$5,276.25</div>
	</div>
	<div class="part-row">
		<div class="cat-number">9541-UGR-XLR-005</div>
		<div class="prt-description">ThinManager upgrade to XLr for five (5) clients - Redundant</div>
		<div class="prt-list-price">$2,100.00</div>
		<div class="prt-mrg-prct">33%</div>
		<div class="prt-mrg">$693.00</div>
		<div class="prt-cost">$1,407.00</div>
	</div>
	<div class="part-row">
		<div class="cat-number">9541-UGR-XLR-010</div>
		<div class="prt-description">ThinManager upgrade to XLr for ten (10) clients - Redundant</div>
		<div class="prt-list-price">$4,200.00</div>
		<div class="prt-mrg-prct">33%</div>
		<div class="prt-mrg">$1,386.00</div>
		<div class="prt-cost">$2,814.00</div>
	</div>
	<div class="part-row">
		<div class="cat-number">9541-UGR-XLR-025</div>
		<div class="prt-description">ThinManager upgrade to XLr for twenty-ten (25) clients - Redundant</div>
		<div class="prt-list-price">$10,500.00</div>
		<div class="prt-mrg-prct">33%</div>
		<div class="prt-mrg">$3,465.00</div>
		<div class="prt-cost">$7,035.00</div>
	</div>
	<div class="part-row">
		<div class="cat-number">9541-UG-SVR-XLR</div>
		<div class="prt-description">ThinManager upgrade to XLr for Enterprise Server</div>
		<div class="prt-list-price">$11,900.00</div>
		<div class="prt-mrg-prct">33%</div>
		<div class="prt-mrg">$3,927.00</div>
		<div class="prt-cost">$7,973.00</div>
	</div>
	<div class="part-row">
		<div class="cat-number">9541-UG-STE-XLR</div>
		<div class="prt-description">ThinManager upgrade to XLr for Enterprise Site</div>
		<div class="prt-list-price">$22,350.00</div>
		<div class="prt-mrg-prct">33%</div>
		<div class="prt-mrg">$7,375.50</div>
		<div class="prt-cost">$14,974.50</div>
	</div>
</div>
</div>


<hr style="border: 2px solid #787878; margin-top: 250px; margin-bottom: 200px;" />

























<!----------------------------- ThinManager Training ---------------------------->
<a name="training" id="training"></a>
<div class="section">
<h2 class="sect-heading">ThinManager Training</h2>					
<h3 class="sect-sub-heading">Customer</h3>		
<div class="parts">
	<div class="part-heading">
		<div class="cat-number">Catalog #</div>
		<div class="prt-description">Description</div>
		<div class="prt-list-price">List Price</div>
		<div class="prt-mrg-prct">Margin %</div>
		<div class="prt-mrg">Margin</div>
		<div class="prt-cost">Cost</div>
	</div>
	<div class="part-row">
		<div class="cat-number">9542-TMTT-01</div>
		<div class="prt-description">1 Day Training in ATL</div>
		<div class="prt-list-price">$1,230.00</div>
		<div class="prt-mrg-prct">33%</div>
		<div class="prt-mrg">$405.90</div>
		<div class="prt-cost">$824.10</div>
	</div>
	<div class="part-row">
		<div class="cat-number">9542-TMTT-01-S</div>
		<div class="prt-description">1 Day Training in ATL with Software&nbsp;Maintenance&nbsp;Discount</div>
		<div class="prt-list-price">$1,025.00</div>
		<div class="prt-mrg-prct">33%</div>
		<div class="prt-mrg">$338.25</div>
		<div class="prt-cost">$686.75</div>
	</div>
	<div class="part-row">
		<div class="cat-number">9542-TMTT-02-V</div>
		<div class="prt-description">2 Day Online Training</div>
		<div class="prt-list-price">$2,460.00</div>
		<div class="prt-mrg-prct">33%</div>
		<div class="prt-mrg">$811.80</div>
		<div class="prt-cost">$1,648.20</div>
	</div>
	<div class="part-row">
		<div class="cat-number">9542-TMTT-02-V-S</div>
		<div class="prt-description">2 Day Online Training with Software&nbsp;Maintenance&nbsp;Discount</div>
		<div class="prt-list-price">$2,050.00</div>
		<div class="prt-mrg-prct">33%</div>
		<div class="prt-mrg">$676.50</div>
		<div class="prt-cost">$1,373.50</div>
	</div>
	<div class="part-row">
		<div class="cat-number">9542-OST-02-04</div>
		<div class="prt-description">2 Day Training Onsite for 4 Students&nbsp;<span class="red">*</span></div>
		<div class="prt-list-price">$9,840.00</div>
		<div class="prt-mrg-prct">33%</div>
		<div class="prt-mrg">$3,247.20</div>
		<div class="prt-cost">$6,592.80</div>
	</div>
	<div class="part-row">
		<div class="cat-number">9542-OST-02-04-S</div>
		<div class="prt-description">2 Day Training Onsite for 4 Students with Software&nbsp;Maintenance&nbsp;Discount&nbsp;<span class="red">*</span></div>
		<div class="prt-list-price">$8,200.00</div>
		<div class="prt-mrg-prct">33%</div>
		<div class="prt-mrg">$2,706.00</div>
		<div class="prt-cost">$5,494.00</div>
	</div>
	<div class="part-row">
		<div class="cat-number">9542-OST-02-08</div>
		<div class="prt-description">2 Day Training Onsite for 8 Students&nbsp;<span class="red">*</span></div>
		<div class="prt-list-price">$14,760.00</div>
		<div class="prt-mrg-prct">33%</div>
		<div class="prt-mrg">$4,870.80</div>
		<div class="prt-cost">$9,889.20</div>
	</div>
	<div class="part-row">
		<div class="cat-number">9542-OST-02-08-S</div>
		<div class="prt-description">2 Day Training Onsite for 8 Students with Software&nbsp;Maintenance&nbsp;Discount&nbsp;<span class="red">*</span></div>
		<div class="prt-list-price">$12,300.00</div>
		<div class="prt-mrg-prct">33%</div>
		<div class="prt-mrg">$4,059.00</div>
		<div class="prt-cost">$8,241.00</div>
	</div>
	<div class="part-row">
		<div class="cat-number">9542-OST-02-12</div>
		<div class="prt-description">2 Day Training Onsite for 12 Students&nbsp;<span class="red">*</span></div>
		<div class="prt-list-price">$19,700.00</div>
		<div class="prt-mrg-prct">33%</div>
		<div class="prt-mrg">$6,501.00</div>
		<div class="prt-cost">$13,199.00</div>
	</div>
	<div class="part-row">
		<div class="cat-number">9542-OST-02-12-S</div>
		<div class="prt-description">2 Day Training Onsite for 12 Students with Software&nbsp;Maintenance&nbsp;Discount&nbsp;<span class="red">*</span></div>
		<div class="prt-list-price">$16,400.00</div>
		<div class="prt-mrg-prct">33%</div>
		<div class="prt-mrg">$5,412.00</div>
		<div class="prt-cost">$10,988.00</div>
	</div>
</div>
</div>


<div class="training-more-info">
	<h6>Onsite Training</h6>
	<div class="flex-boxes">
		<div class="flex-box-left">
			<p><span class="red">*</span> For all onsite training you must fill out the questionaire linked to the right. Please return to <%= link_to "services@thinmanager.com", "mailto:services@thinmanager.com" %></p>
			<p style="margin-bottom:0px;"><span class="red">*</span> Please allow 4-6 weeks’ notice prior to scheduling. Complete questionnaire, return and consult with your ThinManager Sales Manager.</p>
		</div>
		<div class="flex-box-right" align="right"><%= link_to "Questionaire", "https://thinmanager.com/partner-resources/ThinManager%20Installation%20Services%20Questionnaire.pdf", class: "btn btn-primary", target: "_blank" %></div>
	</div>

</div>

<br /><br /><br /><br /><br />











<script>
(function(){

	"use strict";

	var open1 = false;
	var open2 = false;
	var open3 = false;
	var open4 = false;
	
	$(".more-info").on("click", function() {
		if (open1 == false) {
			$('.more-box-1').toggle(400);
			open1 = true;
		} 
	});

	$(".more-info-2").on("click", function() {
		if (open2 == false) {
			$('.more-box-2').toggle(400);
			open2 = true;
		} 
	});

	$(".more-info-3").on("click", function() {
		if (open3 == false) {
			$('.more-box-3').toggle(400);
			open3 = true;
		}
	});

	$(".more-info-4").on("click", function() {
		if (open4 == false) {
			$('.more-box-4').toggle(400);
			open4 = true;
		} 
	});

	$('.more-box-1 .close-this').on('click', function() {
		if (open1 == true) {
			$('.more-box-1').toggle(400);
			open1 = false;
		} 
	});

	$('.more-box-2 .close-this').on('click', function() {
		if (open2 == true) {
			$('.more-box-2').toggle(400);
			open2 = false;
		} 
	});

	$('.more-box-3 .close-this').on('click', function() {
		if (open3 == true) {
			$('.more-box-3').toggle(400);
			open3 = false;
		} 
	});

	$('.more-box-4 .close-this').on('click', function() {
		if (open4 == true) {
			$('.more-box-4').toggle(400);
			open4 = false;
		} 
	});

})();
</script>

<% end %>
</div>