<div class="container reports-container" style="padding-bottom: 100px;">

<h1>Portal Reports</h1>
<hr />
<br />
	<div class="col">
		


		<div class="row">
			<h4>Users</h4>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<div class="well centered">
					<h5>Total Users</h5>
					<h1 class="huge"><%= @users.count %></h1>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="well centered">
					<h5>Distributors</h5>
					<h1 class="huge"><%= @distributors.count %></h1>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="well centered">
					<h5>Integrators</h5>
					<h1 class="huge"><%= @integrators.count %></h1>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="well centered">
					<h5>OEMs</h5>
					<h1 class="huge"><%= @oems.count %></h1>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="well centered">
					<h5>End Users</h5>
					<h1 class="huge"><%= @endusers.count %></h1>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="well centered">
					<h5>Base Users</h5>
					<h1 class="huge"><%= @baseusers.count %></h1>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="well centered">
					<h5>New last 30 days</h5>
					<h1 class="huge"><%= @usersthismonth.count %></h1>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="well centered">
					<h5>New last 90 days</h5>
					<h1 class="huge"><%= @usersthisquarter.count %></h1>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="well centered">
					<h5>New in last year</h5>
					<h1 class="huge"><%= @usersthisyear.count %></h1>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="well centered">
					<h5>Logged in this month</h5>
					<h1 class="huge"><%= @loggedthismonth.count %></h1>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="well centered">
					<h5>Logged in this quarter</h5>
					<h1 class="huge"><%= @loggedthisquarter.count %></h1>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="well centered">
					<h5>Logged in this year</h5>
					<h1 class="huge"><%= @loggedthisyear.count %></h1>
				</div>
			</div>
		</div>


		<div class="row" style="margin-top: 50px;">
			<h4>Certification</h4>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<div class="well centered">
					<h5>Signed Up</h5>
					<h1 class="huge"><%= @certsignedup.count %></h1>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="well centered">
					<h5>Total Certified</h5>
					<h1 class="huge"><%= @certified.count %></h1>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="well centered">
					<h5>In Progress</h5>
					<h1 class="huge"><%= @inprogress.count %></h1>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<div class="well centered">
					<h5>Certs Expired</h5>
					<h1 class="huge"><%= @certexpired.count %></h1>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="well centered">
					<h5>Certified SIs</h5>
					<h1 class="huge"><%= @certsi.count %></h1>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="well centered">
					<h5>Certified OEMs</h5>
					<h1 class="huge"><%= @certoem.count %></h1>
				</div>
			</div>
		</div>


		<div class="row" style="margin-top: 50px;">
			<h4>Events</h4>
		</div>

		<div class="row">
			<div class="col-sm-4">
				<div class="well centered">
					<h5>Event Accounts Created</h5>
					<h1 class="huge"><%= @evt_users.count %></h1>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="well centered">
					<h5>Total Event Registrations</h5>
					<h1 class="huge"><%= @evt_registrations.count %></h1>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="well centered">
					<h5>Total Event Cancelations</h5>
					<h1 class="huge"><%= @evt_reg_cancels.count %></h1>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<div class="well centered">
					<h5>Total Events Created</h5>
					<h1 class="huge"><%= Event.all.count %></h1>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="well centered">
					<h5>Average Attendance</h5>
					<h1 class="huge"><%= sprintf("%01.1f", @evt_average_attend) %>%</h1>
				</div>
			</div>
			<div class="col-sm-4">
				
			</div>
		</div>


		<div class="row" style="margin-top: 50px;">
			<h4>Learning</h4>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<div class="well centered">
					<h5>Total Quizzes Taken</h5>
					<h1 class="huge"><%= @allquizzed.count %></h1>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="well centered">
					<h5>Total Earned Badges</h5>
					<h1 class="huge"><%= @badgesearned %></h1>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="well centered">
					<h5>Questions Missed</h5>
					<h1 class="huge"><%= @wrongs.count %></h1>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="well centered">
					<h5>Missed Most All Time</h5>
					<% if @question_missed_most != nil %>
						<p><%= @question_missed_most %></p>
						<p>[ Question ID: <%= link_to "#{@mostmissed}", edit_question_path(id: @mostmissed, quiz_id: @most_missed_quiz) %> ]</p>
					<% else %>
						<p>&nbsp;</p>
					<% end %>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="well centered">
					<h5>Most Last 30 days</h5>
					<% if @question_missed_most_month != nil %>
						<p><%= @question_missed_most_month %></p>
						<p>[ Question ID: <%= link_to "#{@mostmissed_month}", edit_question_path(id: @mostmissed_month, quiz_id: @most_missed_quiz_month) %> ]</p>
					<% else %>
						<p>&nbsp;</p>
					<% end %>
					
				</div>
			</div>
			<div class="col-sm-4">
				<div class="well centered">
					<h5>Productivity Badges</h5>
					<h1 class="huge"><%= @prodbadges.count %></h1>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="well centered">
					<h5>Visualization Badges</h5>
					<h1 class="huge"><%= @visbadges.count %></h1>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="well centered">
					<h5>Security Badges</h5>
					<h1 class="huge"><%= @secbadges.count %></h1>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="well centered">
					<h5>Mobility Badges</h5>
					<h1 class="huge"><%= @mobbadges.count %></h1>
				</div>
			</div>
		</div>


		<div class="row" style="margin-top: 50px;">
			<h4>Flex Forwards</h4>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<div class="well centered">
					<h5>Total Created</h5>
					<h1 class="huge"><%= @flexes.count %></h1>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="well centered">
					<h5>New last 30 days</h5>
					<h1 class="huge"><%= @flexmonth.count %></h1>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="well centered">
					<h5>Redundant Exchange</h5>
					<h1 class="huge"><%= @flexred.count %></h1>
				</div>
			</div>
		</div>

		<div class="row" style="margin-top: 50px;">
			<h4>QR Codes</h4>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<div class="well centered">
					<h5>Total Created</h5>
					<h1 class="huge"><%= @qrs.count %></h1>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="well centered">
					<h5>New last 30 days</h5>
					<h1 class="huge"><%= @qrmonth.count %></h1>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="well centered">
					<h5>Most Created</h5>
					<% if @qr_best_user != nil %>
						<p><%= link_to "#{@qr_best_user.firstname} #{@qr_best_user.lastname}", user_path(@qr_best_user) %></p>
					<% else %>
						<p>&nbsp;</p>
					<% end %>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="well centered">
					<h5>Biggest User<br />This Month</h5>
					<% if @qr_best_user_month != nil %>
						<p><%= link_to "#{@qr_best_user_month.firstname} #{@qr_best_user_month.lastname}", user_path(@qr_best_user_month) %></p>
					<% else %>
						<p>&nbsp;</p>
					<% end %>
				</div>
			</div>
		</div>
	


	</div>


</div>