<div class="tmc-page-content">

<%= render 'layouts/hardware-nav' %>




<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h3>Mobile Client Finder</h3>
		</div>
	</div>
</div>	

<hr style="width: 98%; margin: auto; margin-bottom:12px; margin-top: 8px;" />

<div class="container" style="padding-bottom:25px;">

	<div class="row">
		<div class="col-md-12">
			<p align="center" style="font-weight: bold;">ThinManager offers native mobile application that turn your mobile device, like a tablet or phone, in to a ThinManager managed client. Securely and easily deliver your content using resolver technology just as you would to any other terminal.</p>
		</div>
	</div>
</div>

<div class="atmc-span">

	<div class="row">
		<div class="col-md-5">
			<div class="android"><%= image_tag("android-tablet.png") %></div>
		</div>
		<div class="col-md-7">
			<div class="row" style="padding-left:15px;">
				<h2>aTMC</h2>
				<div class="android-logo"><%= image_tag("icon-android.png") %></div>
			</div>

			<p>Extend your productivity without giving up security with aTMC. Versitile control can now be extended to Android based tablets and devices to use in your configured ThinManger environment.</p>
			
			<div class="row">

				<div class="col-7">
					

					<ul>
						<li>Managed Users</li>
						<li>ActiveX Control</li>
						<li>Bar Code &amp; QR Scanning</li>
						<li>Client to Client Shadowing</li>
						<li>Instant Failover</li>
						<li>MultiSession™</li>
						<li>AppLink™</li>
						<li style="list-style: none;"></li>
					</ul>

					<p>and so much more!</p>
				</div>

				<div class="col-5">
					
					<table style="width:100%; text-align:center; margin-top: 22px;" border="1">
						<tr style="font-size:.85em;">
							<th style="background-color:#f1f1f1;">Version</th>
							<th style="background-color:#f1f1f1;">OS Min</th>
							<th style="background-color:#f1f1f1;">OS Max</th>
						</tr>
						<tr>
							<td>12.1</td>
							<td>5</td>
							<td>11</td>
						</tr>
						<tr>
							<td>13</td>
							<td>5</td>
							<td>11</td>
						</tr>
						<tr>
							<td>13.1</td>
							<td>5</td>
							<td>12</td>
						</tr>
						<tr>
							<td>14*</td>
							<td>5</td>
							<td>13</td>
						</tr>
					</table>
					<p style="font-size:.65em; line-height:10px; margin-top:10px; text-align:center;">*Planned future release subject to change</p>
				</div>

			</div>
			<div style="padding-top: 10px;">
				<%= link_to "TM Downloads", "https://downloads.thinmanager.com", target: "_blank", class: "btn btn-md btn-outline-secondary" %>
				&nbsp;&nbsp;
				<%= link_to image_tag("google-play.png"), "https://play.google.com/store/apps/details?id=com.thinmanager.atmc", target: "_blank", class: "play-button" %>
			</div>
		</div>
	</div>
	
	
</div>

<div class="itmc-span">
	
	<div class="row">
		<div class="col-md-7">
			<div class="row" style="padding-left:15px;">
				<h2>iTMC</h2>
				<div class="apple-logo"><%= image_tag("icon-apple.png") %></div>
			</div>
			<p>Specifically build for the iOS operating system but with the same great feature set as our other mobile applications. iTMC turns your Apple device in to a ThinManager managed client with the same control and security as the rest of the managed devices in your production environment.</p>

			<p>Using geofencing and resolver technologies, never worry about content being accessed outside of the configuration you set up and determine for use. Take advantage of QR Codes, Wifi and bluetooth to lock down your standard operating procedures and boost productivity with mobility on your plant floor.</p>

			<div style="padding-top: 10px;">
				<%= link_to image_tag("Apple-AppStore.png"), "https://itunes.apple.com/us/app/itmc-for-thinmanager-platform/id999068520?mt=8", target: "_blank", class: "play-button" %>
			</div>

		</div>
		<div class="col-md-5">
			<div class="ipad"><%= image_tag("iOS-tablet.png") %></div>
		</div>
	</div>
	
</div>

<div class="wintmc-span">
	<div class="row">
		<div class="col-md-5">
			<div class="surface"><%= image_tag("surface-tablet.png") %></div>
		</div>
		<div class="col-md-7">
			<div class="row" style="padding-left:15px;">
				<h2>WinTMC</h2>
				<div class="windows-logo"><%= image_tag("icon-windows.png") %></div>
			</div>
			<p>WinTMC allows you to manage your PCs and host applications centrally, simplifying network-wide updates and significantly reducing your total cost of ownership.</p>

			<p>Use SmartSession™, MultiSession™, AppLink™, Instant Failover, and other features on your Windows PC. You will now have more options when managing, configuring, and designing your entire Remote Desktop Server Network.</p>

			<p>Network Administrators can use ThinManager’s shadowing capability to remotely view and control the PC’s desktop even when the user does not have an active terminal server session.</p>

			<p>WinTMC can be used with tablets running full Windows 10 or higher</p>

			<div style="padding-top: 10px;">
				<%= link_to "TM Downloads", "https://downloads.thinmanager.com", target: "_blank", class: "btn btn-md btn-outline-secondary" %>
			</div>
		</div>
	</div>
</div>


</div>