<div class="container" style="padding-bottom: 150px;">
<h1>ThinManager V-FLEX</h1>
<hr />

<p>Please take the time to watch the video below. This is a total run through of what V-FLEX licesning is, and how it works. Below the video you will find the ppt deck with explanation as well a pdf Datasheet to help explain the differences from the previous licensing model. Lastly, we have provided a link to the public domain page for V-FLEX that can be shared with anyone wondering about V-FLEX licensing from ThinManager.</p>

<br />
<p align="center" style="font-weight:bold;">All Prices discussed are in US Dollars</p>
<p align="center" style="font-weight:lighter; font-size: .75em; margin-top: -10px;">Officially Avaiable: Late August, 2019</p>


<div class="video-webinar">
	<% if (@user.channel != nil && @user.channel != "") && @user.channel != "Rockwell Automation" %>

	<iframe width="853" height="480" src="https://www.youtube.com/embed/FIxeVW1aGC0?modestbranding=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


<% elsif (@user.channel != nil && @user.channel != "") && @user.channel == "Rockwell Automation" %>

	<iframe width="853" height="480" src="https://www.youtube.com/embed/p7LCyGcWvZ8?modestbranding=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<% else %>

	<p align="center" style="color:orange;">We do not seem to know your partner channel affiliation<br />Please <a href="mailto:bharned@thinmanager.com">contact us</a>.</p>

<% end %>

</div>



<br />
	<div class="document-table">
		<div class="row">
			<div class="col-md-6"><span class="bold">V-FLEX PowerPoint Deck</span></div>
			<div class="col-md-5">PDF Document</div>
			<div class="col-md-1">

				<% if (@user.channel != nil && @user.channel != "") && @user.channel != "Rockwell Automation" %>
					<%= link_to image_tag("icon-download.png"), "https://thinmanager.com/partner-resources/TM-V-FLEX-Deck_20190726_3P.pdf", target: "_blank" %>
				<% elsif (@user.channel != nil && @user.channel != "") && @user.channel == "Rockwell Automation" %> <!-- Rockwell Distributors -->
					<%= link_to image_tag("icon-download.png"), "https://thinmanager.com/partner-resources/TM-V-FLEX-Deck_20190726_RA.pdf", target: "_blank" %> 
				<% else %>
					&nbsp;
				<% end %>		
			
			</div>
				
		</div>
		<div class="row even">
			<div class="col-md-6"><span class="bold">V-FLEX Datasheet</span></div>
			<div class="col-md-5">PDF Document</div>
			<div class="col-md-1">

				<% if (@user.channel != nil && @user.channel != "") && @user.channel != "Rockwell Automation" %>
					<%= link_to image_tag("icon-download.png"), "#", target: "_blank" %>
				<% elsif (@user.channel != nil && @user.channel != "") && @user.channel == "Rockwell Automation" %> <!-- Rockwell Distributors -->
					<%= link_to image_tag("icon-download.png"), "#", target: "_blank" %>
				<% else %>
					&nbsp;
				<% end %>	

			</div>
		</div>
		<div class="row">
			<div class="col-md-6"><span class="bold">V-FLEX Public URL</span></div>
			<div class="col-md-5">Public Page with Marketing Video</div>
			<div class="col-md-1"><%= link_to image_tag("icon-play.png"), "https://thinmanager.com/vflex", target: "_blank" %></div>
		</div>
	</div>

</div>