<div class="container">

<div class="row">
	<div class="col-md-9">
		<h1>Event Venues</h1>
	</div>
	<div class="col-md-3">
		<div class="add_currency_btn">
			<% if @current_user && @current_user.admin? %>
				<%= link_to "Add Venue", new_venue_path, class: "btn btn-primary" %>
			<% end %>	
		</div>
	</div>
</div>
<hr />


<% if @venues.any? %>


	<div class="hp-cards">
		<div class="row">
			<div class="flex-container">
				<% @venues.each do |venue| %>

					<div class="event-card">
						<% if venue.image_link != "" %>
							<img src="<%= venue.image_link %>" alt="<%= venue.name %>" class="card-img-top" style="object-fit: contain;" />
						<% end %>
					    <div class="card-body">
					      <h5 class="card-title"><%= venue.name %></h5>
					      <p class="card-text"><%= venue.description %></p>
					      <div align="right"><%= link_to "Details / Events", venue_path(venue), class: "btn btn-primary" %></div>
					    </div>
					</div>

				<% end %>
			</div>
		</div>
	</div>


<% else %>

	<p style="color:orangered;">There are no venues created for events yet.</p>

<% end %>


</div>