<% if logged_in? && (current_user.admin? || current_user.evt_admin?) %>
	<%= render 'events/adminnav' %>
<% end %>
<div class="container">

<div class="row">
	<div class="col-md-9">
		<h1>Event Venues</h1>
	</div>
	<div class="col-md-3">
		<div class="add_currency_btn">
			<% if @current_user && @current_user.admin? %>
				<%= link_to "Add Venue", new_venue_path, class: "btn btn-primary" %>
			<% end %>	
		</div>
	</div>
</div>
<hr />


<% if @venues.any? %>


	<div class="hp-cards">
		<div class="row">
			<div class="flex-container">
				<% @venues.each do |venue| %>

					<div class="event-card">
						
					    <div class="card-body">
					      <h5 class="card-title" align="center"><%= venue.name %></h5>
					      <hr style="margin-bottom:10px;" />
					      <% if venue.city != nil && venue.city != "" %>
						      <div class="row" style="text-align:center; margin-bottom: 10px;">
						      	<div class="col">
						      		<%= venue.city %><% if venue.state != nil && venue.state != "" %>, <%= venue.state %><% end %>
						        </div>
						      </div>
					      <% end %>
					      <div class="row" style="text-align:center; margin-bottom:7px;">
					      	<div class="col">
						      	<%= link_to "Edit", edit_venue_path(venue) %> &nbsp;|&nbsp; <%= link_to "Delete", venue_path(venue), method: :delete, data: {confirm: "Are you sure you want to delete this event Venue?"}, style: "color:red;" %>
						    </div>
					      </div>
					      <div style="text-align:center;"><%= link_to "Details", venue_path(venue), class: "btn btn-primary" %></div>
					    </div>
					</div>

				<% end %>
			</div>
		</div>
	</div>


<% else %>

	<p style="color:orangered;">There are no venues created for events yet.</p>

<% end %>


</div>