<div class="container" style="padding-bottom: 150px;">

<% if @current_user && @current_user.admin? %>
<div class="row" style="margin-bottom:5px;">
	<div class="col-md-12">
		<div class="add_currency_btn">
			<%= link_to "Edit Venue", edit_venue_path(@venue), class: "btn btn-primary" %>
		</div>
	</div>
</div>

<% end %>

<%= render 'layouts/events-nav' %>
	

<div class="well venue-info-well">
	<div class="row">
		<% if @venue.image_link != nil && @venue.image_link != "" %>
			<div class="col-md-7">
				<h2><%= @venue.name %></h2>
				<p><%= @venue.description %></p>
				<% if @venue.street != "" && @venue.city != "" %>
					<h5>Address</h5>
					<p><%= @venue.street %><br /><%= @venue.city %>, <%= @venue.state %> <%= @venue.zipcode %></p>
				<% end %>
				<p><%= link_to "#{@venue.url}", "#{@venue.url}", target: "_blank" %></p>
			</div>
			<div class="col-md-5"><img src="<%= @venue.image_link %>" alt="<%= @venue.name %>" /></div>
		<% else %>
			<div class="col-md-12">
				<h2><%= @venue.name %></h2>
				<p><%= @venue.description %></p>
				<% if @venue.street != "" && @venue.city != "" %>
					<h5>Address</h5>
					<p><%= @venue.street %><br /><%= @venue.city %>, <%= @venue.state %> <%= @venue.zipcode %></p>
				<% end %>
				<p><%= link_to "#{@venue.url}", "#{@venue.url}", target: "_blank" %></p>
			</div>
		<% end %>
	</div>
</div>

<%= link_to "« Back", :back %> 








</div>