<%= render 'adminnav' %>
<div class="container" style="padding-bottom:100px;">
	
	<div class="row">
		<div class="col-md-9">
			<h1 class="title-get-smaller">Partner Companies <span style="font-size:.35em; font-style:italic; font-weight:normal;">(<%= pluralize(@companies.count, "total company") %>)</span></h1>
		</div>
		<div class="col-md-3" style="padding-top: 14px;">
			<%= link_to "Add Company", new_company_path, class: "btn btn-sm btn-primary float-right" %>
		</div>
	</div>


	<hr />

	<%= render 'search' %>

	<%= render 'company' %>


	<div class="paginate" style="margin-top:45px;">
		<%= will_paginate(@companies, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
	</div>


</div>