<%= render 'adminnav' %>
<div class="container page-container">

<div class="row">
	<div class="col-md-9">
		<h1 class="title-get-smaller">Company Results <span class="spanPoint4Italic">(searched <%= @parameter %>) (<%= pluralize(@companies.count, "results") %>)</span></h1>
	</div>
	<div class="col-md-3">
		<%= link_to "Add Company", new_company_path, class: "btn btn-sm btn-primary float-right marginTop14" %>
	</div>
</div>


<hr /> 

<%= render "search" %>

<%= render "company" %>

<div class="paginate" class="margin-top-50">
	<%= will_paginate(@companies, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
</div>


</div>