<div class="container" style="padding-bottom:100px;">

<h1>Certification Resources</h1>
<hr />

<div class="row">
	<div class="col">
		<p>Thank you so much for being a Certified ThinManager Systems Integrator.  We have made this re-certification process easier and quicker.  Simply review the information on this page and when ready, click "Start Quiz" to take a re-certification quiz to get recertified.</p>
		<br />
	</div>

</div>

<div class="row">

	<div class="col-lg-8 video-intro">
		
		<!-- <video width="100%" controls>
		  <source src="assets/videos/recertIntro.mp4" type="video/mp4">
		  Your browser does not support the video tag.
		</video> -->
		<%= video_tag "recertIntro.mp4", width: "100%", controls: true, controlsList: "nodownload" %>
		<h3 align="center">Section Resources</h3>
		<div class="well well-rnd cert-resources">
			<div class="resource"><%= link_to image_tag('icon_pdf_large.png'), "#" %><p>New Features</p></div>
			<div class="resource"><%= link_to image_tag('icon_pdf_large.png'), "#" %><p>General</p></div>
			<div class="resource"><%= link_to image_tag('icon_pdf_large.png'), "#" %><p>Licensing</p></div>
			<div class="resource"><%= link_to image_tag('icon_pdf_large.png'), "#" %><p>Security</p></div>
			<div class="resource"><%= link_to image_tag('icon_pdf_large.png'), "#" %><p>Support</p></div>
		</div>
	</div>
	
	<div class="col-lg-4">

		<div class="well well-rnd">
			<div class="row">
				<div class="col-md-7">
					<p>If you feel you have reviewed the material and are ready to get started on your re-certification, simply click "Start Quiz".</p>
				</div>
				<div class="col-md-5" style="text-align: right;">
					<%= link_to "Start Quiz", new_certification_path, class: "btn btn-primary" %>
				</div>
			</div>
		</div>

		<div class="well well-rnd">
			<h4 align="center" style="margin-bottom: 20px;">More Resources</h4>
			<ul class="list-group list-group-flush cert-resource-list">
	  			<li class="list-group-item"><%= link_to "ThinManager User Guide", "#", target: "_blank" %></li>
	  			<li class="list-group-item"><%= link_to "ThinManual", "#", target: "_blank" %></li>
	  			<li class="list-group-item"><%= link_to "Product Profile", "#", target: "_blank" %></li>
	  		</ul>
		</div>
		
	</div>

</div>


<div class="row" style="margin-top: 35px;">

	<div class="col-lg-8" style="margin-bottom: 20px;">
		<p>As a certified ThinManager SI we are assuming that you know the basics of setting up a ThinManager architecture, you have used the software and went through the full initial certification process of submitting labs for grading and/or attended training through a means that resulted in certification.</p>
		<p>If you find that you can not pass our re-certification quiz, or prefer to redo the certification labs, please visit our <%= link_to "SI Certification", "https://thinmanager.com/si", target: "_blank" %> page.</p>
	</div>

	<div class="col-lg-4">
		
		

	</div>

</div>


<br /><br />















</div>