<div class="container" style="padding-bottom: 120px;">

<h1>Certification Quiz</h1>
<hr />
<p style="font-size: .85em;">In order to renew your certification with ThinManager you must score 80% or higher on this quiz. You can retake the quiz if need to, but please take your time and be sure to answer all the questions.</p>
<p style="font-size: .85em;">If you have questions for problems, please <%= link_to "contact us", "mailto:certification@thinmanager.com" %>.</p>
<br /><br />

<div class="row">
<div class="col-lg-8">


	<%= form_for(@certification, :html => {class: "form-horizontal", role: "form"}) do |f| %>
	  
	 <div class="card quiz-card">
	  


	  		<div class="question-one">
		  		<div class="form-group">
		                
		                 <div class="row">
		                 	<div class="form-group">
								
								<div class="col-md-12" style="margin-bottom: 40px;">
			                 		<h4>Question 1</h4>
			                 	</div>
			                 	
			                 	<div class="col-md-12">
			                 		<%= f.label @q1 %>
			                 	</div>
							 
			                 	<div class="col-md-12">
				                	<div class="form-check">
					                    <%= radio_button_tag(:answer1, "Red", class: "form-control form-check-input") %>
										<%= f.label "Red", class: "form-check-label" %>
									</div>
								</div>

								<div class="col-md-12">
								 	<div class="form-check">
										<%= radio_button_tag(:answer1, "Yellow", class: "form-control form-check-input") %>
										<%= f.label "Yellow", class: "form-check-label"  %>
									</div>
								</div>

								<div class="col-md-12">
								 	<div class="form-check">
										<%= radio_button_tag(:answer1, "Orange", class: "form-control form-check-input") %>
										<%= f.label "Orange", class: "form-check-label"  %>
									</div>
								</div>

								<div class="col-md-12">
								 	<div class="form-check">
										<%= radio_button_tag(:answer1, "Purple", class: "form-control form-check-input") %>
										<%= f.label "Purple", class: "form-check-label"  %>
									</div>
								</div>

								<div class="col-md-12" style="display:none;">
								 	<div class="form-check">
										<%= radio_button_tag(:answer1, "unanswered", class: "form-control form-check-input") %>
									</div>
								</div>
							</div>
		                </div>
		                <br /><br />
		                <div class="card-footer" align="right" style="background-color: inherit; color:#999999;">Topic: Licensing</div>
				</div>
			</div>
	  





	
	  		<div class="question-two" style="display:none;">
		  		<div class="form-group">
		                
		                 <div class="row">
		                 	<div class="form-group">
								<div class="col-md-12" style="margin-bottom: 40px;">
			                 		<h4>Question 2</h4>
			                 	</div>
		                 		<div class="col-md-12">
			                 		<%= f.label @q2 %>
							 	</div>
							 
			                 	<div class="col-md-12">
				                	<div class="form-check">
					                    <%= radio_button_tag(:answer2, "Red", class: "form-control form-check-input") %>
										<%= f.label "Red", class: "form-check-label" %>
									</div>
								</div>

								<div class="col-md-12">
								 	<div class="form-check">
										<%= radio_button_tag(:answer2, "Yellow", class: "form-control form-check-input") %>
										<%= f.label "Yellow", class: "form-check-label"  %>
									</div>
								</div>

								<div class="col-md-12">
								 	<div class="form-check">
										<%= radio_button_tag(:answer2, "Orange", class: "form-control form-check-input") %>
										<%= f.label "Orange", class: "form-check-label"  %>
									</div>
								</div>

								<div class="col-md-12">
								 	<div class="form-check">
										<%= radio_button_tag(:answer2, "Purple", class: "form-control form-check-input") %>
										<%= f.label "Purple", class: "form-check-label"  %>
									</div>
								</div>

								<div class="col-md-12" style="display:none;">
								 	<div class="form-check">
										<%= radio_button_tag(:answer2, "unanswered", class: "form-control form-check-input") %>
									</div>
								</div>
							</div>
		                </div>
		                 <br /><br />
		                <div class="card-footer" align="right" style="background-color: inherit; color:#999999;">Topic: Relevance</div>
		        </div>
			</div>
	     
	  		



	
	  		<div class="question-three" style="display:none;">
		  		<div class="form-group">
		                
		                 <div class="row">
		                 	<div class="form-group">
								<div class="col-md-12" style="margin-bottom: 40px;">
			                 		<h4>Question 3</h4>
			                 	</div>
		                 		<div class="col-md-12">
			                 		<%= f.label @q3 %>
							 	</div>
							 
			                 	<div class="col-md-12">
				                	<div class="form-check">
					                    <%= radio_button_tag(:answer3, "Red", class: "form-control form-check-input") %>
										<%= f.label "Red", class: "form-check-label" %>
									</div>
								</div>

								<div class="col-md-12">
								 	<div class="form-check">
										<%= radio_button_tag(:answer3, "Yellow", class: "form-control form-check-input") %>
										<%= f.label "Yellow", class: "form-check-label"  %>
									</div>
								</div>

								<div class="col-md-12">
								 	<div class="form-check">
										<%= radio_button_tag(:answer3, "Orange", class: "form-control form-check-input") %>
										<%= f.label "Orange", class: "form-check-label"  %>
									</div>
								</div>

								<div class="col-md-12">
								 	<div class="form-check">
										<%= radio_button_tag(:answer3, "Purple", class: "form-control form-check-input") %>
										<%= f.label "Purple", class: "form-check-label"  %>
									</div>
								</div>

								<div class="col-md-12" style="display:none;">
								 	<div class="form-check">
										<%= radio_button_tag(:answer3, "unanswered", class: "form-control form-check-input") %>
									</div>
								</div>
							</div>
		                </div>
		                 <br /><br />
		                <div class="card-footer" align="right" style="background-color: inherit; color:#999999;">Topic: New Features</div>
		        </div>
			</div>
	




	
	  		<div class="question-four" style="display:none;">
		  		<div class="form-group">
		                
		                 <div class="row">
		                 	<div class="form-group">
								<div class="col-md-12" style="margin-bottom: 40px;">
			                 		<h4>Question 4</h4>
			                 	</div>
		                 		<div class="col-md-12">
			                 		<%= f.label @q4 %>
							 	</div>
							 
			                 	<div class="col-md-12">
				                	<div class="form-check">
					                    <%= radio_button_tag(:answer4, "Red", class: "form-control form-check-input") %>
										<%= f.label "Red", class: "form-check-label" %>
									</div>
								</div>

								<div class="col-md-12">
								 	<div class="form-check">
										<%= radio_button_tag(:answer4, "Yellow", class: "form-control form-check-input") %>
										<%= f.label "Yellow", class: "form-check-label"  %>
									</div>
								</div>

								<div class="col-md-12">
								 	<div class="form-check">
										<%= radio_button_tag(:answer4, "Orange", class: "form-control form-check-input") %>
										<%= f.label "Orange", class: "form-check-label"  %>
									</div>
								</div>

								<div class="col-md-12">
								 	<div class="form-check">
										<%= radio_button_tag(:answer4, "Purple", class: "form-control form-check-input") %>
										<%= f.label "Purple", class: "form-check-label"  %>
									</div>
								</div>

								<div class="col-md-12" style="display:none;">
								 	<div class="form-check">
										<%= radio_button_tag(:answer4, "unanswered", class: "form-control form-check-input") %>
									</div>
								</div>
							</div>
		                </div>
		                 <br /><br />
		                <div class="card-footer" align="right" style="background-color: inherit; color:#999999;">Topic: Licensing</div>
		        </div>
			</div>
	

			<div class="question-five" style="display:none;">
		  		<div class="form-group">
		                
		                 <div class="row">
		                 	<div class="form-group">
								<div class="col-md-12" style="margin-bottom: 40px;">
			                 		<h4>Question 5</h4>
			                 	</div>
		                 		<div class="col-md-12">
			                 		<%= f.label @q5 %>
							 	</div>
							 
			                 	<div class="col-md-12">
				                	<div class="form-check">
					                    <%= radio_button_tag(:answer5, "Red", class: "form-control form-check-input") %>
										<%= f.label "Red", class: "form-check-label" %>
									</div>
								</div>

								<div class="col-md-12">
								 	<div class="form-check">
										<%= radio_button_tag(:answer5, "Yellow", class: "form-control form-check-input") %>
										<%= f.label "Yellow", class: "form-check-label"  %>
									</div>
								</div>

								<div class="col-md-12">
								 	<div class="form-check">
										<%= radio_button_tag(:answer5, "Orange", class: "form-control form-check-input") %>
										<%= f.label "Orange", class: "form-check-label"  %>
									</div>
								</div>

								<div class="col-md-12">
								 	<div class="form-check">
										<%= radio_button_tag(:answer5, "Purple", class: "form-control form-check-input") %>
										<%= f.label "Purple", class: "form-check-label"  %>
									</div>
								</div>

								<div class="col-md-12" style="display:none;">
								 	<div class="form-check">
										<%= radio_button_tag(:answer5, "unanswered", class: "form-control form-check-input") %>
									</div>
								</div>
							</div>
		                </div>
		                 <br /><br />
		                <div class="card-footer" align="right" style="background-color: inherit; color:#999999;">Topic: Licensing</div>
		        </div>
			</div>


			<div class="question-six" style="display:none;">
		  		<div class="form-group">
		                
		                 <div class="row">
		                 	<div class="form-group">
								<div class="col-md-12" style="margin-bottom: 40px;">
			                 		<h4>Question 6</h4>
			                 	</div>
		                 		<div class="col-md-12">
			                 		<%= f.label @q6 %>
							 	</div>
							 
			                 	<div class="col-md-12">
				                	<div class="form-check">
					                    <%= radio_button_tag(:answer6, "Red", class: "form-control form-check-input") %>
										<%= f.label "Red", class: "form-check-label" %>
									</div>
								</div>

								<div class="col-md-12">
								 	<div class="form-check">
										<%= radio_button_tag(:answer6, "Yellow", class: "form-control form-check-input") %>
										<%= f.label "Yellow", class: "form-check-label"  %>
									</div>
								</div>

								<div class="col-md-12">
								 	<div class="form-check">
										<%= radio_button_tag(:answer6, "Orange", class: "form-control form-check-input") %>
										<%= f.label "Orange", class: "form-check-label"  %>
									</div>
								</div>

								<div class="col-md-12">
								 	<div class="form-check">
										<%= radio_button_tag(:answer6, "Purple", class: "form-control form-check-input") %>
										<%= f.label "Purple", class: "form-check-label"  %>
									</div>
								</div>

								<div class="col-md-12" style="display:none;">
								 	<div class="form-check">
										<%= radio_button_tag(:answer6, "unanswered", class: "form-control form-check-input") %>
									</div>
								</div>
							</div>
		                </div>
		                 <br /><br />
		                <div class="card-footer" align="right" style="background-color: inherit; color:#999999;">Topic: Licensing</div>
		        </div>
			</div>



			<div class="question-seven" style="display:none;">
		  		<div class="form-group">
		                
		                 <div class="row">
		                 	<div class="form-group">
								<div class="col-md-12" style="margin-bottom: 40px;">
			                 		<h4>Question 7</h4>
			                 	</div>
		                 		<div class="col-md-12">
			                 		<%= f.label @q7 %>
							 	</div>
							 
			                 	<div class="col-md-12">
				                	<div class="form-check">
					                    <%= radio_button_tag(:answer7, "Red", class: "form-control form-check-input") %>
										<%= f.label "Red", class: "form-check-label" %>
									</div>
								</div>

								<div class="col-md-12">
								 	<div class="form-check">
										<%= radio_button_tag(:answer7, "Yellow", class: "form-control form-check-input") %>
										<%= f.label "Yellow", class: "form-check-label"  %>
									</div>
								</div>

								<div class="col-md-12">
								 	<div class="form-check">
										<%= radio_button_tag(:answer7, "Orange", class: "form-control form-check-input") %>
										<%= f.label "Orange", class: "form-check-label"  %>
									</div>
								</div>

								<div class="col-md-12">
								 	<div class="form-check">
										<%= radio_button_tag(:answer7, "Purple", class: "form-control form-check-input") %>
										<%= f.label "Purple", class: "form-check-label"  %>
									</div>
								</div>

								<div class="col-md-12" style="display:none;">
								 	<div class="form-check">
										<%= radio_button_tag(:answer7, "unanswered", class: "form-control form-check-input") %>
									</div>
								</div>
							</div>
		                </div>
		                 <br /><br />
		                <div class="card-footer" align="right" style="background-color: inherit; color:#999999;">Topic: Licensing</div>
		        </div>
			</div>



			<div class="question-eight" style="display:none;">
		  		<div class="form-group">
		                
		                 <div class="row">
		                 	<div class="form-group">
								<div class="col-md-12" style="margin-bottom: 40px;">
			                 		<h4>Question 8</h4>
			                 	</div>
		                 		<div class="col-md-12">
			                 		<%= f.label @q8 %>
							 	</div>
							 
			                 	<div class="col-md-12">
				                	<div class="form-check">
					                    <%= radio_button_tag(:answer8, "Red", class: "form-control form-check-input") %>
										<%= f.label "Red", class: "form-check-label" %>
									</div>
								</div>

								<div class="col-md-12">
								 	<div class="form-check">
										<%= radio_button_tag(:answer8, "Yellow", class: "form-control form-check-input") %>
										<%= f.label "Yellow", class: "form-check-label"  %>
									</div>
								</div>

								<div class="col-md-12">
								 	<div class="form-check">
										<%= radio_button_tag(:answer8, "Orange", class: "form-control form-check-input") %>
										<%= f.label "Orange", class: "form-check-label"  %>
									</div>
								</div>

								<div class="col-md-12">
								 	<div class="form-check">
										<%= radio_button_tag(:answer8, "Purple", class: "form-control form-check-input") %>
										<%= f.label "Purple", class: "form-check-label"  %>
									</div>
								</div>

								<div class="col-md-12" style="display:none;">
								 	<div class="form-check">
										<%= radio_button_tag(:answer8, "unanswered", class: "form-control form-check-input") %>
									</div>
								</div>
							</div>
		                </div>
		                 <br /><br />
		                <div class="card-footer" align="right" style="background-color: inherit; color:#999999;">Topic: Licensing</div>
		        </div>
			</div>




			<div class="question-nine" style="display:none;">
		  		<div class="form-group">
		                
		                 <div class="row">
		                 	<div class="form-group">
								<div class="col-md-12" style="margin-bottom: 40px;">
			                 		<h4>Question 9</h4>
			                 	</div>
		                 		<div class="col-md-12">
			                 		<%= f.label @q9 %>
							 	</div>
							 
			                 	<div class="col-md-12">
				                	<div class="form-check">
					                    <%= radio_button_tag(:answer9, "Red", class: "form-control form-check-input") %>
										<%= f.label "Red", class: "form-check-label" %>
									</div>
								</div>

								<div class="col-md-12">
								 	<div class="form-check">
										<%= radio_button_tag(:answer9, "Yellow", class: "form-control form-check-input") %>
										<%= f.label "Yellow", class: "form-check-label"  %>
									</div>
								</div>

								<div class="col-md-12">
								 	<div class="form-check">
										<%= radio_button_tag(:answer9, "Orange", class: "form-control form-check-input") %>
										<%= f.label "Orange", class: "form-check-label"  %>
									</div>
								</div>

								<div class="col-md-12">
								 	<div class="form-check">
										<%= radio_button_tag(:answer9, "Purple", class: "form-control form-check-input") %>
										<%= f.label "Purple", class: "form-check-label"  %>
									</div>
								</div>

								<div class="col-md-12" style="display:none;">
								 	<div class="form-check">
										<%= radio_button_tag(:answer9, "unanswered", class: "form-control form-check-input") %>
									</div>
								</div>
							</div>
		                </div>
		                 <br /><br />
		                <div class="card-footer" align="right" style="background-color: inherit; color:#999999;">Topic: Licensing</div>
		        </div>
			</div>




			<div class="question-ten" style="display:none;">
		  		<div class="form-group">
		                
		                 <div class="row">
		                 	<div class="form-group">
								<div class="col-md-12" style="margin-bottom: 40px;">
			                 		<h4>Question 10</h4>
			                 	</div>
		                 		<div class="col-md-12">
			                 		<%= f.label @q10 %>
							 	</div>
							 
			                 	<div class="col-md-12">
				                	<div class="form-check">
					                    <%= radio_button_tag(:answer10, "Red", class: "form-control form-check-input") %>
										<%= f.label "Red", class: "form-check-label" %>
									</div>
								</div>

								<div class="col-md-12">
								 	<div class="form-check">
										<%= radio_button_tag(:answer10, "Yellow", class: "form-control form-check-input") %>
										<%= f.label "Yellow", class: "form-check-label"  %>
									</div>
								</div>

								<div class="col-md-12">
								 	<div class="form-check">
										<%= radio_button_tag(:answer10, "Orange", class: "form-control form-check-input") %>
										<%= f.label "Orange", class: "form-check-label"  %>
									</div>
								</div>

								<div class="col-md-12">
								 	<div class="form-check">
										<%= radio_button_tag(:answer10, "Purple", class: "form-control form-check-input") %>
										<%= f.label "Purple", class: "form-check-label"  %>
									</div>
								</div>

								<div class="col-md-12" style="display:none;">
								 	<div class="form-check">
										<%= radio_button_tag(:answer10, "unanswered", class: "form-control form-check-input") %>
									</div>
								</div>
							</div>
		                </div>
		                 <br /><br />
		                <div class="card-footer" align="right" style="background-color: inherit; color:#999999;">Topic: Licensing</div>
		        </div>
			</div>



	</div>


	


	


	<div class="row quiz-nav">
		
		<div class="col-3">
			<div id="previous-q" class="btn btn-secondary disappear">&larr; Previous</div>
		</div>
		<div class="col-6">

		</div>
		<div class="col-3" style="text-align: right;">
			<div id="next-q" class="btn btn-secondary">Next &rarr;</div>
			<%= submit_tag("Submit Quiz", method: :create, data: {confirm: "You are about to submit the quiz for grading. Are you sure you have answered all the questions and wish to proceed?"}, class: "btn btn-primary quiz-submit-btn disappear") %>
		</div>
		
	</div>

<% end %>	



<div class="card further-info-card">
	<h5>You Should Know</h5>
	<p>We do not save your progress on this quiz. If you leave the quiz you will need to start over. You can skip ahead and back in the questions and retain your answers as long as you stay on the page.</p>
	<p>The Quick Help resources on this page will open in a seperate window so please use them as you might need for assistance.</p>
</div>

</div>




<div class="col-lg-4 quiz-resources" style="border-radius:20px; background-color: #f1f1f1; padding: 25px;">
	
	<h4 align="center">Quick Help</h4>
	<ul class="resource-list">
		<h6>Licensing</h6>
		<li><%= link_to "Licensing and ThinManager", "#" %></li>
		<li><%= link_to "License Types and Activation", "#" %></li>
		<h6>Relevance</h6>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div> 





</div>

<script>
(function(){
  
  "use strict";

  //$('#previous-q, .quiz-submit-btn').css('display', 'none');
  //$('#previous-q, .quiz-submit-btn').addClass('disappear');
  
  var qPage = 1

  function checkPage(qPage) {  		
		
		if (qPage == 1) {
			$('.question-one').fadeIn(1000);
			$('.question-two, .question-three, .question-four, .question-five, .question-six, .question-seven, .question-eight, .question-nine, .question-ten').css('display', 'none');
			$('#previous-q, .quiz-submit-btn').addClass('disappear');
			$('#next-q').removeClass('disappear');
		}
		if (qPage == 2) {
			$('#previous-q, #next-q').removeClass('disappear');
			$('.quiz-submit-btn').addClass('disappear');
			$('.question-two').fadeIn(1000);
			$('.question-one, .question-three, .question-four, .question-five, .question-six, .question-seven, .question-eight, .question-nine, .question-ten').css('display', 'none');
		}
		if (qPage == 3) {
			$('#previous-q, #next-q').removeClass('disappear');
			$('.quiz-submit-btn').addClass('disappear');
			$('.question-three').fadeIn(1000);
			$('.question-one, .question-two, .question-four, .question-five, .question-six, .question-seven, .question-eight, .question-nine, .question-ten').css('display', 'none');
		}
		if (qPage == 4) {
			$('#previous-q, #next-q').removeClass('disappear');
			$('.quiz-submit-btn').addClass('disappear');
			$('.question-four').fadeIn(1000);
			$('.question-one, .question-two, .question-three, .question-five, .question-six, .question-seven, .question-eight, .question-nine, .question-ten').css('display', 'none');
		}
		if (qPage == 5) {
			$('#previous-q, #next-q').removeClass('disappear');
			$('.quiz-submit-btn').addClass('disappear');
			$('.question-five').fadeIn(1000);
			$('.question-one, .question-two, .question-three, .question-four, .question-six, .question-seven, .question-eight, .question-nine, .question-ten').css('display', 'none');
		}
		if (qPage == 6) {
			$('#previous-q, #next-q').removeClass('disappear');
			$('.quiz-submit-btn').addClass('disappear');
			$('.question-six').fadeIn(1000);
			$('.question-one, .question-two, .question-three, .question-four, .question-five, .question-seven, .question-eight, .question-nine, .question-ten').css('display', 'none');
		}
		if (qPage == 7) {
			$('#previous-q, #next-q').removeClass('disappear');
			$('.quiz-submit-btn').addClass('disappear');
			$('.question-seven').fadeIn(1000);
			$('.question-one, .question-two, .question-three, .question-four, .question-five, .question-six, .question-eight, .question-nine, .question-ten').css('display', 'none');
		}
		if (qPage == 8) {
			$('#previous-q, #next-q').removeClass('disappear');
			$('.quiz-submit-btn').addClass('disappear');
			$('.question-eight').fadeIn(1000);
			$('.question-one, .question-two, .question-three, .question-four, .question-five, .question-six, .question-seven, .question-nine, .question-ten').css('display', 'none');
		}
		if (qPage == 9) {
			$('#previous-q, #next-q').removeClass('disappear');
			$('.quiz-submit-btn').addClass('disappear');
			$('.question-nine').fadeIn(1000);
			$('.question-one, .question-two, .question-three, .question-four, .question-five, .question-six, .question-seven, .question-eight, .question-ten').css('display', 'none');
		}

		// last one
		if (qPage == 10) {
			$('#previous-q, .quiz-submit-btn').removeClass('disappear');
			$('.question-ten').fadeIn(1000);
			$('.question-one, .question-two, .question-three, .question-five, .question-six, .question-seven, .question-eight, .question-nine').css('display', 'none');
			$('#next-q').addClass('disappear');
		}
	
	};

	$('#previous-q').on('click', function() {
		qPage -= 1;
		checkPage(qPage);
	});

	$('#next-q').on('click', function() {
		qPage += 1;
		checkPage(qPage);
	});


})();
</script>
</div>