<%= render 'shared/errors', obj: @survey_question %>
<div class="row">
    <div class="col-sm-8 offset-sm-2">


    <h3><%= @survey.title %></h3> 
    <br />
    <%= form_for(@survey_question, :html => {class: "form-horizontal q-form", role: "form"}) do |f| %>

            <div class="form-group">
                <div class="col-md-12">
                    <%= f.label "Question" %>
                    <%= f.text_field :question, class: "form-control", placeholder: "Enter Survey Question", autofocus: true %>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4">
                            <%= f.label "Answer Type" %>
                            <%= f.select :answer_type, options_for_select([
                                      ["Radio Select"],
                                      ["Dropdown Select One"],
                                      ["Dropdown Select Multiple"],
                                      ["Choose All That Apply"],
                                      ["Fill In Answer"],
                                ], @survey_question.answer_type), {:default => 'Radio Select'}, class: "form-control answer_type" %>
                        </div>
                        <div class="col-md-3">
                            <%= f.label "Answers Allowed" %>
                                <%= f.select :possible_answers, options_for_select([
                                      ["1", 1], 
                                      ["2", 2],
                                      ["3", 3],
                                      ["4", 4],
                                      ["5", 5],
                                      ["6", 6],
                                      ["7", 7],
                                      ["8", 8],
                                      ["9", 9],
                                ], @survey_question.possible_answers), {:default => '1'}, class: "form-control possible_answers", disabled: "true" %>
                        </div>
                        <div class="col-md-5">
                            <%= f.label "Image" %>
                            <%= f.text_field :image_url, class: "form-control", placeholder: "Enter URL to accompanying image" %>
                        </div>
                    </div> 
                </div> 
            </div>
        
         <br />

            <div class="form-group">
                <div class="col-sm-12">
                    <%= f.button "Submit", name: :survey_id, value: @survey.id, class: "btn btn-primary btn-sm" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "Cancel", :back, style: "padding-top:12px;" %>
                </div>
            </div>
    <% end %>
    </div>
</div>


<script type="text/javascript">
  
    $(function () {
        $(".answer_type").change(function () {
            var answer_type = $(this).val();
            if (answer_type != "Multiple Choice") {
              $(".possible_answers").prop('disabled', true);
            } else {
              $(".possible_answers").prop('disabled', false);
            }
        });
    });
</script>

