<div class="container" style="padding-bottom: 150px;">

<div class="row">
	<div class="col-md-9">
		<h1>Event Category Sub-Groups</h1>
	</div>
	<div class="col-md-3">
		<% if current_user.admin? || current_user.evt_admin? %>
			<div class="add_currency_btn"><%= link_to "Add Tag", new_tag_path, class: "btn btn-primary" %></div>
		<% end %>
	</div>
</div>
<hr />

<% if @tags.any? %>
<div class="row">
	<% @tags.each do |tag| %>

		<div class="col-lg-6">
			<div class="well category-well">
				<h3 style="margin-bottom:0px;"><%= link_to "#{tag.name}", tag_path(tag), style: "color:inherit;" %></h3>
				<p style="margin-bottom:10px;"><small><%= pluralize(tag.events.count, "linked event") %></small></p>
				<p><%= link_to "Edit", edit_tag_path(tag) %>  
					<!--
						&nbsp;&nbsp;|&nbsp;&nbsp;
					<%= link_to "Delete", tag_path(tag), method: :delete, data: {confirm: "Are you sure you want to delete this tag/keyword?"}, style: "color:red;" %> -->
				</p>
			<hr />
			<small><span style="font-weight:bold;">Event Type:</span> <%= tag.evtcategory.name %></small>
			</div>
		</div>

	<% end %>
</div>
<% else %>

	<p style="color:orangered;">There are no tags created yet.</p>

<% end %>


</div>