<div class="full-top-banner">
	<% if @tag.image_link != nil && @tag.image_link != '' %>
		<img src="<%= @tag.image_link %>" alt="<%= @tag.name %>" />
	<% end %>
</div>
<div class="container" style="padding-bottom: 150px;">

<div class="row">
		<div class="col-md-9">
			<h1><%= @tag.name %> Events</h1>
		</div>
		<div class="col-md-3">
			<div class="add_currency_btn">
				<% if (current_user && current_user.admin?) || (current_user && current_user.evt_admin?) %>
					<%= link_to "Edit Sub-Type", edit_tag_path(@tag), class: "btn btn-primary" %>
				<% end %>	
			</div>
		</div>
	</div>
<hr />

<% if @events.any? %>

	<% @events.where(:live => true).each do |e| %>

		<%= render 'events/full-card', event: e %>

	<% end %>


<% else %>

<p style="color:darkorange;">There are no events currently for for this group. Please check back</p>

<% end %>


</div>