<%= render 'shared/errors', obj: @survey %>
<div class="row">
    <div class="col-sm-8 offset-sm-2">
    <%= form_for(@survey, :html => {class: "form-horizontal", role: "form"}) do |f| %>

            <div class="form-group">
                <div class="col-sm-12">
                    <%= f.label "Survey Title" %>
                </div>
                <div class="col-sm-12">
                    <%= f.text_field :title, class: "form-control", placeholder: "Enter Survey Title", autofocus: true %>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="control-label "><%= f.label "Description" %></div>
                    <%= f.text_area :description, class: "form-control", rows: "8", placeholder: "Enter Survey Description and Purpose", tabindex: "20" %>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="control-label "><%= f.label "Image URL (Optional)" %></div>
                    <%= f.text_field :image_url, class: "form-control", placeholder: "Enter URL for Survey Image" %>
                </div>
            </div>
        <br />
            
        <div class="form-group">
            <div class="col-md-12">
                <div>
                    <%= f.label "Randomize Questions? (default false)" %>&nbsp;&nbsp;&nbsp;<%= f.check_box :randomize %>
                </div>
                <div>
                    <%= f.label "Require User? (default true)" %>&nbsp;&nbsp;&nbsp;<%= f.check_box :required_user %>
                </div>
                <div>
                    <%= f.label "Survey Live?" %>&nbsp;&nbsp;&nbsp;<%= f.check_box :live %>
                </div>
            </div>
        </div>    
            
        <br />
            <div class="form-group">
                <div class="col-sm-12">
                    <%= f.submit(@survey.new_record? ? "Create Survey" : "Update Survey", class: "btn btn-primary btn-lg") %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "Cancel", :back, style: "padding-top:12px;" %>
                </div>
            </div>
    <% end %>
    </div>
</div>
