<div id="filterrific_results" style="margin-top: -85px !important;">

	<% if @surveys.any? %>

			<p align="center"><%= pluralize(@surveys.count, "found survey") %> 
				<!--&nbsp;<span style="font-size:.75em;"><a href="/surveys.csv">(export CSV)</a></span>-->
			</p>
			
			<% @surveys.each do |survey| %>

		<div class="card" style="margin-bottom:5px;">
            <div class="card-header">
				<div class="row">
					
					<div class="col-9">
						<%= link_to "#{survey.title}", survey_path(survey) %>
					</div>
					
					<div class="col-3 text-right">
						<%= link_to "Edit", edit_survey_path(survey), style: "color:green; font-size:.8em;" %> 
						&nbsp;|&nbsp;  
						<%= link_to "Delete", survey_path(survey), method: :delete, data: {confirm: "Are you sure you want to delete this survey? This can not be undone!"}, style: "color:red; font-size:.8em;" %>
					</div>
				</div>	
			</div>
			<div class="card-body" style="font-size: .8em;">
				<% @results = SurveyResult.where(survey_id: survey.id).select(:user_id).distinct %>
				<div class="row">
					<div class="col-3">
						Number of Submissions: <%= @results.count %>
					</div>
					<div class="col-3">Date Created: <%= survey.created_at.strftime("%m/%d/%Y") %></div>
					<div class="col-3">Exp Date: <% if survey.exp_date %><%= survey.exp_date.strftime("%m/%d/%Y") %><% else %>not&nbsp;set<% end %></div>
					<div class="col-3 text-right"><%= link_to "See Results »", "", style: "color:purple;" %></div>
				</div>
			</div>
		</div>

		<% end %>

		<% if @surveys.count > 10 %>
	      <div class="paginate" style="margin-top:20px;">
	        <%= will_paginate(@surveys, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
	      </div>
	    <% end %>


	<% else %>


		<p align="center" style="color:darkorange; margin-top:45px;">There are no surveys or results to your query</p>


	<% end %>

</div>