<%= render 'layouts/hardware-nav' %>
<div style="width: 98%; margin: auto;padding-bottom:100px;">

<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h3 style="margin-bottom:0px;">Thin Client Finder</h3>
			</div>
		</div>
	</div>
	<hr style="margin-bottom:12px;" />
	<div class="container">
		<p><small>Welcome to the ThinManager Hardware Finder. Use the search and filter fields below to find the results custom to exactly what you are looking for as it pertains to known ThinManager compatible hardware. Be aware that this is a "narrow-down" filtering result system.</small></p>
	</div>


<% if @terminals.any? %>

<div class="hardware-container" style="padding-bottom:70px; margin-top: 25px;">
		
		
			<%= form_for_filterrific(@filterrific, :html => {class: "form-horizontal", role: "form"}) do |f| %>
				
				<div class="container">			  
					<div class="form-group">
						
						<div class="row">
					  	
							  <div class="col-sm-4">
							    <div class="form-label">Search</div>
							    <%= f.text_field(:with_search_please, autofocus: true, class: 'filterrific-periodically-observed form-control') %>
							  </div>
							  <div class="col-sm-4">
							  	<div class="form-label">Manufacturer</div>
							    <%= f.select(
									:with_manufacturer,
									@filterrific.select_options[:with_manufacturer],
									{ include_blank: '- Any -' }, class: "form-control"
								) %> 
								</div>
							  <div class="col-sm-4">
							    <div class="form-label">Boot Type</div>
							    <%= f.select(
							      :with_boot_type,
							      @filterrific.select_options[:with_boot_type],
							      { include_blank: '- Any -' }, class: "form-control"
							    ) %>
							  </div>
						</div>

						<div class="row">
							<div class="col-sm-4">
							    <div class="form-label">Firmware Compatibility</div>
							    <%= f.select(
							      :with_firm,
							      @filterrific.select_options[:with_firm],
							      { include_blank: '- Any -' }, class: "form-control"
							    ) %>
							  </div>
							  <div class="col-sm-4">
							    <div class="form-label">Monitor Display Ports</div>
							    <%= f.select(
							      :with_monitor_count,
							      @filterrific.select_options[:with_monitor_count],
							      { include_blank: '- Any -' }, class: "form-control"
							    ) %>
							  </div>
							  <div class="col-sm-4">
							    <div class="form-label">Ethernet Ports</div>
							    <%= f.select(
							      :with_ethernet_count,
							      @filterrific.select_options[:with_ethernet_count],
							      { include_blank: '- Any -' }, class: "form-control"
							    ) %>
							  </div>
						</div>

						

						<div class="row" style="margin-top:10px;">
							<div class="col-sm-3 offset-sm-9">
							    <%= link_to 'Reset filters', reset_filterrific_url, class: "float-right" %>
							</div>
						</div>

					</div>
					
					<hr style="margin-top:15px; margin-bottom: 25px; border-color: #515151;" />
					
				</div>



				<div class="form-group" >
					<div class="row">
					<div class="col-sm-8"><h4 style="padding-top:30px; margin-bottom: 0px;">Results</h4></div>	
					  <div class="col-sm-4 sort-options">
					    <!--<div class="form-label">Sorted by</div>-->
					    
					  </div>
					  
					</div>
				</div>
			<% end %>
				
			
			<div class="hw-loader"><%= render_filterrific_spinner %></div>


		<%= render(partial: 'terminals/list', locals: { terminals: @terminals }) %>

		
	</div>

<% end %>

</div>