<div class="container" style="padding-bottom: 125px;">

<div class="row">
		<div class="col-sm-8">
			<h1><%= @terminal.Model %></h1>
		</div>
		<div class="col-sm-4">
			<%= link_to "Back to search", terminals_path, class: "btn btn-primary btn-sm float-right", style: "margin-top:12px;" %>
		</div>
	</div>
<hr />


<div class="card">
	<div class="card-header">
		<h2 style="margin-bottom:0px;"><%= @manufacturer.Name %></h2>
		<span style="margin-top:-10px; color:slateblue;"><b><%= @terminal.Model %></b></span>
	</div>
	<div class="card-body">
		<b>Manufacturer:</b>&nbsp;<%= @manufacturer.Name %><br />
		<b>Model:</b>&nbsp;<%= @terminal.Model %><br />
		<b>TermCap Model:</b>&nbsp;<%= @terminal.TermcapModel %><br /><br />
		<b>Firmware:</b>
		Tested and works with ThinManager firmware&nbsp;&nbsp;[
		<% if @firmsort.any? %>
			<% if @firmsort.count == 1 %>
				<% @firmsort.each do |f| %>
					<%= f.Version %>
				<% end %>
			<% else %>
				<% @firmsort.each do |f| %>
					<%= f.Version %>, 
				<% end %>
			<% end %>
		<% end %>]<br /><br />
		<b>Monitor Capacity:</b>&nbsp;
			<% if @terminal.MaxMonitors == 0 %>
				No Monitor Count Available
			<% else %>
				<%= @terminal.MaxMonitors %>
			<% end %>
		<br />
		<b>Ethernet Count:</b>&nbsp;
			<% if @terminal.EthernetCount == 0 %>
				No Ethernet Port Count Available
			<% else %>
				<%= @terminal.EthernetCount %>
			<% end %>
		</br />
	</div>
</div>
<div style="margin-top: 12px;"><%= link_to "« Back", :back %></div>
<!--<div style="margin-top: 12px;"><a href="javascript:history.back()">« Back</a></div>-->

<div class="notes-area" style="margin-top: 35px; padding:0px 25px 25px 25px;">
	
	<div class="row">
		<div class="col-5">
			<h5>Termcap Note</h5>
		</div>
	</div>

	
	<% if !@termcapnote %>
		<span style="padding:20px;">
			no system note for this terminal
		</span>
	<% elsif @termcapnote.Desription == "" %>
		<span style="padding:20px;">
			no system note for this terminal
		</span> 
	<% else %>
		<span style="padding:20px;">
			<%= simple_format(@termcapnote.Description) %>
		</span>
	<% end %>


	<div class="row" style="margin-top:35px;">
		<div class="col-5">
			<h5>Additional Notes</h5>
		</div>
		<% if current_user && (current_user.admin || current_user.hw_admin) %>
		<div class="col-7">
			<span class="float-right">
				
				<% if !@note %>
					<%= link_to "Add Additional Note", new_termnote_path(:termcapmodel => @terminal.TermcapModel), class: "btn btn-sm btn-outline-secondary", style: "margin-top:5px;" %>
				<% else %>
					<%= link_to "Edit Additional Note", edit_termnote_path(@note), class: "btn btn-sm btn-outline-secondary", style: "margin-top:5px;" %>
				<% end %>
				
			</span>
		</div>
		<% end %>
	</div>

	
	<% if !@note %>
		<span style="padding:20px;">
			no additional notes for this terminal
		</span>
	<% elsif @note.note == "" %>
		<span style="padding:20px;">
			no additional notes for this terminal
		</span> 
	<% else %>
		<span style="padding:20px;">
			<%= simple_format(@note.note) %>
		</span>
	<% end %>
	
</div>



</div>






