<div id="filterrific_results">

  

  <% if @hardwares.any? %>
        <% @hardwares.each do |h| %>
          <div class="card" style="margin-bottom:15px;">
            <% if logged_in? && (current_user.admin? || current_user.hw_admin?) %>
              <div class="admin-edit"><%= link_to "edit", edit_hardware_path(h) %></div>
            <% end %>
            <div class="card-header">
              <p style="font-weight:bold; font-size:.9em;"><%= h.hwtype.name %></p>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-4">
                  <span class="card-sm-title">MODEL</span><br />
                  <span class="card-title"><%= link_to "#{h.model}", hardware_path(h) %></span>
                </div>
                <div class="col-4">
                  <span class="card-sm-title">MANUFACTURER</span><br />
                  <div class="card-text"><%= h.maker.name %></div>
                </div>
                <div class="col-4">
                  <% if h.hwtype.name == "Thin Client" && h.terminal_type != nil && h.terminal_type != "" %>
                    <span class="card-sm-title">BOOT TYPE</span><br />
                    <div class="card-text"><%= h.terminal_type %></div>
                  <% else %>
                    <span class="card-sm-title">STATUS</span><br />
                    <span class="card-title">
                      <% if h.hwstatus.name == "Compatible" %>
                        <%= image_tag "green_dot.png", style: "width:10px; height:10px; margin-top:-2px;" %>
                      <% elsif h.hwstatus.name == "Not Compatible" || h.hwstatus.name == "Incompatible" %>
                        <%= image_tag "red_dot.png", style: "width:10px; height:10px; margin-top:-2px;" %>
                      <% else %>
                        <%= image_tag "yellow_dot.png", style: "width:10px; height:10px; margin-top:-2px;" %>
                      <% end %>
                      <%= h.hwstatus.name %>
                    </span>
                  <% end %>
                </div>
              </div>
              <% if h.hwtype.name == "Thin Client" %>
            
              <hr style="margin-top: 10px; margin-bottom:7px;" />
              
              <div class="row">
                <div class="col-4">
                  <span class="card-sm-title">STATUS</span><br />
                  <span class="card-title">
                    <% if h.hwstatus.name == "Compatible" %>
                      <%= image_tag "green_dot.png", style: "width:10px; height:10px; margin-top:-2px;" %>
                    <% elsif h.hwstatus.name == "Not Compatible" || h.hwstatus.name == "Incompatible" %>
                      <%= image_tag "red_dot.png", style: "width:10px; height:10px; margin-top:-2px;" %>
                    <% else %>
                      <%= image_tag "yellow_dot.png", style: "width:10px; height:10px; margin-top:-2px;" %>
                    <% end %>
                    <%= h.hwstatus.name %></span>
                </div>
                <div class="col-4">
                  <span class="card-sm-title">FIRMWARE</span><br />
                  <% if h.min_firmware != nil && h.max_firmware != nil%>
                    <div class="card-text"><%= "#{h.min_firmware} - #{h.max_firmware}" %></div>
                  <% elsif h.min_firmware != nil && h.max_firmware == nil %>
                    <div class="card-text"><%= ">= #{h.min_firmware}" %></div>
                  <% elsif h.min_firmware == nil && h.max_firmware != nil %>
                    <div class="card-text"><%= "<= #{h.max_firmware}" %></div>
                  <% else %>
                    <div class="card-text">Unspecified</div>
                  <% end %>
                </div>
                <div class="col-4">
                  <span class="card-sm-title">CPU</span><br />
                  <% if h.cpu != "" %>
                    <div class="card-text"><%= h.cpu %></div>
                  <% else %>
                    <div class="card-text">Unspecified</div>
                  <% end %>
                </div>
              </div>


              <% end %>
            </div>

          </div>
            

  <% end %>
    <% if @hardwares.count > 20 %>
    <div class="paginate" style="margin-top:20px;">
      <%= will_paginate(@hardwares, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
    </div>
    <% end %>
  <% else %>
    <p style="text-align:center; margin-top:100px;">Your search has resulted in 0 results<br />reset filters and try again.</p>
  <% end %>





</div>

