<div id="filterrific_results">

  

  <% if @hardwares.any? %>
        <% @hardwares.each do |h| %>
          <div class="well" style="margin-bottom:5px;">
            <% if logged_in? && (current_user.admin? || current_user.hw_admin?) %>
              <div class="admin-edit"><%= link_to "edit", edit_hardware_path(h) %></div>
            <% end %>
            <div class="row">
              <div class="col-md-4">
                <h5 style="margin-bottom:0px;"><%= link_to "#{h.model}", hardware_path(h) %></h5>
              </div>
              <div class="col-md-4">
                <h5 style="margin-bottom: 0px;"><%= h.maker.name %></h5>
              </div>
              <div class="col-md-4">
                <h5 style="margin-bottom:0px;"><%= h.hwtype.name %></h5>
              </div>
            </div>
            <% if h.hwtype.name == "Thin Client" %>
            <hr style="margin:7px 0px;" />

            <div class="row">
              <div class="col-md-4" style="line-height:1.2em;"><span style="font-weight:bold;">Boot Type</span><br /><%= h.terminal_type %></div>
              <div class="col-md-4" style="line-height:1.2em;">
                <% if (h.min_firmware != nil && h.max_firmware != nil) %>
                  <span style="font-weight:bold;">Firmware</span><br /><%= "#{h.min_firmware}" + " - " + "#{h.max_firmware}" %>
                <% end %>
              </div>
              <div class="col-md-4" style="line-height:1.2em;"><span style="font-weight:bold;">CPU</span><br /><%= h.cpu %></div>
              
            </div>
            <% end %>
           
          </div>
        <% end %>
      <% else %>
        <p style="text-align:center; margin-top:100px;">Your search has resulted in 0 results<br />reset filters and try again.</p>
      <% end %>





</div>

