<div style="width: 98%; margin: auto;">

	<div class="row">
		<div class="col-sm-9">
			<h3 style="margin-bottom:0px; padding-left: 25px;">ThinManager Hardware</h3>
		</div>
		<div class="col-sm-3">
			<% if logged_in? && (current_user.admin? || current_user.hw_admin?) %>
				<%= link_to "Add Hardware", new_hardware_path, class: "btn btn-sm btn-primary float-right" %>
			<% end %>
		</div>
	</div>

	<hr />



	<div class="row hardware-container">
		<div class="col-3 side-filters">
			<h6>Hardware Types</h6>
			<% @types.each do |t| %>
				<%= check_box_tag(t.id) %>&nbsp;&nbsp;<%= t.name %><br />
			<% end %>
			<br />

			<h6>Brands</h6>
			<% @makers.each do |t| %>
				<%= check_box_tag(t.id) %>&nbsp;&nbsp;<%= t.name %><br />
			<% end %>
			<br />
			<h6>Boot Types</h6>
			<%= check_box_tag("ThinManager Ready") %>&nbsp;&nbsp;ThinManager Ready<br />
			<%= check_box_tag("PXE Boot") %>&nbsp;&nbsp;PXE Boot
		</div>
		<div class="col-9">
			<% if @hardwares.any? %>
				<% @hardwares.each do |h| %>
					<div class="well" style="margin-bottom:5px;">
						<% if logged_in? && (current_user.admin? || current_user.hw_admin?) %>
							<div class="admin-edit"><%= link_to "edit", edit_hardware_path(h) %></div>
						<% end %>
						<div class="row">
							<div class="col">
								<h5 style="margin-bottom:0px;"><%= link_to "#{h.model}", hardware_path(h) %></h5>
								<p style="line-height: 10px; margin-top:0px; margin-bottom:2px;"><small><%= h.maker.name %></small></p>
								<h6 style="margin-bottom:0px;"><%= h.hwtype.name %></h6>
								<hr />
								<div class="row">
									<div class="col-md-4" style="line-height:1.2em;"><span style="font-weight:bold;">Type</span><br /><%= h.terminal_type %></div>
									<div class="col-md-4" style="line-height:1.2em;"><span style="font-weight:bold;">Firmware</span><br /><%= h.min_firmware %> - <%= h.max_firmware %></div>
									<div class="col-md-4" style="line-height:1.2em;"><span style="font-weight:bold;">CPU</span><br /><%= h.cpu %></div>
									
								</div>
							</div>
						</div>
					</div>
				<% end %>
			<% else %>
				No Hardware yet identified
			<% end %>
		</div>
	</div>


</div>