

<%= render 'shared/errors', obj: @flex %>



<%= form_for(@flex, :html => {class: "form-horizontal", role: "form"}) do |f| %>

            <div class="form-group" id="ff-form-group">
                
                <div class="row">
                	<div class="col-md-6">
                        <div class="control-label"><%= f.label :name %></div>
                        <%= f.text_field :name, class: "form-control", placeholder: "Enter Business Name", autofocus: true, tabindex: "1" %>
                    </div>
                
                    <div class="col-md-3 currency-select">
                        <div class="control-label"><%= f.label "Select Currency" %></div>
                        <%= f.select :currency_id, Currency.all.collect {|currency| [currency.name, currency.id]}, class: "form-control", id: "field39", tabindex: "2" %>
                    </div>
                    <div class="col-md-3">
                        <div class="control-label"><%= f.label "Maintenance Exp" %></div>
                        <%= f.text_field :sm_exp, class: "form-control", tabindex: "3" %>
                    </div>   
                </div>
                
                <hr style="margin-top: 30px; margin-bottom: 25px;" />
                
                <div class="row">
                    <div class="col-sm-12">
                        <h5>Existing Configuration</h5>
                    </div>
                </div>

                <div class="existing-info-table">
                    <div class="row">
                        <div class="col-md-3">
                            <h4>Server</h4>
                            <div class="control-label"><%= f.label "Licenses in Support" %></div>
                            <%= f.text_field :ex_serv_sup, class: "form-control", tabindex: "4" %>
                            <div class="control-label"><%= f.label "Licenses Out of Support" %></div>
                            <%= f.text_field :ex_serv_nosup, class: "form-control", tabindex: "5" %>
                            <div class="control-label"><%= f.label "Years Out of Support" %></div>
                            <%= f.text_field :ex_serv_nosup_years, class: "form-control", tabindex: "6" %>
                        </div>
                        <div class="col-md-3">
                            <h4>Site</h4>
                            <div class="control-label"><%= f.label "Licenses in Support" %></div>
                            <%= f.text_field :ex_site_sup, class: "form-control", tabindex: "7" %>
                            <div class="control-label"><%= f.label "Licenses Out of Support" %></div>
                            <%= f.text_field :ex_site_nosup, class: "form-control", tabindex: "8" %>
                            <div class="control-label"><%= f.label "Years Out of Support" %></div>
                            <%= f.text_field :ex_site_nosup_years, class: "form-control", tabindex: "9" %>
                        </div>
                        <div class="col-md-3">
                            <h4>Simplex</h4>
                            <div class="control-label"><%= f.label "Licenses in Support" %></div>
                            <%= f.text_field :ex_simp_sup, class: "form-control", tabindex: "10" %>
                            <div class="control-label"><%= f.label "Licenses Out of Support" %></div>
                            <%= f.text_field :ex_simp_nosup, class: "form-control", tabindex: "11" %>
                            <div class="control-label"><%= f.label "Years Out of Support" %></div>
                            <%= f.text_field :ex_simp_nosup_years, class: "form-control", tabindex: "12" %>
                        </div>
                        <div class="col-md-3">
                            <h4>Redundant</h4>
                            <div class="control-label"><%= f.label "Licenses in Support" %></div>
                            <%= f.text_field :ex_red_sup, class: "form-control", tabindex: "13" %>
                            <div class="control-label"><%= f.label "Licenses Out of Support" %></div>
                            <%= f.text_field :ex_red_nosup, class: "form-control", tabindex: "14" %>
                            <div class="control-label"><%= f.label "Years Out of Support" %></div>
                            <%= f.text_field :ex_red_nosup_years, class: "form-control", tabindex: "15" %>
                        </div>
                    </div>
                 </div>



                <hr style="margin-top: 30px; margin-bottom: 25px;" />


                <div class="row">
                    <div class="col-sm-12">
                        <h5>Trade/New Configuration</h5>
                        <p style="margin-top: -10px; margin-left: 1px; color:#717171;">Total Redundant V-FLEX Terminals</p>
                    </div>
                </div>
                <div class="trade-info-table">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="control-label"><%= f.label "Trade for Server" %></div>
                            <%= f.text_field :tr_serv, class: "form-control", tabindex: "16" %>
                        </div>
                        <div class="col-md-3">
                            <div class="control-label"><%= f.label "Trade for Site" %></div>
                            <%= f.text_field :tr_site, class: "form-control", tabindex: "17" %>
                        </div>
                        <div class="col-md-3">
                            <div class="control-label"><%= f.label "New Simplex" %></div>
                            <%= f.text_field :new_simp, class: "form-control", tabindex: "18" %>
                        </div>
                        <div class="col-md-3">
                            <div class="control-label"><%= f.label "New Redundant" %></div>
                            <%= f.text_field :new_red, class: "form-control", tabindex: "19" %>
                        </div>
                    </div>
                </div>

            </div>
       

            <br />

            <div class="form-group">
                <div class="row">
                    <div class="col-md-12">
                        <div class="control-label"><%= f.label "Notes" %></div>
                        <%= f.text_area :note, class: "form-control", rows: "8", placeholder: "Enter Quote Notes Here", tabindex: "20" %>
                    </div>
                </div>    
            </div>


        <br /><br />
       
        <div class="form-group">
            <div class="row">
            <div class="col-sm-6">
                <%= f.submit(@flex.new_record? ? "Save Quote" : "Update Quote", class: "btn btn-primary btn-md", tabindex: "21") %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "Cancel", flexsaved_path, tabindex: "22" %>
            </div>
            <div class="col-sm-6 action-buttons-right">
                <% if @flex.new_record? %>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "Clear Form", "#", class: "btn btn-danger btn-md", tabindex: "23" %>
                <% end %>
            </div>
            </div>
            
        </div>
<% end %>




