

<%= render 'shared/errors', obj: @flex %>



<%= form_for(@flex, :html => {class: "form-horizontal", role: "form"}) do |f| %>

            <div class="form-group" id="ff-form-group">
                
                <div class="row">
                	<div class="col-sm-4">
                        <div class="control-label"><%= f.label :name %></div>
                        <%= f.text_field :name, class: "form-control", placeholder: "Enter Business Name", tabindex: "1" %>
                    </div>
                    <div class="col-sm-3 offset-sm-5 currency-select">
                        <div class="control-label"><%= f.label "Select Currency" %></div>
                        <%= f.select :currency_id, Currency.all.collect {|currency| [currency.name, currency.id]}, class: "form-control", id: "field39", tabindex: "2" %>
                    </div>   
                </div>

                <div class="row top-ff-header-row" id="">
                    <div class="col col-5 far-left-header">License Count</div>
                    <div class="col col-1">Existing Server</div>
                    <div class="col col-1">Existing Site</div>
                    <div class="col col-1">Simplex Pack</div>
                    <div class="col col-1">Redundant Pack</div>
                    <div class="col col-3 form-filler-space"></div>
                </div>

                <div class="row">
                    <div class="col col-5 far-left"># of Licenses in Support</div>
                    <div class="col col-1"><%= f.text_field :ex_serv_sup, class: "form-control", id: "field1", tabindex: "3" %></div>
                    <div class="col col-1"><%= f.text_field :ex_site_sup, class: "form-control", id: "field2", tabindex: "4" %></div>
                    <div class="col col-1"><%= f.text_field :ex_simp_sup, class: "form-control", id: "field3", tabindex: "5" %></div>
                    <div class="col col-1"><%= f.text_field :ex_red_sup, class: "form-control",  id: "field4", tabindex: "6" %></div>
                    <div class="col col-3 form-filler-space"></div>
                </div>

                <div class="row">
                    <div class="col col-5 far-left"># of Licenses Out of Support</div>
                    <div class="col col-1"><%= f.text_field :ex_serv_nosup, class: "form-control", id: "field5", tabindex: "7" %></div>
                    <div class="col col-1"><%= f.text_field :ex_site_nosup, class: "form-control", id: "field6", tabindex: "8" %></div>
                    <div class="col col-1"><%= f.text_field :ex_simp_nosup, class: "form-control", id: "field7", tabindex: "9" %></div>
                    <div class="col col-1"><%= f.text_field :ex_red_nosup, class: "form-control", id: "field8", tabindex: "10" %></div>
                    <div class="col col-3 form-filler-space"></div>
                </div>

                <div class="row">
                    <div class="col col-5 far-left"># of years Expired</div>
                    <div class="col col-1"><%= f.text_field :ex_serv_nosup_years, class: "form-control", id: "field9", tabindex: "11" %></div>
                    <div class="col col-1"><%= f.text_field :ex_site_nosup_years, class: "form-control", id: "field10", tabindex: "12" %></div>
                    <div class="col col-1"><%= f.text_field :ex_simp_nosup_years, class: "form-control", id: "field11", tabindex: "13" %></div>
                    <div class="col col-1"><%= f.text_field :ex_red_nosup_years, class: "form-control", id: "field12", tabindex: "14" %></div>
                    <div class="col col-3 form-filler-space"></div>
                </div>
            
            </div>
       



            <div class="form-group" id="second-ff-form-group">

                 <div class="row top-ff-header-row" id="">
                    <div class="col col-5 far-left-header"></div>
                    <div class="col col-1">Trade for Server</div>
                    <div class="col col-1">Trade for Site</div>
                    <div class="col col-1">Trade for Pack</div>
                    <div class="col col-1">Trade for R Pack</div>
                    <div class="col col-1">New Simplex</div>
                    <div class="col col-1">New Redundant</div>
                    <div class="col col-1">TOTAL</div>
                </div>

                <div class="row">
                    <div class="col col-5 far-left">Total Redundant V-FLEX Terminals Required:</div>
                    <div class="col col-1"><%= f.text_field :tr_serv, class: "form-control", id: "field13", tabindex: "15" %></div>
                    <div class="col col-1"><%= f.text_field :tr_site, class: "form-control", id: "field14", tabindex: "16" %></div>
                    <div class="col col-1"><span class="form-not-input" id="field15"><%= @flex.tr_simp %></span></div>
                    <div class="col col-1"><span class="form-not-input" id="field16"><%= @flex.tr_red %></span></div>
                    <div class="col col-1"><%= f.text_field :new_simp, class: "form-control", id: "field17", tabindex: "17" %></div>
                    <div class="col col-1"><%= f.text_field :new_red, class: "form-control", id: "field18", tabindex: "18" %></div>
                    <div class="col col-1"><span class="form-not-input" id="field19"><%= @flex.total_terms %></span></div>
                </div>

                <div class="row">
                    <div class="col col-5 far-left-unbold">Special Band Trade-Up Pricing:</div>
                    <div class="col col-1"><span class="form-not-input" id="field20"><%= @flex.tr_pr_serv %></span></div>
                    <div class="col col-1"><span class="form-not-input" id="field21"><%= @flex.tr_pr_site %></span></div>
                    <div class="col col-1"><span class="form-not-input" id="field22"><%= @flex.tr_pr_simp %></span></div>
                    <div class="col col-1"><span class="form-not-input" id="field23"><%= @flex.tr_pr_red %></span></div>
                    <div class="col col-1"><span class="form-not-input" id="field24"><%= @flex.new_pr_simp %></span></div>
                    <div class="col col-1"><span class="form-not-input" id="field25"><%= @flex.new_pr_red %></span></div>
                    <div class="col col-1"><span class="form-not-input" id="field26"><%= @flex.tr_pr_total %></span></div>
                </div>

                <div class="row">
                    <div class="col col-5 far-left-unbold">Total Credit for All Licenses:</div>
                    <div class="col col-1"><span class="form-not-input" id="field27"><%= @flex.tr_cred_serv %></span></div>
                    <div class="col col-1"><span class="form-not-input" id="field28"><%= @flex.tr_cred_site %></span></div>
                    <div class="col col-1"><span class="form-not-input" id="field29"><%= @flex.tr_cred_simp %></span></div>
                    <div class="col col-1"><span class="form-not-input" id="field30"><%= @flex.tr_cred_red %></span></div>
                    <div class="col col-1" id="field31">&nbsp;</div>
                    <div class="col col-1" id="field32">&nbsp;</div>
                    <div class="col col-1"><span class="form-not-input" id="field33"><%= @flex.tr_cred_total %></span></div>
                </div>
                <br /><br />
                
                <div class="row">
                    <div class="col col-6 offset-sm-5 far-left-unbold">Cost to Trade-Up:</div>
                    <div class="col col-1"><span class="form-not-input" id="field34"><%= @flex.total_tr_cost %></span></div>    
                </div>

                <div class="row">
                    <div class="col col-6 offset-sm-5 far-left-unbold">Maintenance Due:</div>
                    <div class="col col-1"><span class="form-not-input" id="field35"><%= @flex.total_maint %></span></div>    
                </div>
                
                <div class="totals-area">
                    <div class="row">
                        <div class="col col-6 offset-sm-5 far-left-unbold bold-align-right" style="background-color: lightgreen; padding-right: 10px;">Terminal Connection Count:</div>
                        <div class="col col-1" style="background-color:lightgreen;"><span class="form-not-input" id="field36"><%= @flex.total_terms %></span></div>    
                    </div>

                    <div class="row">
                        <div class="col col-6 offset-sm-5 far-left-unbold bold-align-right" style="background-color: lightgreen; padding-right: 10px;">Software Maintenance Expiration Date on Renewal:</div>
                        <div class="col col-1" style="background-color:lightgreen;"><span class="form-not-input" id="field37"><%= @flex.sm_exp %></span></div>    
                    </div>

                    <div class="row">
                        <div class="col col-6 offset-sm-5 far-left-unbold bold-align-right" style="background-color: lightgreen; padding-right: 10px;">Total Quote:</div>
                        <div class="col col-1" style="background-color:lightgreen;"><span class="form-not-input" id="field38"><%= @flex.total_quote %></span></div>    
                    </div>
                </div>

            </div>

            <br />

            <div class="form-group">
                <tr>
                    <td>
                        <div class="control-label"><%= f.label "Notes" %></div>
                        <%= f.text_area :note, class: "form-control", rows: "10", placeholder: "Enter Quote Notes Here", tabindex: "19" %>
                    </td>
                </tr>
            </div>


        <br /><br />
       
        <div class="form-group">
            <div class="row">
            <div class="col-sm-6">
                <%= f.submit(@flex.new_record? ? "Save Form" : "Update Form", class: "btn btn-primary btn-md") %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "Cancel to Dashboard", root_path %>
            </div>
            <div class="col-sm-6 action-buttons-right">
                <%= link_to "Print Form", "#", class: "btn btn-info btn-md", id: "print" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "Clear Form", "#", class: "btn btn-danger btn-md" %>
            </div>
            </div>
            
        </div>
<% end %>














<script>
    (function(){

        $('body').on('keydown', 'input, select', function(e) {
            if (e.key === "Enter") {
                var self = $(this), form = self.parents('form:eq(0)'), focusable, next;
                focusable = form.find('input,a,select,button,textarea').filter(':visible');
                next = focusable.eq(focusable.index(this)+1);
                if (next.length) {
                    next.focus();
                } else {
                    form.submit();
                }
                return false;
            }
        });

        "use strict";

        // quote expiration date
        var expDate = new Date();
        var dd = String(expDate.getDate()).padStart(2, '0');
        var mm = String(expDate.getMonth() + 1).padStart(2, '0'); //January is 0!
        var yyyy = expDate.getFullYear() + 1;
        expDate = mm + '/' + dd + '/' + yyyy;
        // add if statement in case of edit
        //if $('#field37').text == " " {
        $('#field37').text(expDate);
        //}
        

        $('input').on('change', function() {
            
            //V-Flex Prices
            var vfRedPrices = [3400, 1870, 1700, 1360, 1190, 1020];
            var smrPrices = [400, 220, 200, 160, 140, 120];
            var vfNonRedPrices = [2400, 1320, 1200, 960, 840, 720];

            var field1 = $("#field1").val();
            var field2 = $("#field2").val();
            var field3 = $("#field3").val();
            var field4 = $("#field4").val();
            var field5 = $("#field5").val();
            var field6 = $("#field6").val();
            var field7 = $("#field7").val();
            var field8 = $("#field8").val();
            var field9 = $("#field9").val();
            var field10 = $("#field10").val();
            var field11 = $("#field11").val();
            var field12 = $("#field12").val();
            var field13 = $("#field13").val();
            var field14 = $("#field14").val();
            var field17 = $("#field17").val();
            var field18 = $("#field18").val();

            field1 = Number(field1);
            field2 = Number(field2);
            field3 = Number(field3);
            field4 = Number(field4);
            field5 = Number(field5);
            field6 = Number(field6);
            field7 = Number(field7);
            field8 = Number(field8);
            field9 = Number(field9);
            field10 = Number(field10);
            field11 = Number(field11);
            field12 = Number(field12);
            field13 = Number(field13);
            field14 = Number(field14);
            field17 = Number(field17);
            field18 = Number(field18);


            function currencyFormat(num) {
              return '$' + num.toFixed(2).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')
            }

            var field15 = field3 + field7;
            var field16 = field4 + field8; 

            var field20 = 600 * field13;
            //currency here?
            $("#field20").text('$'+field20.toFixed(2));
            

            var field21 = 600 * field14;
            //currency here?
            $("#field21").text('$'+field21.toFixed(2));
            
            

            var totalTerms = Number(field13) + Number(field14) + Number(field15) + Number(field16) + Number(field17) + Number(field18);
            
            $("#field15").text(field15);
            $("#field16").text(field16);
            $("#field19").text(totalTerms);
            if (totalTerms >= 0) {
                $("#field36").text(totalTerms);
            }

            function findRange(terminalCount) {
                var terminalRange;
                if (terminalCount >= 0 && terminalCount < 5) {
                    var terminalRange = 0;  
                } else if (terminalCount >=5 && terminalCount < 50) {
                    var terminalRange = 1;
                } else if (terminalCount >=50 && terminalCount < 100) {
                    var terminalRange = 2;
                } else if (terminalCount >=100 && terminalCount < 250) {
                    var terminalRange = 3;
                } else if (terminalCount >=250 && terminalCount < 500) {
                    var terminalRange = 4;
                } else if (terminalCount >=500) {
                    var terminalRange = 5;
                }
                return terminalRange;
            }
            
            var currentRange = findRange(totalTerms);
            var tradePackRange = findRange(field15);
            var tradeRPackRange = findRange(field16);

            var simplexPricePer = vfNonRedPrices[currentRange];
            var redundPricePer = vfRedPrices[currentRange];
            var tradeSimplexPricePer = vfNonRedPrices[tradePackRange];
            var tradeRedPricePer = vfRedPrices[tradeRPackRange];

            var totalNewSimplexCost = simplexPricePer * field17;
            var field24 = totalNewSimplexCost;
            if (field24 > 0) {
                //currency here?
                $("#field24").text("$"+field24.toFixed(2));
            } else {
                $("#field24").text("$"+0);
            }
            
            var totalNewRedCost = redundPricePer * field18;
            var field25 = totalNewRedCost;
            if (field25 > 0) {
                //currency here?
                $("#field25").text("$"+field25.toFixed(2));
            } else {
                $("#field25").text("$"+0);
            }

            var totalTradeSimplex = tradeSimplexPricePer * field15;
            var totalTradeRed = tradeRedPricePer * field16;

            if (totalTradeSimplex > 0) {
                var field22 = totalTradeSimplex;
            } else {
                var field22 = 0;
            };
            //currency here?
            $("#field22").text("$"+field22.toFixed(2));
            

            if (totalTradeRed > 0) {
                var field23 = totalTradeRed;
            } else {
                var field23 = 0;
            };
            //currency here?
            $("#field23").text("$"+field23.toFixed(2));

            var totalTradeUpPricing = field20 + field21 + field22 + field23 + field24 + field25;

            var field26 = totalTradeUpPricing;
            if (field26 > 0) {
                //currency here?
                $("#field26").text("$"+field26.toFixed(2));
            } else {
                $("#field26").text("$"+0);
            };
            
            
            // Credit Calculations *****************************************

            var field27;
            var field28;
            var field29;
            var field30;
            var field31;
            var field32;
            var field33;
            var field34;
            var field35;
            var field38;


            var creditForServerLicensesWithSupport = 61150 * field1;
            var creditForServerLicensesNoSupport = (1-(0.2*field9))*(field5*61150);
            if (creditForServerLicensesNoSupport < 0) {
                creditForServerLicensesNoSupport = 0;
            }
            var totalCreditsServer = creditForServerLicensesWithSupport + creditForServerLicensesNoSupport // No negative
            if (totalCreditsServer < 0) {
                totalCreditsServer = 0;
            };

            if (totalCreditsServer > field20) {
                $("#field27").text("$"+field20.toFixed(2));
                field27 = field20;
            } else {
                //currency here?
                $("#field27").text("$"+totalCreditsServer.toFixed(2));
                field27 = totalCreditsServer;
            };
            

            var creditForSiteLicensesWithSupport = 134000 * field2;
            var creditForSiteLicensesNoSupport = (1-(0.2*field10))*(field6*134000);
            if (creditForSiteLicensesNoSupport < 0) {
                creditForSiteLicensesNoSupport = 0;
            }
            var totalCreditsSite = creditForSiteLicensesWithSupport + creditForSiteLicensesNoSupport // No negative
            if (totalCreditsSite < 0) {
                totalCreditsSite = 0;
            };

            if (totalCreditsSite > field21) {
                $("#field28").text("$"+field21.toFixed(2));
                field28 = field21;
            } else {
                //var totalCreditsSiteCurrency = currencyFormat(totalCreditsSite);
                $("#field28").text("$"+totalCreditsSite.toFixed(2));
                field28 = totalCreditsSite;
            };


            var creditForPackLicensesWithSupport = field3 * tradeSimplexPricePer;
            var creditForPackLicensesNoSupport = (1-(0.2*field11))*(field7*tradeSimplexPricePer);
            if (creditForPackLicensesNoSupport < 0) {
                creditForPackLicensesNoSupport = 0;
            }
            var totalCreditsPack = creditForPackLicensesWithSupport + creditForPackLicensesNoSupport; // No negative
            if (totalCreditsPack < 0) {
                totalCreditsPack = 0;
            };

            if (totalCreditsPack > field22) {
                $("#field29").text("$"+field22.toFixed(2));
                field29 = field22;
            } else {
                $("#field29").text("$"+totalCreditsPack.toFixed(2));
                field29 = totalCreditsPack;
            };
            

            var creditForRPackLicensesWithSupport = field4 * tradeRedPricePer;
            var creditForRPackLicensesNoSupport = (1-(0.2*field12))*(field8*tradeRedPricePer);
            if (creditForRPackLicensesNoSupport < 0) {
                creditForRPackLicensesNoSupport = 0;
            }
            var totalCreditsRPack = creditForRPackLicensesWithSupport + creditForRPackLicensesNoSupport; // No negative
            if (totalCreditsRPack < 0) {
                totalCreditsRPack = 0;
            }

            if (totalCreditsRPack > field23) {
                $("#field30").text("$"+field23.toFixed(2));
                field30 = field23;
            } else {
                //currency here?
                $("#field30").text("$"+totalCreditsRPack.toFixed(2));
                field30 = totalCreditsRPack;
            };
            
            field33 = field27 + field28 + field29 + field30;
            if (field33 > 0) {
                $("#field33").text("$"+field33.toFixed(2));
            } else {
                $("#field33").text("$"+0);
            };

            field34 = field26 - field33;
            var field34b = currencyFormat(field34);
            $("#field34").text(field34b);

            var termsForSM = field13 + field14 + field15 + field16;
            var SMRange = findRange(termsForSM);
            var smPricePer = smrPrices[currentRange]; // This is the total term range ********************
            field35 = smPricePer * termsForSM;
            var field35b = currencyFormat(field35);
            $("#field35").text(field35b);


            field38 = field34 + field35;
            var field38b = currencyFormat(field38);
            $("#field38").text(field38b);
        });



        $("#reset").click(function() {
            refresh();
        });


        $("#print").click(function() {
            print();
            return false;
        });

    })();
</script>

