<div class="container">

<div class="row">
	<div class="col-md-9">
		<h1>Saved Flex Forward Quotes</h1>
		<h5 style="color:grey; margin-top: -7px;"><%= @user.firstname %> <%=@user.lastname %></h5>
	</div>
	<div class="col-md-3">
		<div class="edit_ff_btn"><%= link_to "New Quote", new_flexforward_path, class: "btn btn-primary" %></div>
	</div>
</div>
<hr />



<% if @flexes.count < 1 %>


		<p>You do not have any saved flex forward quotes created.  Start one <%= link_to "here", new_flexforward_path %>.</p>

<% else %>

<%= render "header_index" %>

<% end  %>

<% @flexes.each do |f| %>

	<div class="well ff-well-style">
		<div class="row">
			<div class="col-md-4"><%= link_to "#{f.name}", flexforward_path(f) %></div>
			<div class="col-md-3"><%= number_to_currency(f.total_quote, unit: f.currency.symbol, seperator: ",") %></div>
			<div class="col-md-3"><%= f.user.firstname %> <%= f.user.lastname %></div>
			<div class="col-md-1"><%= link_to "Edit", edit_flexforward_path(f) %></div>
			<div class="col-md-1"><%= link_to "Delete", flexforward_path(f), method: :delete, data: {confirm: "Are you sure you want to delete this Flex Foward Calculator?"}, style: "color:red;", class: "right-to-not" %></div>
		</div>
	</div>


	
 

<% end %>






</div>