<div class="container" style="padding-bottom: 70px;">
<h1>Flex Forward Calculators <span style="font-size: .4em; font-style: italic; font-weight:normal;">&nbsp;( <%= pluralize(@flexforwards.count, "total quotes") %> )</span></h1>
<hr />
<div class="legend">
	<p><%= image_tag("green_dot.png") %> = Exchange for Redundant</p>
</div>

<%= render "search" %>
<br />
<div class="paginate">
	<%= will_paginate(@flexforwards, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, class: "justify-content-center") %>
</div>

<%= render "header_index" %>

<% @flexforwards.each do |f| %>
<% if f.red_exchange %>
<div class="indicator">
	<%= image_tag("green_dot.png") %>
</div>
<% end %>
<div class="well ff-well-style">
	<div class="row">
		<div class="col-lg-4"><%= link_to "#{f.name}", flexforward_path(f) %></div>
		<div class="col-lg-2"><%= number_to_currency(f.total_quote, unit: f.currency.symbol, seperator: ",") %></div>
		<div class="col-lg-2"><%= f.created_at.strftime("%m/%d/%Y") %></div>
		<div class="col-lg-2"><%= link_to "#{f.user.firstname} #{f.user.lastname}", user_path(f.user) %></div>
		<div class="col-lg-1"><%= link_to "Edit", edit_flexforward_path(f) %></div>
		<div class="col-lg-1"><%= link_to "Delete", flexforward_path(f), method: :delete, data: {confirm: "Are you sure you want to delete this Flex Foward Calculator?"}, style: "color:red; float:right;" %></div>
	</div>
</div>



<% end %>
<br /><br />
<div class="paginate">
	<%= will_paginate(@flexforwards, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, class: "justify-content-center") %>
</div>

</div>