<div class="container">

<%= render 'shared/errors', obj: @firmware %>

<%= form_for(@firmware, :html => {class: "form-horizontal", role: "form"}) do |f| %>

<div class="col-md-4 offset-md-4">

            <div class="form-group">
                <div class="row">
                    <%= f.label :version %>
                </div>
                <div class="row">
                    <%= f.text_field :version, class: "form-control", placeholder: "Enter Firmware Version Number", autofocus: true %>
                </div>
            </div>
       

        <br />
        	<div class="row">
	            <%= f.submit(@firmware.new_record? ? "Create Version" : "Update Version", class: "btn btn-primary btn-lg") %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "Cancel", :back, style: "padding-top:12px;" %>
	        </div>
    <% end %>
    




</div>