<div class="ra-top-bar">
    <div class="ra-top-left">
      <div class="ra-links">
        <ul>
          <a href="http://www.rockwellautomation.com" target="_blank"><li id="rockwell-logo"><img src="https://thinmanager.com/images/RA-topbar-logo.png" alt="Rockwell Automation" /></li></a>
          <li class="divider-bar" style="margin-top: -4px; margin-left: 5px; margin-right: 12px;">|</li>
          <a href="http://www.rockwellautomation.com/rockwellsoftware/overview.page" target="_blank"><li id="rockwell-software"><img src="https://thinmanager.com/images/RA_FT-topbar.png" alt="Rockwell Software" /></li></a>
        </ul>
      </div>
    </div>
    <div class="content-box">
      <div class="quick-nav-icons">
        <a href="https://downloads.thinmanager.com"><div class="qn-icon qn-icon-download"></div></a>
        <a href="http://www.thinmanager.com/search.php"><div class="qn-icon qn-icon-search"></div></a>
        <a href="http://www.thinmanager.com/corp/contactus.php"><div class="qn-icon qn-icon-questions"></div></a>
      </div>
    </div>
</div>

<nav class="navbar navbar-expand-xl navbar-light bg-light main-nav">
  <div class="container-fluid">
  <div class="logo">
      <%= link_to image_tag("thinMan.png"), "https://thinmanager.com" %>
  </div>
  <% if current_user != nil %>
  <button class="navbar-toggler navbar-toggler-right navbar-light" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
  <span class="burger" style="margin-right:0px;"><%= image_tag "burger.png" %></span>
  </button>
  <% end %>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="nabar-nav nav nav-fill">
      <% if logged_in? %>
            <li class="nav-item">
              <%= link_to "Dashboard", root_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to "Profile", user_path(current_user), class: 'nav-link' %>
            </li>
            <% if (current_user.admin? || ((current_user.continent == "North America" || current_user.continent == "NA") && current_user.prttype == "Distributor")) %>
              <li class="nav-item">
                <%= link_to "Pricing", pricing_path, class: 'nav-link' %>
              </li>
            <% end %>
            
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Events
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%= link_to "All Events", events_path, class: 'dropdown-item' %>
                <%= link_to "My Events", user_path(current_user), class: 'dropdown-item' %>
              </div>
            </li>
            
            <% if (!current_user.needs_review) || (current_user.admin?) %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                QR Codes
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%= link_to "View Saved QR Codes", user_myqrs_path, class: 'dropdown-item' %>
                <%= link_to "Create QR Code", new_qrcode_path, class: 'dropdown-item' %>
              </div>
            </li>
            <% end %>

            <% if (current_user.prttype == "Distributor") || (current_user.admin?) %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Flex Forward
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%= link_to "View Saved Quotes", flexsaved_path, class: 'dropdown-item' %>
                <%= link_to "Create New Quote", new_flexforward_path, class: 'dropdown-item' %>
              </div>
            </li>
            <% end %>
            <li class="nav-item horizontal-divider">
              <div class="nav-divider-horizatonal"></div>
            </li>
            <% if current_user.admin? %>
              <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Admin
              </a>
              <div class="dropdown-menu admin-menu" aria-labelledby="navbarDropdown">
                    
                    <div class="dropdown-submenu dropdown-menu-right">
                      <a id="user-submenu" class="dropdown-toggle dropdown-item" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Users <span class="caret"></span>
                      </a>
                      <div class="dropdown-menu">
                          <%= link_to "View Users", users_path, class: 'dropdown-item' %>
                          <%= link_to "Base Users", "/user/review?sort=created_at desc", class: 'dropdown-item' %>
                          <%= link_to "Create User", new_user_path, class: 'dropdown-item' %>
                      </div>
                    </div>

                    
                    
                    
                    <div class="dropdown-divider"></div>
                    <%= link_to "Reports", reports_path, class: 'dropdown-item' %>
                    <div class="dropdown-divider"></div>
                    <%= link_to "Flex Forwards", flexforwards_path, class: 'dropdown-item' %>
                    <%= link_to "Currencies", currencies_path, class: 'dropdown-item' %>
                    <%= link_to "Downloads", downloads_path, class: 'dropdown-item' %>
                    <%= link_to "ROI Downloads", calculators_path, class: 'dropdown-item' %>
                    <%= link_to "QR Codes", qrcodes_path, class: 'dropdown-item' %>
                    

                    <div class="dropdown-divider"></div>


                    <div class="dropdown-submenu dropdown-menu-right">
                      <a id="user-submenu" class="dropdown-toggle dropdown-item" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Certification <span class="caret"></span>
                      </a>
                      <div class="dropdown-menu">
                          <%= link_to "Sign Ups", "/user/allsignups?sort=created_at desc", class: 'dropdown-item' %>
                          <%= link_to "Lab Uploads", uploads_path, class: 'dropdown-item' %>
                          <%= link_to "Re-Certifications", certifications_path, class: 'dropdown-item' %>
                          <%= link_to "RAU Sign Ups", user_rauusers_path, class: "dropdown-item" %>
                      </div>
                    </div>
                    

                    <div class="dropdown-divider"></div>


                    <div class="dropdown-submenu dropdown-menu-right">
                      <a id="user-submenu" class="dropdown-toggle dropdown-item" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Learning <span class="caret"></span>
                      </a>
                      <div class="dropdown-menu">
                          <%= link_to "Sign Ups", "/user/learnsignups?sort=created_at desc", class: 'dropdown-item' %>
                          <%= link_to "Quizzes", quizzes_path, class: 'dropdown-item' %>
                          <%= link_to "Categories", categories_path, class: 'dropdown-item' %>
                          <%= link_to "Videos", videos_path, class: 'dropdown-item' %>
                      </div>
                    </div>


                    <div class="dropdown-divider"></div>


                    <div class="dropdown-submenu dropdown-menu-right">
                      <a id="user-submenu" class="dropdown-toggle dropdown-item" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Hardware <span class="caret"></span>
                      </a>
                      <div class="dropdown-menu">
                          <%= link_to "Hardware", hardwares_path, class: 'dropdown-item' %>
                          <%= link_to "Hardware Companies", "/makers?sort=name", class: 'dropdown-item' %>
                          <%= link_to "Hardware Types", hwtypes_path, class: 'dropdown-item' %>
                          <%= link_to "Testing Statuses", hwstatuses_path, class: 'dropdown-item' %>
                          <%= link_to "Firmware", firmwares_path, class: 'dropdown-item' %>
                      </div>
                    </div>


                    <div class="dropdown-divider"></div>


                    <div class="dropdown-submenu dropdown-menu-right">
                      <a id="user-submenu" class="dropdown-toggle dropdown-item" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Events <span class="caret"></span>
                      </a>
                      <div class="dropdown-menu">
                          <%= link_to "Events", event_admin_path, class: 'dropdown-item' %>
                          <%= link_to "Event Types", evtcategories_path, class: 'dropdown-item' %>
                          <%= link_to "Type Groups/Tags", tags_path, class: 'dropdown-item' %>
                          <%= link_to "Venues", venues_path, class: 'dropdown-item' %>
                          <div class="dropdown-divider"></div>
                          <%= link_to "Create Event", new_event_path, class: 'dropdown-item' %>
                      </div>
                    </div>
                    
                    
              </div>
            </li>

            <% end %>


            <% if !current_user.admin? && current_user.hw_admin? %>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Hardware
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <%= link_to "Hardware", hardwares_path, class: 'dropdown-item' %>
                  <%= link_to "Hardware Companies", "/makers?sort=name", class: 'dropdown-item' %>
                  <%= link_to "Hardware Types", hwtypes_path, class: 'dropdown-item' %>
                  <%= link_to "Testing Statuses", hwstatuses_path, class: 'dropdown-item' %>
                  <%= link_to "Firmware", firmwares_path, class: 'dropdown-item' %>
                </div>
              </li>
            <% end %>


            <% if !current_user.admin? && current_user.evt_admin? %>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Events
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <%= link_to "Events", event_admin_path, class: 'dropdown-item' %>
                  <%= link_to "Event Types", evtcategories_path, class: 'dropdown-item' %>
                  <%= link_to "Type Groups/Tags", tags_path, class: 'dropdown-item' %>
                  <%= link_to "Venues", venues_path, class: 'dropdown-item' %>
                  <div class="dropdown-divider"></div>
                  <%= link_to "Create Event", new_event_path, class: 'dropdown-item' %>
                </div>
              </li>
            <% end %>


            <li class="nav-item">
              <%= link_to "Logout", logout_path, method: :delete, class: 'nav-link' %>
            </li>
      <% end %>
    </ul>
  </div>

  <div class="goAwaySoonest">
    <ul class="nav navbar-nav navbar-right">
      <% if !current_user || !current_user.admin? %>
      <li style="font-style:italic; padding-right:50px; font-size: .85em;"><a href="mailto:bharned@thinmanager.com?subject=Portal Web App Issue Report" class="nav-link">Having technical issues?</a></li>
      <% end %>
      <li class="dropdown" style="<% if !current_user || !current_user.admin? %>padding-top: 5px;<% end %>">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="appear">Support </span><span class="goAway glyphicon glyphicon-option-vertical" aria-hidden="true"></span> <span class="appear"><span class="caret"></span></span><span class="burger"><%= image_tag "burger.png" %></span></a>
            <ul class="dropdown-menu nav-right-options">
              <li><a class="dropdown-item" href="https://thinmanager.com">ThinManager.com</a></li>
              <li><a class="dropdown-item" href="https://thinmanager.com/support/">ThinManager Support</a></li>
              <li><a class="dropdown-item" href="https://thinmanager.com/corp/contactus.php">Contact Us</a></li>
              <div class="dropdown-divider"></div>
              <% if logged_in? %>
                <li><%= link_to "Logout", logout_path, method: :delete, class: "dropdown-item" %></li>
              <% else %>
                <li><%= link_to "Login", login_path, class: "dropdown-item" %></li>
              <% end %>
            </ul>
          </li>
    </ul>
  </div>
  </div>
</nav>