<div class="ra-top-bar">
    <div class="ra-top-left">
      <div class="ra-links">
        <ul>
          <a href="http://www.rockwellautomation.com" target="_blank"><li id="rockwell-logo"><img src="https://thinmanager.com/images/RA-topbar-logo.png" alt="Rockwell Automation" /></li></a>
          <li class="divider-bar" style="margin-top: -4px; margin-left: 5px; margin-right: 12px;">|</li>
          <a href="http://www.rockwellautomation.com/rockwellsoftware/overview.page" target="_blank"><li id="rockwell-software"><img src="https://thinmanager.com/images/RA_FT-topbar.png" alt="Rockwell Software" /></li></a>
        </ul>
      </div>
    </div>
    <div class="content-box">
      <div class="quick-nav-icons">
        <a href="https://downloads.thinmanager.com"><div class="qn-icon qn-icon-download"></div></a>
        <a href="http://www.thinmanager.com/search.php"><div class="qn-icon qn-icon-search"></div></a>
        <a href="http://www.thinmanager.com/corp/contactus.php"><div class="qn-icon qn-icon-questions"></div></a>
      </div>
    </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light main-nav">
  <div class="logo">
      <%= link_to image_tag("thinMan.png"), root_path %>
  </div>
  <button class="navbar-toggler navbar-toggler-right navbar-light" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="burger" style="margin-right:0px;"><%= image_tag "burger.png" %></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="nav nav-fill">
      <% if logged_in? %>
            <li class="nav-item">
              <%= link_to "Dashboard", root_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to "Profile", user_path(@current_user), class: 'nav-link' %>
            </li>
            <% if @current_user.admin || (@current_user.continent == "North America" && @current_user.prttype == "Distributor") %>
              <li class="nav-item">
                <%= link_to "Pricing", pricing_path, class: 'nav-link' %>
              </li>
            <% end %>
            <% if @current_user.prttype != "Integrator" %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Flex Forward
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%= link_to "View Saved Quotes", flexsaved_path, class: 'dropdown-item' %>
                <%= link_to "Create New Quote", new_flexforward_path, class: 'dropdown-item' %>
              </div>
            </li>
            <% end %>
            <li class="nav-item horizontal-divider">
              <div class="nav-divider-horizatonal"></div>
            </li>
            <% if @current_user.admin %>
              <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Admin
              </a>
              <div class="dropdown-menu admin-menu" aria-labelledby="navbarDropdown">
                
                
                    <%= link_to "View Users", users_path, class: 'dropdown-item' %>
                    <%= link_to "Create User", new_user_path, class: 'dropdown-item' %>
                    <div class="dropdown-divider"></div>
                    <%= link_to "Flex Forwards", flexforwards_path, class: 'dropdown-item' %>
                    <%= link_to "Currencies", currencies_path, class: 'dropdown-item' %>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">Reports</a>
                    <%= link_to "Downloads", downloads_path, class: 'dropdown-item' %>
                    <%= link_to "ROI Downloads", calculators_path, class: 'dropdown-item' %>
                    <div class="dropdown-divider"></div>
                
                <%= link_to "Logout", logout_path, method: :delete, class: 'dropdown-item' %>
              </div>
            </li>
            <% end %>
            <li class="nav-item">
              <%= link_to "Logout", logout_path, method: :delete, class: 'nav-link' %>
            </li>
      <% end %>
    </ul>
  </div>

  <div class="goAwaySooner">
    <ul class="nav navbar-nav navbar-right">
      <li style="font-style:italic; padding-right:50px; font-size: .85em;"><a href="mailto:bharned@thinmanager.com?subject=Video Learning Issue Report" class="nav-link">Having technical issues?</a></li>
      <li class="dropdown" style="padding-top: 5px;">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="appear">Support </span><span class="goAway glyphicon glyphicon-option-vertical" aria-hidden="true"></span> <span class="appear"><span class="caret"></span></span><span class="burger"><%= image_tag "burger.png" %></span></a>
            <ul class="dropdown-menu nav-right-options">
              <li><a class="dropdown-item" href="http://www.thinmanager.com">ThinManager.com</a></li>
              <li><a class="dropdown-item" href="http://www.thinmanager.com/support/">ThinManager Support</a></li>
              <li><a class="dropdown-item" href="http://www.thinmanager.com/corp/contactus.php">Contact Us</a></li>
            </ul>
          </li>
    </ul>
  </div>
</nav>